html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  min-height: 100vh;
  background: #ffffff; }

body {
  line-height: 1;
  font-family: sans-serif;
  min-height: 100%; }
  body.act-loaded {
    overflow: hidden; }

.wrapper {
  min-height: 100%;
  height: 100%;
  position: relative; }
  .wrapper.act-loaded {
    overflow: hidden; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: currentColor;
  cursor: pointer; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px;
  background: #303A43;
  height: 100%; }

body {
  height: 100%;
  /* Hide scrollbar */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }
  body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera  */ }

.scrollElement {
  position: absolute;
  height: 11000px;
  width: 100px;
  top: 0;
  z-index: 0; }
  @media (max-width: 600px) {
    .scrollElement {
      height: 7200px; } }

.container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden; }
  .container::before {
    content: "";
    display: block;
    height: 100%;
    width: 325.58747vh; }
  .container__loaded {
    display: block; }
  @media (min-aspect-ratio: 2494 / 766) {
    .container {
      display: none; } }

.scenery {
  pointer-events: none; }

.logo {
  height: 18vh;
  left: 24px;
  top: 0;
  position: fixed; }
  @media (max-width: 600px) {
    .logo {
      max-width: 65vw;
      height: auto; } }

.menu {
  position: fixed;
  height: 80px;
  width: 80px;
  right: 32px;
  top: 32px;
  border-radius: 50%;
  color: #2d3640;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 32px -6px #444444cc;
          box-shadow: 0 4px 32px -6px #444444cc;
  cursor: pointer;
  z-index: 2; }
  @media (max-width: 600px) {
    .menu {
      height: 48px;
      width: 48px;
      right: 16px;
      top: 16px; } }
  .menu--active {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .menu__icon {
    position: relative;
    background: currentColor;
    height: 4px;
    width: 28px; }
    .menu--active .menu__icon {
      background: #fff; }
    .menu__icon::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: currentColor;
      -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
              transform: translateY(-10px);
      content: "";
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center; }
      .menu--active .menu__icon::before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .menu__icon::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: currentColor;
      -webkit-transform: translateY(10px);
          -ms-transform: translateY(10px);
              transform: translateY(10px);
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      content: "";
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
      .menu--active .menu__icon::after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
  .menu__list {
    height: 100vh;
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 60px;
    position: fixed;
    left: 100%;
    background: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .menu--active + .menu__list {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
  .menu__item {
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative; }
    .menu__item:not(:last-child) {
      margin-bottom: 40px; }
    .menu__item svg {
      position: absolute;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 0; }
    .menu__item:hover svg {
      left: -24px;
      opacity: 1; }

.ribbon {
  position: absolute;
  width: 24.74419%;
  top: -16.58355%;
  left: 31.54611%;
  background-image: url("../assets/ribbon.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ribbon::before {
    content: "";
    display: block;
    padding-top: 37.5081%; }
  .ribbon-1 {
    position: absolute;
    width: 26.18284%;
    top: -20.23499%;
    left: 54.77145%;
    background-image: url("../assets/ribbon-1.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat; }
    .ribbon-1::before {
      content: "";
      display: block;
      padding-top: 45.94181%; }
  .ribbon-2 {
    position: absolute;
    width: 24.74419%;
    top: -10.59269%;
    left: 85.28549%;
    background-image: url("../assets/ribbon-2.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat; }
    .ribbon-2::before {
      content: "";
      display: block;
      padding-top: 37.5081%; }

.vegetableBasket {
  position: absolute;
  width: 14.8757%;
  top: 79.89556%;
  left: 19.48677%;
  background-image: url("../assets/vegetableBasket.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .vegetableBasket::before {
    content: "";
    display: block;
    padding-top: 71.15903%; }

.grandma {
  position: absolute;
  width: 21.85646%;
  top: 50.13055%;
  left: 61.26704%; }
  .grandma::before {
    content: "";
    display: block;
    padding-top: 71.54651%; }

.grandmaBody {
  position: absolute;
  width: 49.16529%;
  top: -3.58974%;
  left: 4.58631%;
  background-image: url("../assets/grandmaBody.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .grandmaBody::before {
    content: "";
    display: block;
    padding-top: 155.22388%; }

.grandmaHand {
  position: absolute;
  width: 63.65804%;
  top: 36.41026%;
  left: 37.05742%;
  background-image: url("../assets/grandmaHand.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .grandmaHand::before {
    content: "";
    display: block;
    padding-top: 41.21037%; }

.buttonEvents {
  position: absolute;
  width: 4.81155%;
  top: 78.98172%;
  left: 71.251%;
  background-image: url("../assets/buttonEvents.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonEvents::before {
    content: "";
    display: block;
    padding-top: 50%; }

.wineCabinet {
  position: absolute;
  width: 18.0834%;
  top: 56.13577%;
  left: 82.63833%;
  background-image: url("../assets/wineCabinet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .wineCabinet::before {
    content: "";
    display: block;
    padding-top: 97.11752%; }

.wine-o {
  position: absolute;
  width: 11.3082%;
  top: 28.3105%;
  left: 8.64745%;
  background-image: url("../assets/wine.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: scale(2.3) rotate(25deg);
      -ms-transform: scale(2.3) rotate(25deg);
          transform: scale(2.3) rotate(25deg); }
  .wine-o::before {
    content: "";
    display: block;
    padding-top: 367.37255%; }

.fruitCabinet {
  position: absolute;
  width: 25.73617%;
  top: 79.37206%;
  left: -5.17241%;
  background-image: url("../assets/fruitCabinet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .fruitCabinet::before {
    content: "";
    display: block;
    padding-top: 57.13395%; }

.refrigerator {
  position: absolute;
  width: 22.81476%;
  top: 59.00783%;
  left: 52.04491%;
  background-image: url("../assets/refrigerator.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .refrigerator::before {
    content: "";
    display: block;
    padding-top: 75.21968%; }

.ryan {
  position: absolute;
  width: 16.44547%;
  top: 41.77937%;
  left: 82.59824%; }
  .ryan::before {
    content: "";
    display: block;
    padding-top: 88.7407%; }

.ryanBody {
  position: absolute;
  width: 58.62977%;
  top: 0%;
  left: 41.37023%;
  background-image: url("../assets/ryanBody.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ryanBody::before {
    content: "";
    display: block;
    padding-top: 151.35776%; }

.ryanLeftHand {
  position: absolute;
  width: 52.13702%;
  top: 30.03544%;
  left: 47.34122%;
  background-image: url("../assets/ryanLeftHand.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ryanLeftHand::before {
    content: "";
    display: block;
    padding-top: 99.40142%; }

.ryanRightHand {
  position: absolute;
  width: 71.17396%;
  top: 9.38264%;
  left: 0%;
  background-image: url("../assets/ryanRightHand.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ryanRightHand::before {
    content: "";
    display: block;
    padding-top: 62.41779%; }

.buttonPSR {
  position: absolute;
  width: 9.22213%;
  top: 69.71279%;
  left: 88.21171%;
  background-image: url("../assets/buttonPSR.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonPSR::before {
    content: "";
    display: block;
    padding-top: 28.26087%; }

.richman {
  position: absolute;
  width: 29.99479%;
  top: 44.38642%;
  left: 6.69607%; }
  .richman::before {
    content: "";
    display: block;
    padding-top: 73.52253%; }
  @media (max-width: 600px) {
    .richman {
      display: none; } }

.richman-mobile {
  display: none; }
  @media (max-width: 600px) {
    .richman-mobile {
      position: absolute;
      width: 100.76183%;
      top: 0.13055%;
      left: 0.0401%;
      display: block;
      position: fixed;
      left: 50vw;
      top: auto;
      bottom: 0;
      -webkit-transform: translate(-50%, 12%);
          -ms-transform: translate(-50%, 12%);
              transform: translate(-50%, 12%); }
      .richman-mobile::before {
        content: "";
        display: block;
        padding-top: 73.5376%; } }

.protagonist {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  background-image: url("../assets/protagonist.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .protagonist::before {
    content: "";
    display: block;
    padding-top: 73.52253%; }

.noodles {
  position: absolute;
  width: 12.95627%;
  top: 45.58%;
  left: 72.72047%;
  background-image: url("../assets/noodles.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .noodles::before {
    content: "";
    display: block;
    padding-top: 106.89008%; }

.chocolate {
  position: absolute;
  width: 18.44827%;
  top: 40.54545%;
  left: 80.61411%;
  background-image: url("../assets/chocolate.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-16deg);
      -ms-transform: rotate(-16deg);
          transform: rotate(-16deg); }
  .chocolate::before {
    content: "";
    display: block;
    padding-top: 86.41798%; }

.crab {
  position: absolute;
  width: 33.20197%;
  top: 26.50182%;
  left: 56.27816%;
  background-image: url("../assets/crab.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .crab::before {
    content: "";
    display: block;
    padding-top: 79.96731%; }

.avocado {
  position: absolute;
  width: 12.45097%;
  top: 29.24909%;
  left: 77.13182%;
  background-image: url("../assets/avocado.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .avocado::before {
    content: "";
    display: block;
    padding-top: 172.11784%; }

.wine {
  position: absolute;
  width: 20.45263%;
  top: 16.51455%;
  left: 53.60461%;
  background-image: url("../assets/wine.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .wine::before {
    content: "";
    display: block;
    padding-top: 219.60784%; }

.juice {
  position: absolute;
  width: 11.79174%;
  top: 30.90909%;
  left: 88.64144%;
  background-image: url("../assets/juice.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-24deg);
      -ms-transform: rotate(-24deg);
          transform: rotate(-24deg); }
  .juice::before {
    content: "";
    display: block;
    padding-top: 212.14198%; }

.tv {
  position: absolute;
  width: 14.43464%;
  top: -1.04439%;
  left: 85.00401%;
  background-image: url("../assets/tv.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .tv::before {
    content: "";
    display: block;
    padding-top: 95%; }

.buttonSVG {
  position: absolute;
  width: 10.42502%;
  top: 9.92167%;
  left: 85.72574%;
  background-image: url("../assets/buttonSVG.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonSVG::before {
    content: "";
    display: block;
    padding-top: 24.23077%; }

.mainTableItems {
  position: absolute;
  width: 16.23777%;
  top: 34.43081%;
  left: 33.48156%;
  background-image: url("../assets/mainTableItemsAll.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .mainTableItems::before {
    content: "";
    display: block;
    padding-top: 47.71218%; }

.mainTableItemsStar {
  position: absolute;
  width: 29.51824%;
  top: 36.88024%;
  left: 24.93271%;
  background-image: url("../assets/mainTableItemsStar.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .mainTableItemsStar::before {
    content: "";
    display: block;
    padding-top: 120.46177%; }

.mainTableItemsLoudly {
  position: absolute;
  width: 28.05146%;
  top: 49.08912%;
  left: 4.45959%;
  background-image: url("../assets/mainTableItemsLoudly.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .mainTableItemsLoudly::before {
    content: "";
    display: block;
    padding-top: 72.61444%; }

.buttonMNT {
  position: absolute;
  width: 10.34483%;
  top: 33.94256%;
  left: 35.68565%;
  background-image: url("../assets/buttonMNT.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonMNT::before {
    content: "";
    display: block;
    padding-top: 24.4186%; }

.supportingRole {
  position: absolute;
  width: 19.49719%;
  top: 26.37076%;
  left: 55.09222%;
  background-image: url("../assets/supportingRole.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .supportingRole::before {
    content: "";
    display: block;
    padding-top: 80.61531%; }

.internationalFruit {
  position: absolute;
  width: 22.09703%;
  top: 35.24804%;
  left: 78.58861%;
  background-image: url("../assets/internationalFruit.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .internationalFruit::before {
    content: "";
    display: block;
    padding-top: 64.96099%; }

.avocado-o {
  position: absolute;
  width: 7.34894%;
  top: 21.78771%;
  left: 2.79985%;
  background-image: url("../assets/avocado.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3); }
  .avocado-o::before {
    content: "";
    display: block;
    padding-top: 172.12346%; }

.taiwanFishery {
  position: absolute;
  width: 22.51403%;
  top: 61.6188%;
  left: 33.96151%;
  background-image: url("../assets/taiwanFishery.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .taiwanFishery::before {
    content: "";
    display: block;
    padding-top: 54.08549%; }

.crab-o {
  position: absolute;
  width: 31.59573%;
  top: 46.2577%;
  left: 0%;
  background-image: url("../assets/crab.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3); }
  .crab-o::before {
    content: "";
    display: block;
    padding-top: 79.96731%; }

.fishEye {
  background-color: #fff;
  border-radius: 50%; }
  .fishEye::after {
    content: "";
    position: absolute;
    background-color: #303a43;
    top: 17%;
    bottom: 17%;
    left: 17%;
    right: 17%;
    border-radius: 50%; }
  .fishEye-1 {
    position: absolute;
    width: 1.78094%;
    top: 17.12272%;
    left: 15.8504%; }
    .fishEye-1::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .fishEye-2 {
    position: absolute;
    width: 1.78094%;
    top: 17.12272%;
    left: 24.93321%; }
    .fishEye-2::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .fishEye-3 {
    position: absolute;
    width: 1.78094%;
    top: 17.12272%;
    left: 34.01603%; }
    .fishEye-3::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .fishEye-4 {
    position: absolute;
    width: 1.78094%;
    top: 17.12272%;
    left: 43.27694%; }
    .fishEye-4::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .fishEye-5 {
    position: absolute;
    width: 1.78094%;
    top: 17.12272%;
    left: 52.35975%; }
    .fishEye-5::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .fishEye-6 {
    -webkit-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
            transform: rotate(4deg);
    position: absolute;
    width: 2.13713%;
    top: 50.38032%;
    left: 49.86643%; }
    .fishEye-6::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .fishEye-7 {
    -webkit-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
            transform: rotate(4deg);
    position: absolute;
    width: 2.13713%;
    top: 53.34387%;
    left: 54.31879%; }
    .fishEye-7::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .fishEye-8 {
    position: absolute;
    width: 2.13713%;
    top: 61.24667%;
    left: 62.15494%; }
    .fishEye-8::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .fishEye-9 {
    position: absolute;
    width: 2.13713%;
    top: 61.57595%;
    left: 67.14159%; }
    .fishEye-9::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .fishEye-10 {
    -webkit-transform: rotate(17deg);
        -ms-transform: rotate(17deg);
            transform: rotate(17deg);
    position: absolute;
    width: 2.31523%;
    top: 71.78373%;
    left: 32.23508%; }
    .fishEye-10::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .fishEye-11 {
    -webkit-transform: rotate(17deg);
        -ms-transform: rotate(17deg);
            transform: rotate(17deg);
    position: absolute;
    width: 2.31523%;
    top: 72.77158%;
    left: 34.72841%; }
    .fishEye-11::before {
      content: "";
      display: block;
      padding-top: 100%; }

.poster {
  position: absolute;
  width: 5.81395%;
  top: 10.83551%;
  left: 50.80192%;
  background-image: url("../assets/poster.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .poster::before {
    content: "";
    display: block;
    padding-top: 110.98621%; }

.buttonPC {
  position: absolute;
  width: 8.66079%;
  top: 18.27676%;
  left: 55.65357%;
  background-image: url("../assets/buttonPC.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonPC::before {
    content: "";
    display: block;
    padding-top: 27.31481%; }

.yellowTable {
  position: absolute;
  width: 29.47073%;
  top: 56.26632%;
  left: 21.01043%;
  background-image: url("../assets/yellowTable.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .yellowTable::before {
    content: "";
    display: block;
    padding-top: 48.43537%; }

.hao {
  position: absolute;
  width: 8.41179%;
  top: 12.01044%;
  left: 24.30433%;
  background-image: url("../assets/hao.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .hao::before {
    content: "";
    display: block;
    padding-top: 195.09986%; }

.haoHandContainer {
  position: absolute;
  width: 89.49426%;
  top: 54.9719%;
  left: -7.69817%; }
  .haoHandContainer::before {
    content: "";
    display: block;
    padding-top: 64.16511%; }

.haoHand {
  position: absolute;
  width: 80.8735%;
  top: 0%;
  left: 0%;
  background-image: url("../assets/haoHand.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .haoHand::before {
    content: "";
    display: block;
    padding-top: 79.34009%; }

.milkTea {
  position: absolute;
  width: 35.01997%;
  top: 5.81058%;
  left: 64.98003%;
  background-image: url("../assets/milkTea.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .milkTea::before {
    content: "";
    display: block;
    padding-top: 171.61977%; }

.pearl {
  background: #562424;
  border-radius: 50%; }
  .pearl-1 {
    position: absolute;
    width: 9.62738%;
    top: 63.88692%;
    left: 48.89734%; }
    .pearl-1::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .pearl-2 {
    position: absolute;
    width: 9.62738%;
    top: 63.01843%;
    left: 29.62738%; }
    .pearl-2::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .pearl-3 {
    position: absolute;
    width: 9.62738%;
    top: 70.7905%;
    left: 63.71103%; }
    .pearl-3::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .pearl-4 {
    position: absolute;
    width: 9.62738%;
    top: 80.71606%;
    left: 55.55894%; }
    .pearl-4::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .pearl-5 {
    position: absolute;
    width: 9.62738%;
    top: 73.37823%;
    left: 39.25475%; }
    .pearl-5::before {
      content: "";
      display: block;
      padding-top: 100%; }
  .pearl-6 {
    position: absolute;
    width: 9.62738%;
    top: 80.71606%;
    left: 25.93156%; }
    .pearl-6::before {
      content: "";
      display: block;
      padding-top: 100%; }

.buttonExhibitor {
  position: absolute;
  width: 5.53328%;
  top: 42.75457%;
  left: 21.45148%;
  background-image: url("../assets/buttonExhibitor.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonExhibitor::before {
    content: "";
    display: block;
    padding-top: 46.73913%; }

.worldCabinet {
  position: absolute;
  width: 13.39214%;
  top: 3.91645%;
  left: 70.93023%;
  background-image: url("../assets/worldCabinet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .worldCabinet::before {
    content: "";
    display: block;
    padding-top: 160.47904%; }

.juice-o {
  position: absolute;
  width: 7.61677%;
  top: 40.27985%;
  left: 18.26347%;
  background-image: url("../assets/juice.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.8) rotate(-24deg);
      -ms-transform: scale(1.8) rotate(-24deg);
          transform: scale(1.8) rotate(-24deg); }
  .juice-o::before {
    content: "";
    display: block;
    padding-top: 213.20755%; }

.candyTableContainer {
  position: absolute;
  width: 32.15718%;
  top: 20.36554%;
  left: 42.46191%; }
  .candyTableContainer::before {
    content: "";
    display: block;
    padding-top: 51.24688%; }

.candyTable {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  background-image: url("../assets/candyTable.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .candyTable::before {
    content: "";
    display: block;
    padding-top: 51.24688%; }

.chocolate-o {
  position: absolute;
  width: 9.90648%;
  top: -0.24331%;
  left: 60.5985%;
  background-image: url("../assets/chocolate.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.3) rotate(-16deg);
      -ms-transform: scale(1.3) rotate(-16deg);
          transform: scale(1.3) rotate(-16deg); }
  .chocolate-o::before {
    content: "";
    display: block;
    padding-top: 86.40654%; }

.ladder {
  position: absolute;
  width: 10.43905%;
  top: 18.01567%;
  left: 15.43705%; }
  .ladder::before {
    content: "";
    display: block;
    padding-top: 174.72633%; }

.ladderBody {
  position: absolute;
  width: 100%;
  top: 8.13366%;
  left: 0%;
  background-image: url("../assets/ladderBody.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ladderBody::before {
    content: "";
    display: block;
    padding-top: 160.51469%; }

.ladderLeftHand {
  position: absolute;
  width: 45.84214%;
  top: 9.56254%;
  left: 16.59305%;
  background-image: url("../assets/ladderLeftHand.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ladderLeftHand::before {
    content: "";
    display: block;
    padding-top: 81.86845%; }

.ladderRightHand {
  position: absolute;
  width: 54.32687%;
  top: 24.97252%;
  left: 1.94738%;
  background-image: url("../assets/ladderRightHand.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ladderRightHand::before {
    content: "";
    display: block;
    padding-top: 70.0509%; }

.ladderCarton {
  position: absolute;
  width: 94.08489%;
  top: 0.17806%;
  left: 28.03918%;
  background-image: url("../assets/ladderCarton.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ladderCarton::before {
    content: "";
    display: block;
    padding-top: 57.86895%; }

.buttonFactSheet {
  position: absolute;
  width: 6.21492%;
  top: 19.84334%;
  left: 18.48436%;
  background-image: url("../assets/buttonFactSheet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonFactSheet::before {
    content: "";
    display: block;
    padding-top: 38.06452%; }

.cabinet {
  position: absolute;
  width: 13.82358%;
  top: 9.39948%;
  left: 28.06736%;
  background-image: url("../assets/cabinet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .cabinet::before {
    content: "";
    display: block;
    padding-top: 126.5199%; }
  .cabinet-1 {
    position: absolute;
    width: 13.8332%;
    top: 20.49608%;
    left: 0.40096%;
    background-image: url("../assets/cabinet-1.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat; }
    .cabinet-1::before {
      content: "";
      display: block;
      padding-top: 105.50725%; }

.noodles-o {
  position: absolute;
  width: 12.36222%;
  top: 10.54586%;
  left: 69.63685%;
  background-image: url("../assets/noodles.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(50deg) scale(1.44);
      -ms-transform: rotate(50deg) scale(1.44);
          transform: rotate(50deg) scale(1.44); }
  .noodles-o::before {
    content: "";
    display: block;
    padding-top: 107.46129%; }

.carton {
  position: absolute;
  width: 7.89896%;
  top: 27.80679%;
  left: 20.68966%;
  background-image: url("../assets/carton.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .carton::before {
    content: "";
    display: block;
    padding-top: 143.14721%; }

.elsa {
  position: absolute;
  width: 12.59383%;
  top: 25.16449%;
  left: 0.40096%;
  background-image: url("../assets/elsa.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .elsa::before {
    content: "";
    display: block;
    padding-top: 146.86236%; }

.buttonVisitor {
  position: absolute;
  width: 4.77145%;
  top: 43.99478%;
  left: 5.97434%;
  background-image: url("../assets/buttonVisitor.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonVisitor::before {
    content: "";
    display: block;
    padding-top: 47.05882%; }

.orangeCabinet {
  position: absolute;
  width: 23.25581%;
  top: 20.49608%;
  left: -1.12269%;
  background-image: url("../assets/orangeCabinet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .orangeCabinet::before {
    content: "";
    display: block;
    padding-top: 70.86207%; }

.window {
  position: absolute;
  width: 8.98156%;
  top: -0.39164%;
  left: 94.02566%;
  background-image: url("../assets/window.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .window::before {
    content: "";
    display: block;
    padding-top: 57.58929%; }
  .window-1 {
    position: absolute;
    width: 8.98156%;
    top: -0.2611%;
    left: 26.38332%;
    background-image: url("../assets/window-1.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat; }
    .window-1::before {
      content: "";
      display: block;
      padding-top: 57.58929%; }

.background {
  position: absolute;
  width: 100.08019%;
  top: -0.65274%;
  left: 0%;
  background-image: url("../assets/background.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover; }
  .background::before {
    content: "";
    display: block;
    padding-top: 30.88942%; }

.windowContent {
  background: #cce2e1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 4.5%;
  right: 4.5%;
  bottom: 11%; }

.windowClouds {
  position: absolute;
  width: 59.98396%;
  top: 16.31854%;
  left: 0.80192%;
  background-image: url("../assets/windowClouds.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .windowClouds::before {
    content: "";
    display: block;
    padding-top: 64.90642%; }
  .windowClouds-1 {
    position: absolute;
    width: 47.95509%;
    top: 58.09399%;
    left: 43.30393%;
    background-image: url("../assets/windowClouds.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat; }
    .windowClouds-1::before {
      content: "";
      display: block;
      padding-top: 68.64548%; }

.ratioError {
  display: none; }
  @media (min-aspect-ratio: 2494 / 766) {
    .ratioError {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: fixed;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 120vh;
      width: 120vw;
      left: -10vw;
      top: -10vh;
      background: #fff;
      -webkit-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s; } }
  .ratioError__logo {
    width: 50vw;
    height: 24vh;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .ratioError__text {
    color: #bdbdbd;
    font-size: 24px; }

.loadingAsset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 33;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120vh;
  width: 120vw;
  left: -10vw;
  top: -10vh;
  background: #fff;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  cursor: none;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  @media (max-width: 900px) {
    .loadingAsset svg {
      width: 100%; } }
  .loadingAsset__loaded {
    opacity: 0;
    pointer-events: none; }
  .loadingAsset__logo {
    width: 50vw;
    height: 24vh;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .loadingAsset__text {
    color: #bdbdbd;
    font-size: 24px; }
  .loadingAsset__cursor {
    position: absolute;
    -webkit-transition: opacity 0.3;
    -o-transition: opacity 0.3;
    transition: opacity 0.3; }
    .loadingAsset__cursor__star {
      fill: #ddd;
      -webkit-transform: scale(0.6);
          -ms-transform: scale(0.6);
              transform: scale(0.6);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
           -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
              transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center; }
      .loadingAsset__clickable .loadingAsset__cursor__star {
        fill: #ffce54;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); }
    .loadingAsset__cursor__go {
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .loadingAsset__clickable .loadingAsset__cursor__go {
        opacity: 1; }
    .loadingAsset__clickable .loadingAsset__cursor {
      opacity: 1; }

/*# sourceMappingURL=index.css.map */
