html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  min-height: 100vh;
  background: #ffffff; }

body {
  line-height: 1;
  font-family: sans-serif;
  min-height: 100%; }
  body.act-loaded {
    overflow: hidden; }

.wrapper {
  min-height: 100%;
  height: 100%;
  position: relative; }
  .wrapper.act-loaded {
    overflow: hidden; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: currentColor;
  cursor: pointer; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px;
  background: #333; }

body {
  /* Hide scrollbar */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }
  body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera  */ }
  @media (min-aspect-ratio: 2494 / 766) {
    body .container {
      display: none; } }

.scrollElement {
  position: absolute;
  height: 11000px;
  width: 100px;
  top: 0;
  z-index: 0; }

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden; }
  .container::before {
    content: "";
    display: block;
    height: 100%;
    width: 325.58747vh; }
  .container__loaded {
    display: block; }

.scenery {
  pointer-events: none; }

.logo {
  height: 18vh;
  left: 24px;
  top: 0;
  position: fixed; }

.ribbon {
  position: absolute;
  width: 24.74419%;
  top: -16.58355%;
  left: 31.54611%;
  background-image: url("../assets/ribbon.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ribbon::before {
    content: "";
    display: block;
    padding-top: 37.5081%; }

.ribbon-1 {
  position: absolute;
  width: 26.18284%;
  top: -19.4517%;
  left: 54.77145%;
  background-image: url("../assets/ribbon-1.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ribbon-1::before {
    content: "";
    display: block;
    padding-top: 45.94181%; }

.ribbon-2 {
  position: absolute;
  width: 24.74419%;
  top: -10.59269%;
  left: 85.28549%;
  background-image: url("../assets/ribbon-2.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ribbon-2::before {
    content: "";
    display: block;
    padding-top: 37.5081%; }

.vegetableBasket {
  position: absolute;
  width: 14.8757%;
  top: 79.89556%;
  left: 19.48677%;
  background-image: url("../assets/vegetableBasket.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .vegetableBasket::before {
    content: "";
    display: block;
    padding-top: 71.15903%; }

.grandma {
  position: absolute;
  width: 21.85646%;
  top: 50.13055%;
  left: 61.26704%;
  background-image: url("../assets/grandma.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .grandma::before {
    content: "";
    display: block;
    padding-top: 71.54651%; }

.buttonEvents {
  position: absolute;
  width: 4.81155%;
  top: 78.98172%;
  left: 71.251%;
  background-image: url("../assets/buttonEvents.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonEvents::before {
    content: "";
    display: block;
    padding-top: 50%; }

.wineCabinet {
  position: absolute;
  width: 18.0834%;
  top: 56.13577%;
  left: 82.63833%;
  background-image: url("../assets/wineCabinet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .wineCabinet::before {
    content: "";
    display: block;
    padding-top: 97.11752%; }

.fruitCabinet {
  position: absolute;
  width: 25.73617%;
  top: 79.37206%;
  left: -5.17241%;
  background-image: url("../assets/fruitCabinet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .fruitCabinet::before {
    content: "";
    display: block;
    padding-top: 57.13395%; }

.refrigerator {
  position: absolute;
  width: 22.81476%;
  top: 59.00783%;
  left: 52.04491%;
  background-image: url("../assets/refrigerator.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .refrigerator::before {
    content: "";
    display: block;
    padding-top: 75.21968%; }

.ryan {
  position: absolute;
  width: 16.44547%;
  top: 39.82115%;
  left: 82.59824%;
  background-image: url("../assets/ryan.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ryan::before {
    content: "";
    display: block;
    padding-top: 88.7407%; }

.buttonPSR {
  position: absolute;
  width: 9.22213%;
  top: 69.71279%;
  left: 90.05613%;
  background-image: url("../assets/buttonPSR.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonPSR::before {
    content: "";
    display: block;
    padding-top: 28.26087%; }

.protagonistContainer {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: auto; }

.protagonistSvg {
  display: block; }

.tv {
  position: absolute;
  width: 14.43464%;
  top: -1.04439%;
  left: 85.00401%;
  background-image: url("../assets/tv.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .tv::before {
    content: "";
    display: block;
    padding-top: 95%; }

.buttonSVG {
  position: absolute;
  width: 10.42502%;
  top: 9.92167%;
  left: 85.72574%;
  background-image: url("../assets/buttonSVG.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonSVG::before {
    content: "";
    display: block;
    padding-top: 24.23077%; }

.mainTableItems {
  position: absolute;
  width: 16.23777%;
  top: 34.43081%;
  left: 33.48156%;
  background-image: url("../assets/mainTableItems.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .mainTableItems::before {
    content: "";
    display: block;
    padding-top: 47.71218%; }

.buttonMNT {
  position: absolute;
  width: 10.34483%;
  top: 31.0705%;
  left: 35.32478%;
  background-image: url("../assets/buttonMNT.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonMNT::before {
    content: "";
    display: block;
    padding-top: 24.4186%; }

.supportingRole {
  position: absolute;
  width: 19.49719%;
  top: 26.37076%;
  left: 55.09222%;
  background-image: url("../assets/supportingRole.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .supportingRole::before {
    content: "";
    display: block;
    padding-top: 80.61531%; }

.internationalFruit {
  position: absolute;
  width: 22.09703%;
  top: 35.24804%;
  left: 78.58861%;
  background-image: url("../assets/internationalFruit.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .internationalFruit::before {
    content: "";
    display: block;
    padding-top: 64.96099%; }

.taiwanFishery {
  position: absolute;
  width: 22.51403%;
  top: 61.6188%;
  left: 33.96151%;
  background-image: url("../assets/taiwanFishery.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .taiwanFishery::before {
    content: "";
    display: block;
    padding-top: 54.08549%; }

.poster {
  position: absolute;
  width: 5.81395%;
  top: 10.83551%;
  left: 50.80192%;
  background-image: url("../assets/poster.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .poster::before {
    content: "";
    display: block;
    padding-top: 110.98621%; }

.buttonPC {
  position: absolute;
  width: 8.66079%;
  top: 18.27676%;
  left: 55.65357%;
  background-image: url("../assets/buttonPC.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonPC::before {
    content: "";
    display: block;
    padding-top: 27.31481%; }

.yellowTable {
  position: absolute;
  width: 29.47073%;
  top: 56.26632%;
  left: 21.01043%;
  background-image: url("../assets/yellowTable.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .yellowTable::before {
    content: "";
    display: block;
    padding-top: 48.43537%; }

.hao {
  position: absolute;
  width: 8.41179%;
  top: 12.01044%;
  left: 24.30433%;
  background-image: url("../assets/hao.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .hao::before {
    content: "";
    display: block;
    padding-top: 195.09986%; }

.haoHand {
  position: absolute;
  width: 89.49426%;
  top: 54.9719%;
  left: -7.69817%;
  background-image: url("../assets/haoHand.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .haoHand::before {
    content: "";
    display: block;
    padding-top: 64.16511%; }

.buttonExhibitor {
  position: absolute;
  width: 5.53328%;
  top: 42.75457%;
  left: 21.45148%;
  background-image: url("../assets/buttonExhibitor.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonExhibitor::before {
    content: "";
    display: block;
    padding-top: 46.73913%; }

.worldCabinet {
  position: absolute;
  width: 13.39214%;
  top: 3.91645%;
  left: 70.93023%;
  background-image: url("../assets/worldCabinet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .worldCabinet::before {
    content: "";
    display: block;
    padding-top: 160.47904%; }

.candyTable {
  position: absolute;
  width: 32.15718%;
  top: 20.36554%;
  left: 42.46191%;
  background-image: url("../assets/candyTable.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .candyTable::before {
    content: "";
    display: block;
    padding-top: 51.24688%; }

.ladder {
  position: absolute;
  width: 10.43905%;
  top: 18.01567%;
  left: 15.43705%;
  background-image: url("../assets/ladder.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .ladder::before {
    content: "";
    display: block;
    padding-top: 174.72633%; }

.buttonFactSheet {
  position: absolute;
  width: 6.21492%;
  top: 19.84334%;
  left: 18.48436%;
  background-image: url("../assets/buttonFactSheet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonFactSheet::before {
    content: "";
    display: block;
    padding-top: 38.06452%; }

.cabinet {
  position: absolute;
  width: 13.82358%;
  top: 9.39948%;
  left: 28.06736%;
  background-image: url("../assets/cabinet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .cabinet::before {
    content: "";
    display: block;
    padding-top: 126.5199%; }

.carton {
  position: absolute;
  width: 7.89896%;
  top: 27.80679%;
  left: 20.68966%;
  background-image: url("../assets/carton.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .carton::before {
    content: "";
    display: block;
    padding-top: 143.14721%; }

.elsa {
  position: absolute;
  width: 12.59383%;
  top: 25.16449%;
  left: 0.40096%;
  background-image: url("../assets/elsa.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .elsa::before {
    content: "";
    display: block;
    padding-top: 146.86236%; }

.buttonVisitor {
  position: absolute;
  width: 4.77145%;
  top: 43.99478%;
  left: 5.97434%;
  background-image: url("../assets/buttonVisitor.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .buttonVisitor::before {
    content: "";
    display: block;
    padding-top: 47.05882%; }

.cabinet-1 {
  position: absolute;
  width: 13.8332%;
  top: 20.49608%;
  left: 0.40096%;
  background-image: url("../assets/cabinet-1.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .cabinet-1::before {
    content: "";
    display: block;
    padding-top: 105.50725%; }

.orangeCabinet {
  position: absolute;
  width: 23.25581%;
  top: 20.49608%;
  left: -1.12269%;
  background-image: url("../assets/orangeCabinet.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .orangeCabinet::before {
    content: "";
    display: block;
    padding-top: 70.86207%; }

.window {
  position: absolute;
  width: 8.98156%;
  top: -0.39164%;
  left: 94.02566%;
  background-image: url("../assets/window.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .window::before {
    content: "";
    display: block;
    padding-top: 57.58929%; }

.window-1 {
  position: absolute;
  width: 8.98156%;
  top: -0.2611%;
  left: 26.38332%;
  background-image: url("../assets/window-1.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat; }
  .window-1::before {
    content: "";
    display: block;
    padding-top: 57.58929%; }

.background {
  position: absolute;
  width: 100.08019%;
  top: -0.65274%;
  left: 0%;
  background-image: url("../assets/background.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover; }
  .background::before {
    content: "";
    display: block;
    padding-top: 30.88942%; }

.ratioError {
  display: none; }
  @media (min-aspect-ratio: 2494 / 766) {
    .ratioError {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: fixed;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 120vh;
      width: 120vw;
      left: -10vw;
      top: -10vh;
      background: #fff;
      -webkit-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s; } }
  .ratioError__logo {
    width: 50vw;
    height: 24vh;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .ratioError__text {
    color: #bdbdbd;
    font-size: 24px; }

.loadingAsset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120vh;
  width: 120vw;
  left: -10vw;
  top: -10vh;
  background: #fff;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .loadingAsset__loaded {
    display: none; }
  .loadingAsset__logo {
    width: 50vw;
    height: 24vh;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .loadingAsset__text {
    color: #bdbdbd;
    font-size: 24px; }

/*# sourceMappingURL=index.css.map */
