
- navList = [{name:'服務諮詢',url:'contactUs.html'},{name:'搜尋全省服務據點',url:'https://msn.sgs.com/OfficeList.aspx'}];
//,{name:'Q & A 問答集',url:'/2.html'}
//- footer.footer
  //- .footer_container
  //-   .footer_infoBlock
  //-     .footer_info
  //-       .footer_listTitle 台北總公司
  //-       .footer_listItem 五股區(新北產業園區)五工路 125 號 4 樓
  //-       .footer_listItem +886 2 2299 3279
  //-       .footer_listItem 6651、6653、6657、6772、6774、6775、6779'
  //-     .footer_nav
  //-       .footer_listTitle 聯繫我們
  //-       ul
  //-         each navItem in navList
  //-           li(class='footer_listItem')
  //-             a(href=navItem.url)=navItem.name
  //-   .footer_logoBlock
  //-     a(href='index.html')
  //-       img.logo(src='assets/logo.svg')
  //-     .slogan 安心資訊平台 MY SAFETY NET
  //- p.copyright © 2012-2020 SGS TAIWAN All Rights Reserved
