.menu__container
  img.menu__logo(src="./assets/logo.svg")
  .menu
    include ../svg/menuIcon
    include ../svg/menuIcon2
    .menu__text.E Menu
    .menu__text.C 選單
    .menu__text.open.E Close
    .menu__text.open.C 關閉
.menu__list
  include ../svg/menuContent