svg(id='backgroundsvg', width='2494', height='766', viewBox='0 0 2494 766', preserveAspectRatio='xMidYMax slice' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(id='FOOD TAIPEI', clip-path='url(#clip0)')
    rect(width='2494', height='766', fill='white')
    g#background
      rect(id='åœ°æ¿', y='-2', width='2496', height='768', fill='#303A43')
      rect(id='ä¸–ç•Œç‰†å£', x='1234', y='-5', width='1260', height='569', fill='#6FAFB7')
      g(id='å°ç£ç‰†å£')
        rect(id='å°-ç²‰ç‰†', x='552', y='-5', width='678', height='771', fill='#FBC1BD')
        rect(id='å°-è—ç‰†', y='-2', width='552', height='566', fill='#6FAFB7')
  defs
    clippath#clip0
      rect(width='2494', height='766', fill='white')