svg(width='2494', height='766', viewBox='0 0 2494 766', preserveAspectRatio='xMidYMax slice' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(id='FOOD TAIPEI', clip-path='url(#clip0)')
    g#carton
      g(id='å°ç£ç´™ç®±1')
        rect(id='Rectangle 241', x='585.524', y='401.596', width='124.338', height='94.4965', fill='#FFD166')
        rect(id='Rectangle 242', x='546.565', y='401.596', width='38.9591', height='94.4965', fill='#E7BB7C')
        rect(id='Rectangle 243', x='602.931', y='415.688', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 244', x='626.141', y='415.688', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 245', x='649.351', y='415.688', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 246', x='672.56', y='415.688', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 247', x='550.709', y='426.464', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        rect(id='Rectangle 248', x='550.709', y='440.555', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        rect(id='Rectangle 249', x='550.709', y='454.647', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        rect(id='Rectangle 250', x='550.709', y='468.739', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        g(id='æ°´æžœåœ–æ¨£')
          circle(id='Ellipse 64', cx='646.224', cy='467.222', r='14.7949', fill='#FFF3D0', stroke='#FFD166')
          circle(id='Ellipse 63', cx='636.328', cy='473.52', r='14.7949', fill='#FFF3D0', stroke='#FFD166')
          circle(id='Ellipse 62', cx='658.82', cy='469.921', r='14.7949', fill='#FFF3D0', stroke='#FFD166')
          g(id='Vector 15')
            mask#path-514-outside-1(maskUnits='userSpaceOnUse', x='606.437', y='450.927', width='29', height='15', fill='black')
              rect(fill='white', x='606.437', y='450.927', width='29', height='15')
              path(d='M608.437 458.674C613.313 454.55 633.629 445.814 633.629 458.674C633.629 469.465 620.356 462.797 608.437 458.674Z')
            path(d='M608.437 458.674C613.313 454.55 633.629 445.814 633.629 458.674C633.629 469.465 620.356 462.797 608.437 458.674Z', fill='#60AE93')
            path(d='M608.437 458.674C613.313 454.55 633.629 445.814 633.629 458.674C633.629 469.465 620.356 462.797 608.437 458.674Z', stroke='#FFD166', stroke-width='2', mask='url(#path-514-outside-1)')
          g(id='Vector 20')
            mask#path-515-outside-2(maskUnits='userSpaceOnUse', x='651.568', y='447.738', width='29.6894', height='16.3806', fill='black')
              rect(fill='white', x='651.568', y='447.738', width='29.6894', height='16.3806')
              path(d='M678.91 456.285C673.841 460.169 653.127 467.916 653.747 455.071C654.267 444.292 667.204 451.592 678.91 456.285Z')
            path(d='M678.91 456.285C673.841 460.169 653.127 467.916 653.747 455.071C654.267 444.292 667.204 451.592 678.91 456.285Z', fill='#60AE93')
            path(d='M678.91 456.285C673.841 460.169 653.127 467.916 653.747 455.071C654.267 444.292 667.204 451.592 678.91 456.285Z', stroke='#FFD166', stroke-width='2', mask='url(#path-515-outside-2)')
          g(id='Vector 16')
            mask#path-516-outside-3(maskUnits='userSpaceOnUse', x='615.808', y='440.311', width='24.968', height='19.8313', fill='black')
              rect(fill='white', x='615.808', y='440.311', width='24.968', height='19.8313')
              path(d='M620.065 446.578C624.571 445.241 640.851 445.364 637.045 454.032C633.852 461.306 626.878 452.884 620.065 446.578Z')
            path(d='M620.065 446.578C624.571 445.241 640.851 445.364 637.045 454.032C633.852 461.306 626.878 452.884 620.065 446.578Z', fill='#60AE93')
            path(d='M620.065 446.578C624.571 445.241 640.851 445.364 637.045 454.032C633.852 461.306 626.878 452.884 620.065 446.578Z', stroke='#FFD166', stroke-width='2', mask='url(#path-516-outside-3)')
          g(id='Vector 18 (Stroke)')
            mask#path-517-outside-4(maskUnits='userSpaceOnUse', x='651.429', y='449.443', width='4', height='12', fill='black')
              rect(fill='white', x='651.429', y='449.443', width='4', height='12')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M652.467 455.494C652.587 453.821 652.963 452.096 653.314 450.874C653.382 450.635 653.635 450.503 653.872 450.578V450.578C654.109 450.652 654.241 450.903 654.173 451.142C653.837 452.316 653.478 453.97 653.365 455.558C653.301 456.455 653.316 457.314 653.45 458.046C653.547 458.575 653.701 459.015 653.913 459.353C654.044 459.564 654.048 459.849 653.872 460.024V460.024C653.696 460.2 653.409 460.201 653.263 460C652.902 459.499 652.686 458.873 652.565 458.207C652.413 457.374 652.4 456.434 652.467 455.494Z')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M652.467 455.494C652.587 453.821 652.963 452.096 653.314 450.874C653.382 450.635 653.635 450.503 653.872 450.578V450.578C654.109 450.652 654.241 450.903 654.173 451.142C653.837 452.316 653.478 453.97 653.365 455.558C653.301 456.455 653.316 457.314 653.45 458.046C653.547 458.575 653.701 459.015 653.913 459.353C654.044 459.564 654.048 459.849 653.872 460.024V460.024C653.696 460.2 653.409 460.201 653.263 460C652.902 459.499 652.686 458.873 652.565 458.207C652.413 457.374 652.4 456.434 652.467 455.494Z', fill='#843914')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M652.467 455.494C652.587 453.821 652.963 452.096 653.314 450.874C653.382 450.635 653.635 450.503 653.872 450.578V450.578C654.109 450.652 654.241 450.903 654.173 451.142C653.837 452.316 653.478 453.97 653.365 455.558C653.301 456.455 653.316 457.314 653.45 458.046C653.547 458.575 653.701 459.015 653.913 459.353C654.044 459.564 654.048 459.849 653.872 460.024V460.024C653.696 460.2 653.409 460.201 653.263 460C652.902 459.499 652.686 458.873 652.565 458.207C652.413 457.374 652.4 456.434 652.467 455.494Z', stroke='#FFD166', stroke-width='2', mask='url(#path-517-outside-4)')
          g(id='Vector 18 (Stroke)_2')
            mask#path-518-outside-5(maskUnits='userSpaceOnUse', x='643.225', y='447.328', width='4', height='12', fill='black')
              rect(fill='white', x='643.225', y='447.328', width='4', height='12')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M646.187 453.378C646.072 451.703 645.71 449.976 645.373 448.754C645.308 448.52 645.06 448.39 644.828 448.466V448.466C644.604 448.538 644.479 448.776 644.542 449.004C644.867 450.179 645.215 451.843 645.325 453.442C645.387 454.338 645.372 455.197 645.243 455.929C645.149 456.467 644.997 456.912 644.788 457.253C644.665 457.455 644.662 457.724 644.826 457.894V457.894C644.999 458.075 645.29 458.076 645.432 457.869C645.773 457.371 645.978 456.75 646.094 456.091C646.24 455.258 646.252 454.317 646.187 453.378Z')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M646.187 453.378C646.072 451.703 645.71 449.976 645.373 448.754C645.308 448.52 645.06 448.39 644.828 448.466V448.466C644.604 448.538 644.479 448.776 644.542 449.004C644.867 450.179 645.215 451.843 645.325 453.442C645.387 454.338 645.372 455.197 645.243 455.929C645.149 456.467 644.997 456.912 644.788 457.253C644.665 457.455 644.662 457.724 644.826 457.894V457.894C644.999 458.075 645.29 458.076 645.432 457.869C645.773 457.371 645.978 456.75 646.094 456.091C646.24 455.258 646.252 454.317 646.187 453.378Z', fill='#843914')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M646.187 453.378C646.072 451.703 645.71 449.976 645.373 448.754C645.308 448.52 645.06 448.39 644.828 448.466V448.466C644.604 448.538 644.479 448.776 644.542 449.004C644.867 450.179 645.215 451.843 645.325 453.442C645.387 454.338 645.372 455.197 645.243 455.929C645.149 456.467 644.997 456.912 644.788 457.253C644.665 457.455 644.662 457.724 644.826 457.894V457.894C644.999 458.075 645.29 458.076 645.432 457.869C645.773 457.371 645.978 456.75 646.094 456.091C646.24 455.258 646.252 454.317 646.187 453.378Z', stroke='#FFD166', stroke-width='2', mask='url(#path-518-outside-5)')
          g(id='Vector 18 (Stroke)_3')
            mask#path-519-outside-6(maskUnits='userSpaceOnUse', x='633.395', y='449.723', width='7.82421', height='12.6456', fill='black')
              rect(fill='white', x='633.395', y='449.723', width='7.82421', height='12.6456')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M636.385 455.768C637.064 454.235 638.001 452.739 638.745 451.707C638.89 451.506 639.172 451.467 639.37 451.617V451.617C639.569 451.767 639.607 452.049 639.462 452.251C638.749 453.242 637.852 454.676 637.208 456.132C636.844 456.955 636.568 457.768 636.447 458.502C636.358 459.033 636.355 459.499 636.439 459.889C636.492 460.132 636.399 460.401 636.174 460.507V460.507C635.949 460.613 635.678 460.517 635.61 460.278C635.44 459.684 635.448 459.022 635.559 458.355C635.698 457.52 636.004 456.63 636.385 455.768Z')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M636.385 455.768C637.064 454.235 638.001 452.739 638.745 451.707C638.89 451.506 639.172 451.467 639.37 451.617V451.617C639.569 451.767 639.607 452.049 639.462 452.251C638.749 453.242 637.852 454.676 637.208 456.132C636.844 456.955 636.568 457.768 636.447 458.502C636.358 459.033 636.355 459.499 636.439 459.889C636.492 460.132 636.399 460.401 636.174 460.507V460.507C635.949 460.613 635.678 460.517 635.61 460.278C635.44 459.684 635.448 459.022 635.559 458.355C635.698 457.52 636.004 456.63 636.385 455.768Z', fill='#843914')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M636.385 455.768C637.064 454.235 638.001 452.739 638.745 451.707C638.89 451.506 639.172 451.467 639.37 451.617V451.617C639.569 451.767 639.607 452.049 639.462 452.251C638.749 453.242 637.852 454.676 637.208 456.132C636.844 456.955 636.568 457.768 636.447 458.502C636.358 459.033 636.355 459.499 636.439 459.889C636.492 460.132 636.399 460.401 636.174 460.507V460.507C635.949 460.613 635.678 460.517 635.61 460.278C635.44 459.684 635.448 459.022 635.559 458.355C635.698 457.52 636.004 456.63 636.385 455.768Z', stroke='#FFD166', stroke-width='2', mask='url(#path-519-outside-6)')
        path(id='Ellipse 65', d='M579.708 462.107C579.708 465.521 578.687 468.512 577.159 470.59C575.631 472.67 573.723 473.699 571.847 473.699C569.97 473.699 568.063 472.67 566.534 470.59C565.006 468.512 563.985 465.521 563.985 462.107C563.985 458.693 565.006 455.702 566.534 453.624C568.063 451.545 569.97 450.516 571.847 450.516C573.723 450.516 575.631 451.545 577.159 453.624C578.687 455.702 579.708 458.693 579.708 462.107Z', stroke='#60AE93', stroke-width='5')
        rect(id='Rectangle 251', x='558.999', y='408.228', width='14.9205', height='4.14458', rx='2.07229', fill='#843914')
      g(id='å°ç£ç´™ç®±1_2')
        rect(id='Rectangle 241_2', x='590.079', y='213.724', width='124.338', height='94.4965', fill='#FFD166')
        rect(id='Rectangle 242_2', x='551.119', y='213.724', width='38.9591', height='94.4965', fill='#E7BB7C')
        rect(id='Rectangle 243_2', x='607.486', y='227.815', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 244_2', x='630.695', y='227.815', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 245_2', x='653.905', y='227.815', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 246_2', x='677.115', y='227.815', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 247_2', x='555.264', y='238.591', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        rect(id='Rectangle 248_2', x='555.264', y='252.683', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        rect(id='Rectangle 249_2', x='555.264', y='266.774', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        rect(id='Rectangle 250_2', x='555.264', y='280.866', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        g(id='æ°´æžœåœ–æ¨£_2')
          circle(id='Ellipse 64_2', cx='650.779', cy='279.35', r='14.7949', fill='#FFF3D0', stroke='#FFD166')
          circle(id='Ellipse 63_2', cx='640.883', cy='285.647', r='14.7949', fill='#FFF3D0', stroke='#FFD166')
          circle(id='Ellipse 62_2', cx='663.375', cy='282.049', r='14.7949', fill='#FFF3D0', stroke='#FFD166')
          g(id='Vector 15_2')
            mask#path-535-outside-7(maskUnits='userSpaceOnUse', x='610.992', y='263.055', width='29', height='15', fill='black')
              rect(fill='white', x='610.992', y='263.055', width='29', height='15')
              path(d='M612.992 270.801C617.867 266.678 638.183 257.941 638.183 270.801C638.183 281.592 624.91 274.925 612.992 270.801Z')
            path(d='M612.992 270.801C617.867 266.678 638.183 257.941 638.183 270.801C638.183 281.592 624.91 274.925 612.992 270.801Z', fill='#60AE93')
            path(d='M612.992 270.801C617.867 266.678 638.183 257.941 638.183 270.801C638.183 281.592 624.91 274.925 612.992 270.801Z', stroke='#FFD166', stroke-width='2', mask='url(#path-535-outside-7)')
          g(id='Vector 20_2')
            mask#path-536-outside-8(maskUnits='userSpaceOnUse', x='656.122', y='259.866', width='29.6894', height='16.3806', fill='black')
              rect(fill='white', x='656.122', y='259.866', width='29.6894', height='16.3806')
              path(d='M683.464 268.413C678.395 272.296 657.682 280.043 658.302 267.198C658.822 256.419 671.758 263.719 683.464 268.413Z')
            path(d='M683.464 268.413C678.395 272.296 657.682 280.043 658.302 267.198C658.822 256.419 671.758 263.719 683.464 268.413Z', fill='#60AE93')
            path(d='M683.464 268.413C678.395 272.296 657.682 280.043 658.302 267.198C658.822 256.419 671.758 263.719 683.464 268.413Z', stroke='#FFD166', stroke-width='2', mask='url(#path-536-outside-8)')
          g(id='Vector 16_2')
            mask#path-537-outside-9(maskUnits='userSpaceOnUse', x='620.363', y='252.438', width='24.968', height='19.8313', fill='black')
              rect(fill='white', x='620.363', y='252.438', width='24.968', height='19.8313')
              path(d='M624.619 258.705C629.126 257.369 645.405 257.492 641.6 266.16C638.406 273.434 631.433 265.012 624.619 258.705Z')
            path(d='M624.619 258.705C629.126 257.369 645.405 257.492 641.6 266.16C638.406 273.434 631.433 265.012 624.619 258.705Z', fill='#60AE93')
            path(d='M624.619 258.705C629.126 257.369 645.405 257.492 641.6 266.16C638.406 273.434 631.433 265.012 624.619 258.705Z', stroke='#FFD166', stroke-width='2', mask='url(#path-537-outside-9)')
          g(id='Vector 18 (Stroke)_4')
            mask#path-538-outside-10(maskUnits='userSpaceOnUse', x='655.983', y='261.571', width='4', height='12', fill='black')
              rect(fill='white', x='655.983', y='261.571', width='4', height='12')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M657.022 267.621C657.141 265.949 657.518 264.223 657.868 263.001C657.937 262.763 658.189 262.631 658.427 262.705V262.705C658.664 262.779 658.796 263.031 658.727 263.27C658.392 264.444 658.033 266.097 657.919 267.685C657.855 268.582 657.871 269.441 658.005 270.173C658.101 270.702 658.255 271.142 658.467 271.481C658.599 271.692 658.602 271.976 658.427 272.152V272.152C658.251 272.327 657.963 272.329 657.818 272.127C657.457 271.626 657.241 271 657.119 270.335C656.967 269.502 656.955 268.561 657.022 267.621Z')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M657.022 267.621C657.141 265.949 657.518 264.223 657.868 263.001C657.937 262.763 658.189 262.631 658.427 262.705V262.705C658.664 262.779 658.796 263.031 658.727 263.27C658.392 264.444 658.033 266.097 657.919 267.685C657.855 268.582 657.871 269.441 658.005 270.173C658.101 270.702 658.255 271.142 658.467 271.481C658.599 271.692 658.602 271.976 658.427 272.152V272.152C658.251 272.327 657.963 272.329 657.818 272.127C657.457 271.626 657.241 271 657.119 270.335C656.967 269.502 656.955 268.561 657.022 267.621Z', fill='#843914')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M657.022 267.621C657.141 265.949 657.518 264.223 657.868 263.001C657.937 262.763 658.189 262.631 658.427 262.705V262.705C658.664 262.779 658.796 263.031 658.727 263.27C658.392 264.444 658.033 266.097 657.919 267.685C657.855 268.582 657.871 269.441 658.005 270.173C658.101 270.702 658.255 271.142 658.467 271.481C658.599 271.692 658.602 271.976 658.427 272.152V272.152C658.251 272.327 657.963 272.329 657.818 272.127C657.457 271.626 657.241 271 657.119 270.335C656.967 269.502 656.955 268.561 657.022 267.621Z', stroke='#FFD166', stroke-width='2', mask='url(#path-538-outside-10)')
          g(id='Vector 18 (Stroke)_5')
            mask#path-539-outside-11(maskUnits='userSpaceOnUse', x='647.779', y='259.456', width='4', height='12', fill='black')
              rect(fill='white', x='647.779', y='259.456', width='4', height='12')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M650.742 265.505C650.627 263.831 650.265 262.104 649.927 260.882C649.863 260.647 649.614 260.518 649.383 260.593V260.593C649.159 260.666 649.034 260.904 649.097 261.131C649.421 262.306 649.77 263.971 649.88 265.569C649.941 266.466 649.926 267.324 649.798 268.056C649.703 268.594 649.552 269.039 649.343 269.38C649.219 269.582 649.216 269.851 649.38 270.022V270.022C649.554 270.202 649.845 270.203 649.986 269.997C650.328 269.498 650.532 268.877 650.648 268.218C650.794 267.385 650.806 266.445 650.742 265.505Z')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M650.742 265.505C650.627 263.831 650.265 262.104 649.927 260.882C649.863 260.647 649.614 260.518 649.383 260.593V260.593C649.159 260.666 649.034 260.904 649.097 261.131C649.421 262.306 649.77 263.971 649.88 265.569C649.941 266.466 649.926 267.324 649.798 268.056C649.703 268.594 649.552 269.039 649.343 269.38C649.219 269.582 649.216 269.851 649.38 270.022V270.022C649.554 270.202 649.845 270.203 649.986 269.997C650.328 269.498 650.532 268.877 650.648 268.218C650.794 267.385 650.806 266.445 650.742 265.505Z', fill='#843914')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M650.742 265.505C650.627 263.831 650.265 262.104 649.927 260.882C649.863 260.647 649.614 260.518 649.383 260.593V260.593C649.159 260.666 649.034 260.904 649.097 261.131C649.421 262.306 649.77 263.971 649.88 265.569C649.941 266.466 649.926 267.324 649.798 268.056C649.703 268.594 649.552 269.039 649.343 269.38C649.219 269.582 649.216 269.851 649.38 270.022V270.022C649.554 270.202 649.845 270.203 649.986 269.997C650.328 269.498 650.532 268.877 650.648 268.218C650.794 267.385 650.806 266.445 650.742 265.505Z', stroke='#FFD166', stroke-width='2', mask='url(#path-539-outside-11)')
          g(id='Vector 18 (Stroke)_6')
            mask#path-540-outside-12(maskUnits='userSpaceOnUse', x='637.949', y='261.851', width='7.82421', height='12.6456', fill='black')
              rect(fill='white', x='637.949', y='261.851', width='7.82421', height='12.6456')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M640.94 267.896C641.618 266.362 642.556 264.866 643.3 263.834C643.445 263.633 643.727 263.595 643.925 263.745V263.745C644.123 263.894 644.162 264.176 644.017 264.378C643.304 265.369 642.407 266.803 641.763 268.26C641.399 269.082 641.123 269.895 641.001 270.629C640.913 271.16 640.909 271.626 640.994 272.017C641.047 272.259 640.954 272.528 640.729 272.634V272.634C640.504 272.74 640.233 272.644 640.164 272.405C639.994 271.812 640.003 271.149 640.114 270.482C640.252 269.647 640.559 268.757 640.94 267.896Z')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M640.94 267.896C641.618 266.362 642.556 264.866 643.3 263.834C643.445 263.633 643.727 263.595 643.925 263.745V263.745C644.123 263.894 644.162 264.176 644.017 264.378C643.304 265.369 642.407 266.803 641.763 268.26C641.399 269.082 641.123 269.895 641.001 270.629C640.913 271.16 640.909 271.626 640.994 272.017C641.047 272.259 640.954 272.528 640.729 272.634V272.634C640.504 272.74 640.233 272.644 640.164 272.405C639.994 271.812 640.003 271.149 640.114 270.482C640.252 269.647 640.559 268.757 640.94 267.896Z', fill='#843914')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M640.94 267.896C641.618 266.362 642.556 264.866 643.3 263.834C643.445 263.633 643.727 263.595 643.925 263.745V263.745C644.123 263.894 644.162 264.176 644.017 264.378C643.304 265.369 642.407 266.803 641.763 268.26C641.399 269.082 641.123 269.895 641.001 270.629C640.913 271.16 640.909 271.626 640.994 272.017C641.047 272.259 640.954 272.528 640.729 272.634V272.634C640.504 272.74 640.233 272.644 640.164 272.405C639.994 271.812 640.003 271.149 640.114 270.482C640.252 269.647 640.559 268.757 640.94 267.896Z', stroke='#FFD166', stroke-width='2', mask='url(#path-540-outside-12)')
        path(id='Ellipse 65_2', d='M584.263 274.235C584.263 277.649 583.242 280.64 581.714 282.718C580.185 284.797 578.278 285.826 576.401 285.826C574.525 285.826 572.618 284.797 571.089 282.718C569.561 280.64 568.54 277.649 568.54 274.235C568.54 270.821 569.561 267.829 571.089 265.751C572.618 263.672 574.525 262.643 576.401 262.643C578.278 262.643 580.185 263.672 581.714 265.751C583.242 267.829 584.263 270.821 584.263 274.235Z', stroke='#60AE93', stroke-width='5')
        rect(id='Rectangle 251_2', x='563.553', y='220.355', width='14.9205', height='4.14458', rx='2.07229', fill='#843914')
      g(id='å°ç£ç´™ç®±1_3')
        rect(id='Rectangle 241_3', x='516.961', y='308.248', width='124.338', height='94.4965', fill='#FFD166')
        rect(id='Rectangle 242_3', x='641.298', y='308.248', width='38.9591', height='94.4965', fill='#E7BB7C')
        rect(id='Rectangle 243_3', x='534.368', y='322.339', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 244_3', x='557.578', y='322.339', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 245_3', x='580.787', y='322.339', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 246_3', x='603.997', y='322.339', width='16.5783', height='17.4073', rx='5', fill='#FE5A63')
        rect(id='Rectangle 247_3', x='645.443', y='333.115', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        rect(id='Rectangle 248_3', x='645.443', y='347.207', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        rect(id='Rectangle 249_3', x='645.443', y='361.298', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        rect(id='Rectangle 250_3', x='645.443', y='375.39', width='6.63133', height='9.947', rx='3', fill='#FE5A63', fill-opacity='0.6')
        g(id='æ°´æžœåœ–æ¨£_3')
          circle(id='Ellipse 64_3', cx='577.661', cy='373.874', r='14.2949', fill='#FFF3D0', stroke='#FFD166', stroke-width='2')
          circle(id='Ellipse 63_3', cx='567.765', cy='380.171', r='14.2949', fill='#FFF3D0', stroke='#FFD166', stroke-width='2')
          circle(id='Ellipse 62_3', cx='590.257', cy='376.572', r='14.2949', fill='#FFF3D0', stroke='#FFD166', stroke-width='2')
          g(id='Vector 15_3')
            mask#path-556-outside-13(maskUnits='userSpaceOnUse', x='535.874', y='356.579', width='32', height='17', fill='black')
              rect(fill='white', x='535.874', y='356.579', width='32', height='17')
              path(d='M539.874 365.325C544.75 361.201 565.066 352.465 565.066 365.325C565.066 376.116 551.793 369.448 539.874 365.325Z')
            path(d='M539.874 365.325C544.75 361.201 565.066 352.465 565.066 365.325C565.066 376.116 551.793 369.448 539.874 365.325Z', fill='#60AE93')
            path(d='M539.874 365.325C544.75 361.201 565.066 352.465 565.066 365.325C565.066 376.116 551.793 369.448 539.874 365.325Z', stroke='#FFD166', stroke-width='4', mask='url(#path-556-outside-13)')
          g(id='Vector 20_3')
            mask#path-557-outside-14(maskUnits='userSpaceOnUse', x='581.957', y='353.343', width='32.7823', height='18.5229', fill='black')
              rect(fill='white', x='581.957', y='353.343', width='32.7823', height='18.5229')
              path(d='M610.346 362.937C605.278 366.82 584.564 374.567 585.184 361.722C585.704 350.943 598.641 358.243 610.346 362.937Z')
            path(d='M610.346 362.937C605.278 366.82 584.564 374.567 585.184 361.722C585.704 350.943 598.641 358.243 610.346 362.937Z', fill='#60AE93')
            path(d='M610.346 362.937C605.278 366.82 584.564 374.567 585.184 361.722C585.704 350.943 598.641 358.243 610.346 362.937Z', stroke='#FFD166', stroke-width='4', mask='url(#path-557-outside-14)')
          g(id='Vector 16_3')
            mask#path-558-outside-15(maskUnits='userSpaceOnUse', x='545.012', y='345.243', width='28.5189', height='22.8686', fill='black')
              rect(fill='white', x='545.012', y='345.243', width='28.5189', height='22.8686')
              path(d='M551.502 353.229C556.008 351.893 572.287 352.016 568.482 360.684C565.289 367.958 558.315 359.536 551.502 353.229Z')
            path(d='M551.502 353.229C556.008 351.893 572.287 352.016 568.482 360.684C565.289 367.958 558.315 359.536 551.502 353.229Z', fill='#60AE93')
            path(d='M551.502 353.229C556.008 351.893 572.287 352.016 568.482 360.684C565.289 367.958 558.315 359.536 551.502 353.229Z', stroke='#FFD166', stroke-width='4', mask='url(#path-558-outside-15)')
          g(id='Vector 18 (Stroke)_7')
            mask#path-559-outside-16(maskUnits='userSpaceOnUse', x='581.865', y='355.095', width='6', height='14', fill='black')
              rect(fill='white', x='581.865', y='355.095', width='6', height='14')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M583.904 362.145C584.024 360.473 584.4 358.747 584.751 357.525C584.819 357.286 585.072 357.155 585.309 357.229V357.229C585.546 357.303 585.678 357.555 585.61 357.794C585.274 358.968 584.915 360.621 584.802 362.209C584.738 363.106 584.753 363.965 584.887 364.697C584.983 365.226 585.138 365.666 585.349 366.005C585.481 366.215 585.485 366.5 585.309 366.676V366.676C585.133 366.851 584.845 366.853 584.7 366.651C584.339 366.15 584.123 365.524 584.002 364.859C583.85 364.026 583.837 363.085 583.904 362.145Z')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M583.904 362.145C584.024 360.473 584.4 358.747 584.751 357.525C584.819 357.286 585.072 357.155 585.309 357.229V357.229C585.546 357.303 585.678 357.555 585.61 357.794C585.274 358.968 584.915 360.621 584.802 362.209C584.738 363.106 584.753 363.965 584.887 364.697C584.983 365.226 585.138 365.666 585.349 366.005C585.481 366.215 585.485 366.5 585.309 366.676V366.676C585.133 366.851 584.845 366.853 584.7 366.651C584.339 366.15 584.123 365.524 584.002 364.859C583.85 364.026 583.837 363.085 583.904 362.145Z', fill='#843914')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M583.904 362.145C584.024 360.473 584.4 358.747 584.751 357.525C584.819 357.286 585.072 357.155 585.309 357.229V357.229C585.546 357.303 585.678 357.555 585.61 357.794C585.274 358.968 584.915 360.621 584.802 362.209C584.738 363.106 584.753 363.965 584.887 364.697C584.983 365.226 585.138 365.666 585.349 366.005C585.481 366.215 585.485 366.5 585.309 366.676V366.676C585.133 366.851 584.845 366.853 584.7 366.651C584.339 366.15 584.123 365.524 584.002 364.859C583.85 364.026 583.837 363.085 583.904 362.145Z', stroke='#FFD166', stroke-width='4', mask='url(#path-559-outside-16)')
          g(id='Vector 18 (Stroke)_8')
            mask#path-560-outside-17(maskUnits='userSpaceOnUse', x='573.661', y='352.98', width='6', height='14', fill='black')
              rect(fill='white', x='573.661', y='352.98', width='6', height='14')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M577.624 360.029C577.509 358.355 577.147 356.628 576.81 355.406C576.745 355.171 576.497 355.042 576.265 355.117V355.117C576.041 355.19 575.916 355.428 575.979 355.655C576.304 356.83 576.652 358.495 576.762 360.093C576.824 360.99 576.809 361.848 576.68 362.58C576.586 363.118 576.434 363.563 576.225 363.904C576.102 364.106 576.099 364.375 576.262 364.546V364.546C576.436 364.726 576.727 364.727 576.869 364.521C577.21 364.022 577.415 363.401 577.53 362.742C577.677 361.909 577.689 360.969 577.624 360.029Z')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M577.624 360.029C577.509 358.355 577.147 356.628 576.81 355.406C576.745 355.171 576.497 355.042 576.265 355.117V355.117C576.041 355.19 575.916 355.428 575.979 355.655C576.304 356.83 576.652 358.495 576.762 360.093C576.824 360.99 576.809 361.848 576.68 362.58C576.586 363.118 576.434 363.563 576.225 363.904C576.102 364.106 576.099 364.375 576.262 364.546V364.546C576.436 364.726 576.727 364.727 576.869 364.521C577.21 364.022 577.415 363.401 577.53 362.742C577.677 361.909 577.689 360.969 577.624 360.029Z', fill='#843914')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M577.624 360.029C577.509 358.355 577.147 356.628 576.81 355.406C576.745 355.171 576.497 355.042 576.265 355.117V355.117C576.041 355.19 575.916 355.428 575.979 355.655C576.304 356.83 576.652 358.495 576.762 360.093C576.824 360.99 576.809 361.848 576.68 362.58C576.586 363.118 576.434 363.563 576.225 363.904C576.102 364.106 576.099 364.375 576.262 364.546V364.546C576.436 364.726 576.727 364.727 576.869 364.521C577.21 364.022 577.415 363.401 577.53 362.742C577.677 361.909 577.689 360.969 577.624 360.029Z', stroke='#FFD166', stroke-width='4', mask='url(#path-560-outside-17)')
          g(id='Vector 18 (Stroke)_9')
            mask#path-561-outside-18(maskUnits='userSpaceOnUse', x='563.553', y='355.095', width='10.3829', height='15.2044', fill='black')
              rect(fill='white', x='563.553', y='355.095', width='10.3829', height='15.2044')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M567.822 362.42C568.501 360.886 569.439 359.39 570.182 358.358C570.327 358.157 570.61 358.118 570.808 358.268V358.268C571.006 358.418 571.045 358.7 570.9 358.902C570.186 359.893 569.289 361.327 568.645 362.783C568.282 363.606 568.006 364.419 567.884 365.153C567.796 365.684 567.792 366.15 567.877 366.54C567.929 366.783 567.836 367.052 567.611 367.158V367.158C567.387 367.264 567.115 367.168 567.047 366.929C566.877 366.336 566.885 365.673 566.996 365.006C567.135 364.171 567.441 363.281 567.822 362.42Z')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M567.822 362.42C568.501 360.886 569.439 359.39 570.182 358.358C570.327 358.157 570.61 358.118 570.808 358.268V358.268C571.006 358.418 571.045 358.7 570.9 358.902C570.186 359.893 569.289 361.327 568.645 362.783C568.282 363.606 568.006 364.419 567.884 365.153C567.796 365.684 567.792 366.15 567.877 366.54C567.929 366.783 567.836 367.052 567.611 367.158V367.158C567.387 367.264 567.115 367.168 567.047 366.929C566.877 366.336 566.885 365.673 566.996 365.006C567.135 364.171 567.441 363.281 567.822 362.42Z', fill='#843914')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M567.822 362.42C568.501 360.886 569.439 359.39 570.182 358.358C570.327 358.157 570.61 358.118 570.808 358.268V358.268C571.006 358.418 571.045 358.7 570.9 358.902C570.186 359.893 569.289 361.327 568.645 362.783C568.282 363.606 568.006 364.419 567.884 365.153C567.796 365.684 567.792 366.15 567.877 366.54C567.929 366.783 567.836 367.052 567.611 367.158V367.158C567.387 367.264 567.115 367.168 567.047 366.929C566.877 366.336 566.885 365.673 566.996 365.006C567.135 364.171 567.441 363.281 567.822 362.42Z', stroke='#FFD166', stroke-width='4', mask='url(#path-561-outside-18)')
        path(id='Ellipse 65_3', d='M674.442 368.759C674.442 372.173 673.421 375.164 671.893 377.242C670.364 379.321 668.457 380.35 666.58 380.35C664.704 380.35 662.797 379.321 661.268 377.242C659.74 375.164 658.719 372.173 658.719 368.759C658.719 365.344 659.74 362.353 661.268 360.275C662.797 358.196 664.704 357.167 666.58 357.167C668.457 357.167 670.364 358.196 671.893 360.275C673.421 362.353 674.442 365.344 674.442 368.759Z', stroke='#60AE93', stroke-width='5')
        rect(id='Rectangle 251_3', x='653.732', y='314.879', width='14.9205', height='4.14458', rx='2.07229', fill='#843914')
