svg(width='2494', height='766', viewBox='0 0 2494 766', preserveAspectRatio='xMidYMax slice' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(id='FOOD TAIPEI', clip-path='url(#clip0)')
    g#ladder
      rect(id='Rectangle 66', x='549.912', y='320.464', width='46.3104', height='17.152', fill='#1C7C85')
      rect(id='Rectangle 68', x='530.755', y='329.744', width='270.229', height='16.9591', transform='rotate(103.856 530.755 329.744)', fill='#1C7C85')
      rect(id='Rectangle 70', x='590.246', y='324.891', width='270.229', height='16.9591', transform='rotate(78.2341 590.246 324.891)', fill='#1C7C85')
      rect(id='Rectangle 67', x='498.456', y='320.464', width='51.456', height='17.152', fill='#6FAFB7')
      rect(id='Rectangle 71', x='487.084', y='371.342', width='65.8795', height='16.9591', fill='#6FAFB7')
      rect(id='Rectangle 72', x='475.995', y='423.523', width='65.8795', height='16.9591', fill='#6FAFB7')
      rect(id='Rectangle 73', x='463.602', y='475.705', width='65.8795', height='16.9591', fill='#6FAFB7')
      rect(id='Rectangle 74', x='452', y='526', width='65.8795', height='16.9591', fill='#6FAFB7')
      g#Group_177
        g#Group_178
          path#Vector_506(d='M493.615 455.523L502.822 464.045C502.822 464.045 516.975 465.6 527.612 465.6C538.25 465.6 537.006 476.238 527.612 476.238C518.219 476.238 464.782 476.238 464.782 476.238V455.491H493.615V455.523Z', fill='#FFD166')
        g#Group_179
          path#Vector_507(d='M479.246 350.67C479.246 350.67 511.283 368.213 516.633 380.53C521.983 392.816 509.759 460.935 509.759 460.935H456.726C456.726 460.935 464.751 411.012 465.809 406.72C466.866 402.428 421.952 377.855 421.952 377.855V350.67H479.246V350.67Z', fill='#07090B')
        g#Group_180
          g#Group_181
            path#Vector_508(d='M463.973 460.997L463.071 460.841C467.27 439.069 473.149 405.756 472.185 403.205C470.941 399.971 451.967 385.569 444.751 380.313L445.311 379.566C446.368 380.344 471.47 398.726 473.056 402.894C474.424 406.471 465.062 455.429 463.973 460.997Z', fill='#EA8428')
          g#Group_182
            path#Vector_509(d='M472.154 460.997L471.221 460.841C474.083 445.009 481.143 403.174 479.744 399.659C479.153 398.197 475.824 394.465 463.289 384.885C455.762 379.131 448.39 373.967 448.328 373.905L448.857 373.127C450.07 373.967 478.437 393.905 480.614 399.286C482.45 403.765 472.59 458.664 472.154 460.997Z', fill='#EA8428')
          g#Group_183
            path#Vector_510(d='M480.334 460.997L479.401 460.842C479.432 460.686 481.951 445.725 484.16 430.297C488.048 403.268 487.83 397.264 487.332 396.114C484.657 389.768 452.247 367.778 451.905 367.529L452.433 366.751C453.771 367.653 485.404 389.146 488.203 395.74C490.412 401.028 480.738 458.54 480.334 460.997Z', fill='#EA8428')
          g#Group_184
            path#Vector_511(d='M488.515 460.997L487.582 460.841C487.613 460.686 490.07 445.04 492.216 428.835C495.762 401.868 495.638 394.247 494.954 392.599C491.688 385.04 455.887 361.432 455.513 361.183L456.011 360.406C457.504 361.37 492.403 384.418 495.793 392.225C498.406 398.26 488.919 458.446 488.515 460.997Z', fill='#EA8428')
          g#Group_185
            path#Vector_512(d='M496.696 460.997L495.762 460.872C495.856 460.219 505.405 395.647 502.512 389.084C498.655 380.281 459.495 355.087 459.091 354.838L459.588 354.061C461.206 355.087 499.402 379.69 503.383 388.711C506.369 395.491 497.1 458.322 496.696 460.997Z', fill='#EA8428')
          g#Group_186
            path#Vector_513(d='M504.875 460.997L503.942 460.873C504.035 460.188 513.398 392.91 510.101 385.538C505.653 375.554 463.102 348.742 462.667 348.462L463.164 347.684C464.937 348.804 506.368 374.901 510.971 385.165C514.362 392.754 505.279 458.198 504.875 460.997Z', fill='#EA8428')
        g#Group_187
          path#Vector_514(d='M429.292 506.285L438.499 514.807C438.499 514.807 452.651 516.362 463.289 516.362C473.927 516.362 472.683 527 463.289 527C453.896 527 400.459 527 400.459 527V506.253H429.292V506.285Z', fill='#FFD166')
        g#Group_188
          path#Vector_515(d='M392.59 358.602V509.364L441.548 510.888L460.77 356.456L392.59 358.602Z', fill='#2D3640')
        g#Group_189
          g#Group_190
            path#Vector_516(d='M400.031 360.455L398.381 509.553L399.314 509.564L400.964 360.465L400.031 360.455Z', fill='#EA8428')
          g#Group_191
            path#Vector_517(d='M407.687 360.453L405.16 509.77L406.093 509.786L408.62 360.469L407.687 360.453Z', fill='#EA8428')
          g#Group_192
            path#Vector_518(d='M415.833 360.453L411.938 509.989L412.871 510.013L416.766 360.478L415.833 360.453Z', fill='#EA8428')
          g#Group_193
            path#Vector_519(d='M424.733 360.449L418.694 509.971L419.626 510.009L425.665 360.486L424.733 360.449Z', fill='#EA8428')
          g#Group_194
            path#Vector_520(d='M435.217 360.412L424.745 510.347L425.676 510.412L436.148 360.477L435.217 360.412Z', fill='#EA8428')
          g#Group_195
            path#Vector_521(d='M445.035 360.429L429.973 510.84L430.902 510.933L445.963 360.522L445.035 360.429Z', fill='#EA8428')
          g#Group_196
            path#Vector_522(d='M453.979 358.264L435.187 510.643L436.113 510.757L454.905 358.378L453.979 358.264Z', fill='#EA8428')
        g#Group_197
          path#Vector_523(d='M439.681 204.978L449.324 235.274L420.708 243.112L414.238 211.883L439.681 204.978Z', fill='#2D3640')
        g#Group_198
          g#Group_199
            path#Vector_524(d='M420.303 239.939C431.744 239.939 441.019 230.665 441.019 219.224C441.019 207.783 431.744 198.508 420.303 198.508C408.862 198.508 399.588 207.783 399.588 219.224C399.588 230.665 408.862 239.939 420.303 239.939Z', fill='#FFB9A6')
          g#Group_200
            path#Vector_525(d='M414.893 271.478L433.715 265.918L420.294 220.488L401.472 226.049L414.893 271.478Z', fill='#FFB9A6')
        g#Group_201
          path#Vector_526(d='M435.887 190.95C432.776 179.473 420.863 172.661 409.386 175.74C397.908 178.85 391.097 190.763 394.176 202.241L397.971 216.269L439.65 204.978L435.887 190.95Z', fill='#6FAFB7')
        g#Group_202
          path#Vector_527(d='M398.002 216.269L408.546 213.407L416.104 242.241L403.476 245.445L398.002 216.269Z', fill='#2D3640')
        g#Group_203
          path#Vector_528(d='M394.456 207.746L396.602 215.678C396.726 216.175 397.224 216.455 397.722 216.331L439.868 204.916C440.366 204.791 440.646 204.294 440.521 203.796L438.344 195.74C438.219 195.242 437.691 194.962 437.224 195.087L395.078 206.626C394.611 206.751 394.3 207.249 394.456 207.746Z', fill='#1C7C85')
        g#Group_204
          g#Group_205
            path#Vector_529(d='M546.555 186.687C541.827 180.933 534.673 180.311 530.412 184.386C527.177 187.496 526.431 195.459 524.502 194.183C523.072 193.219 525.435 187.465 522.232 187.62C520.272 187.714 519.495 190.482 517.877 196.392C516.26 202.302 513.18 210.14 513.18 210.14C490.568 251.54 485.062 248.522 467.519 247.589L452.061 275.085C480.272 284.386 506.462 276.952 516.135 262.799C525.84 248.647 538.126 219.098 538.126 219.098C539.37 216.05 540.614 211.695 542.947 207.278C545.156 203.11 549.51 190.295 546.555 186.687Z', fill='#F9AB9B')
          g#Group_206
            path#Vector_530(d='M532.683 191.354C532.652 191.354 532.621 191.354 532.559 191.354C532.217 191.292 531.999 190.95 532.061 190.639C532.497 188.275 533.741 185.476 535.918 181.805C536.105 181.525 536.478 181.401 536.758 181.588C537.038 181.774 537.162 182.147 536.976 182.427C534.861 185.973 533.679 188.679 533.243 190.888C533.212 191.137 532.963 191.354 532.683 191.354Z', fill='#F98E78')
          g#Group_207
            path#Vector_531(d='M536.789 191.821C536.758 191.821 536.726 191.821 536.664 191.821C536.322 191.759 536.104 191.417 536.167 191.106C536.602 188.742 537.846 185.942 540.023 182.272C540.21 181.992 540.583 181.868 540.863 182.054C541.143 182.241 541.268 182.614 541.081 182.894C538.966 186.44 537.784 189.146 537.348 191.354C537.317 191.603 537.069 191.821 536.789 191.821Z', fill='#F98E78')
          g#Group_208
            path#Vector_532(d='M540.583 194.029C540.552 194.029 540.521 194.029 540.458 194.029C540.116 193.967 539.899 193.625 539.961 193.314C540.396 190.95 541.64 188.151 543.818 184.48C544.004 184.169 544.378 184.076 544.658 184.263C544.937 184.449 545.062 184.822 544.875 185.102C542.76 188.648 541.578 191.354 541.143 193.563C541.143 193.843 540.894 194.029 540.583 194.029Z', fill='#F98E78')
          g#Group_209
            path#Vector_533(d='M526.306 207.777C526.182 207.777 526.058 207.746 525.964 207.684C525.684 207.497 525.591 207.124 525.778 206.813C528.111 203.236 528.204 199.255 526.058 196.642C525.84 196.362 525.871 195.989 526.151 195.771C526.431 195.553 526.804 195.584 527.022 195.864C529.541 198.913 529.448 203.485 526.835 207.528C526.711 207.653 526.493 207.777 526.306 207.777Z', fill='#F98E78')
        g#Group_210
          path#Vector_534(d='M461.174 264.543C466.306 255.771 468.266 246.875 467.893 246.875C461.858 247.093 454.86 246.004 447.457 246.44C444.907 246.595 440.987 245.569 437.69 245.849C435.264 246.067 430.599 246.098 428.204 247.84C432.869 254.931 436.508 270.079 452.029 275.056C452.029 275.056 459.09 268.151 461.174 264.543Z', fill='#F2F2F2')
        g#Group_211
          path#Vector_535(d='M428.204 247.84C428.204 251.479 426.12 255.056 421.299 255.74C417.473 256.269 411.656 252.91 408.95 251.603C408.95 251.603 393.398 265.849 387.519 320.344C385 343.672 385 357.7 385 360.966C385 364.232 461.174 365.165 492.03 351.603C497.753 348.711 485.218 311.572 474.767 289.799C457.037 252.972 428.204 247.84 428.204 247.84Z', fill='white')
        g#Group_212
          path#Vector_536(d='M424.845 213.936C425.373 213.781 425.933 214.092 426.12 214.62L426.773 216.798C426.929 217.326 426.618 217.886 426.089 218.073C425.56 218.228 425 217.917 424.814 217.389L424.16 215.211C424.005 214.652 424.316 214.092 424.845 213.936Z', fill='#2D3640')
        g#Group_213
          path#Vector_537(d='M434.425 211.386C434.953 211.23 435.513 211.541 435.7 212.07L436.353 214.247C436.509 214.776 436.197 215.336 435.669 215.522C435.14 215.678 434.58 215.367 434.393 214.838L433.74 212.661C433.585 212.132 433.896 211.572 434.425 211.386Z', fill='#2D3640')
        g#Group_214
          path#Vector_538(d='M427.675 224.138C426.089 224.138 424.409 223.827 422.792 222.863C422.481 222.676 422.387 222.303 422.574 222.023C422.761 221.712 423.134 221.619 423.414 221.805C427.986 224.449 433.523 221.401 433.585 221.37C433.896 221.214 434.269 221.308 434.425 221.619C434.58 221.93 434.487 222.303 434.176 222.458C434.052 222.583 431.159 224.138 427.675 224.138Z', fill='#FE5A63')
        g#Group_215
          path#Vector_539(d='M421.548 211.572C421.236 211.572 420.957 211.354 420.925 211.012C420.894 210.67 421.112 210.359 421.454 210.328L425.373 209.83C425.715 209.799 426.027 210.017 426.058 210.359C426.089 210.701 425.871 211.012 425.529 211.043L421.61 211.541C421.61 211.572 421.579 211.572 421.548 211.572Z', fill='#2D3640')
        g#Group_216
          path#Vector_540(d='M432.496 209.115C432.247 209.115 432.03 208.99 431.936 208.742C431.781 208.43 431.936 208.057 432.247 207.933L434.829 206.782C435.14 206.626 435.513 206.782 435.638 207.093C435.793 207.404 435.638 207.777 435.327 207.902L432.745 209.053C432.652 209.084 432.558 209.115 432.496 209.115Z', fill='#2D3640')
        g#Group_217(opacity='0.5')
          g#Group_218(opacity='0.5')
            path#Vector_541(opacity='0.5', d='M402.761 214.9C399.246 206.906 396.167 195.148 401.268 184.573C404.347 178.197 408.857 175.335 409.075 175.211L409.728 176.268L409.386 175.739L409.728 176.268C409.697 176.299 405.28 179.099 402.356 185.164C398.5 193.189 399.028 203.298 403.912 214.371L402.761 214.9Z', fill='#1C7C85')
          g#Group_219(opacity='0.5')
            path#Vector_542(opacity='0.5', d='M410.101 212.661C406.369 200.374 403.694 189.115 408.826 175.522L409.977 175.958C404.969 189.239 407.488 199.815 411.283 212.319L410.101 212.661Z', fill='#1C7C85')
          g#Group_220(opacity='0.5')
            path#Vector_543(opacity='0.5', d='M409.985 175.559L408.788 175.901L418.425 209.606L419.621 209.263L409.985 175.559Z', fill='#1C7C85')
          g#Group_221(opacity='0.5')
            path#Vector_544(opacity='0.5', d='M427.115 206.346C424.906 196.953 422.325 189.986 419.183 185.071C416.415 180.716 413.149 177.855 409.168 176.331L409.603 175.18C413.833 176.797 417.317 179.814 420.241 184.418C423.445 189.457 426.088 196.549 428.328 206.066L427.115 206.346Z', fill='#1C7C85')
          g#Group_222(opacity='0.5')
            path#Vector_545(opacity='0.5', d='M433.958 204.294C432.123 192.07 427.27 183.36 420.023 179.13C414.518 175.927 409.51 176.362 409.448 176.362L409.323 175.118C409.541 175.087 414.735 174.651 420.552 178.011C430.225 183.609 433.833 195.304 435.171 204.107L433.958 204.294Z', fill='#1C7C85')
        g(id='å°ç£ç´™ç®±1_4')
          rect(id='Rectangle 241_4', x='458', y='198.812', width='124.338', height='94.4965', transform='rotate(-21.864 458 198.812)', fill='#FFD166')
          rect(id='Rectangle 242_4', x='573.394', y='152.509', width='38.9591', height='94.4965', transform='rotate(-21.864 573.394 152.509)', fill='#E7BB7C')
          rect(id='Rectangle 243_4', x='479.403', y='205.408', width='16.5783', height='17.4073', rx='5', transform='rotate(-21.864 479.403 205.408)', fill='#FE5A63')
          rect(id='Rectangle 244_4', x='500.943', y='196.764', width='16.5783', height='17.4073', rx='5', transform='rotate(-21.864 500.943 196.764)', fill='#FE5A63')
          rect(id='Rectangle 245_4', x='522.483', y='188.121', width='16.5783', height='17.4073', rx='5', transform='rotate(-21.864 522.483 188.121)', fill='#FE5A63')
          rect(id='Rectangle 246_4', x='544.023', y='179.478', width='16.5783', height='17.4073', rx='5', transform='rotate(-21.864 544.023 179.478)', fill='#FE5A63')
          rect(id='Rectangle 247_4', x='586.501', y='174.044', width='6.63133', height='9.947', rx='3', transform='rotate(-21.864 586.501 174.044)', fill='#FE5A63', fill-opacity='0.6')
          rect(id='Rectangle 248_4', x='591.749', y='187.122', width='6.63133', height='9.947', rx='3', transform='rotate(-21.864 591.749 187.122)', fill='#FE5A63', fill-opacity='0.6')
          rect(id='Rectangle 249_4', x='596.997', y='200.2', width='6.63133', height='9.947', rx='3', transform='rotate(-21.864 596.997 200.2)', fill='#FE5A63', fill-opacity='0.6')
          rect(id='Rectangle 250_4', x='602.244', y='213.278', width='6.63133', height='9.947', rx='3', transform='rotate(-21.864 602.244 213.278)', fill='#FE5A63', fill-opacity='0.6')
          g(id='æ°´æžœåœ–æ¨£_4')
            circle(id='Ellipse 64_4', cx='538.774', cy='237.113', r='14.2949', transform='rotate(-21.864 538.774 237.113)', fill='#FFF3D0', stroke='#FFD166', stroke-width='2')
            circle(id='Ellipse 63_4', cx='531.935', cy='246.643', r='14.2949', transform='rotate(-21.864 531.935 246.643)', fill='#FFF3D0', stroke='#FFD166', stroke-width='2')
            circle(id='Ellipse 62_4', cx='551.469', cy='234.927', r='14.2949', transform='rotate(-21.864 551.469 234.927)', fill='#FFF3D0', stroke='#FFD166', stroke-width='2')
            g(id='Vector 15_4')
              mask#path-1435-outside-19(maskUnits='userSpaceOnUse', x='493.552', y='224.707', width='36.0291', height='27.6941', fill='black')
                rect(fill='white', x='493.552', y='224.707', width='36.0291', height='27.6941')
                path(d='M500.521 243.251C503.511 237.608 519.112 221.935 523.901 233.87C527.92 243.885 513.118 242.639 500.521 243.251Z')
              path(d='M500.521 243.251C503.511 237.608 519.112 221.935 523.901 233.87C527.92 243.885 513.118 242.639 500.521 243.251Z', fill='#60AE93')
              path(d='M500.521 243.251C503.511 237.608 519.112 221.935 523.901 233.87C527.92 243.885 513.118 242.639 500.521 243.251Z', stroke='#FFD166', stroke-width='4', mask='url(#path-1435-outside-19)')
            g(id='Vector 20_4')
              mask#path-1436-outside-20(maskUnits='userSpaceOnUse', x='535.876', y='205.682', width='35.8011', height='26.5354', fill='black')
                rect(fill='white', x='535.876', y='205.682', width='35.8011', height='26.5354')
                path(d='M565.035 214.79C561.777 220.282 545.439 235.186 541.23 223.034C537.699 212.837 552.423 214.794 565.035 214.79Z')
              path(d='M565.035 214.79C561.777 220.282 545.439 235.186 541.23 223.034C537.699 212.837 552.423 214.794 565.035 214.79Z', fill='#60AE93')
              path(d='M565.035 214.79C561.777 220.282 545.439 235.186 541.23 223.034C537.699 212.837 552.423 214.794 565.035 214.79Z', stroke='#FFD166', stroke-width='4', mask='url(#path-1436-outside-20)')
            g(id='Vector 16_4')
              mask#path-1437-outside-21(maskUnits='userSpaceOnUse', x='502.584', y='220.604', width='25.4362', height='14.7947', fill='black')
                rect(fill='white', x='502.584', y='220.604', width='25.4362', height='14.7947')
                path(d='M506.808 227.695C510.493 224.777 525.647 218.828 525.343 228.29C525.088 236.23 515.48 231.011 506.808 227.695Z')
              path(d='M506.808 227.695C510.493 224.777 525.647 218.828 525.343 228.29C525.088 236.23 515.48 231.011 506.808 227.695Z', fill='#60AE93')
              path(d='M506.808 227.695C510.493 224.777 525.647 218.828 525.343 228.29C525.088 236.23 515.48 231.011 506.808 227.695Z', stroke='#FFD166', stroke-width='4', mask='url(#path-1437-outside-21)')
            g(id='Vector 18 (Stroke)_10')
              mask#path-1438-outside-22(maskUnits='userSpaceOnUse', x='535.682', y='215.885', width='10.7821', height='15.2274', fill='black')
                rect(fill='white', x='535.682', y='215.885', width='10.7821', height='15.2274')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M540.2 223.903C539.688 222.307 539.395 220.565 539.265 219.3C539.24 219.053 539.425 218.837 539.673 218.817V218.817C539.921 218.798 540.137 218.983 540.162 219.23C540.288 220.444 540.571 222.112 541.057 223.629C541.332 224.485 541.666 225.276 542.063 225.906C542.349 226.361 542.656 226.711 542.979 226.947C543.18 227.093 543.289 227.356 543.191 227.585V227.585C543.093 227.813 542.827 227.922 542.617 227.789C542.095 227.458 541.662 226.958 541.301 226.385C540.85 225.669 540.488 224.801 540.2 223.903Z')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M540.2 223.903C539.688 222.307 539.395 220.565 539.265 219.3C539.24 219.053 539.425 218.837 539.673 218.817V218.817C539.921 218.798 540.137 218.983 540.162 219.23C540.288 220.444 540.571 222.112 541.057 223.629C541.332 224.485 541.666 225.276 542.063 225.906C542.349 226.361 542.656 226.711 542.979 226.947C543.18 227.093 543.289 227.356 543.191 227.585V227.585C543.093 227.813 542.827 227.922 542.617 227.789C542.095 227.458 541.662 226.958 541.301 226.385C540.85 225.669 540.488 224.801 540.2 223.903Z', fill='#843914')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M540.2 223.903C539.688 222.307 539.395 220.565 539.265 219.3C539.24 219.053 539.425 218.837 539.673 218.817V218.817C539.921 218.798 540.137 218.983 540.162 219.23C540.288 220.444 540.571 222.112 541.057 223.629C541.332 224.485 541.666 225.276 542.063 225.906C542.349 226.361 542.656 226.711 542.979 226.947C543.18 227.093 543.289 227.356 543.191 227.585V227.585C543.093 227.813 542.827 227.922 542.617 227.789C542.095 227.458 541.662 226.958 541.301 226.385C540.85 225.669 540.488 224.801 540.2 223.903Z', stroke='#FFD166', stroke-width='4', mask='url(#path-1438-outside-22)')
            g(id='Vector 18 (Stroke)_11')
              mask#path-1439-outside-23(maskUnits='userSpaceOnUse', x='527.281', y='216.977', width='10.7821', height='15.2274', fill='black')
                rect(fill='white', x='527.281', y='216.977', width='10.7821', height='15.2274')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M533.584 224.278C532.853 222.767 531.874 221.299 531.106 220.29C530.958 220.097 530.68 220.069 530.493 220.225V220.225C530.312 220.376 530.285 220.644 530.428 220.831C531.167 221.801 532.11 223.216 532.807 224.658C533.198 225.468 533.504 226.27 533.657 226.997C533.77 227.531 533.795 228.001 533.729 228.395C533.689 228.629 533.786 228.88 534.002 228.977V228.977C534.23 229.08 534.501 228.972 534.555 228.728C534.686 228.138 534.645 227.485 534.507 226.83C534.332 226.003 533.993 225.126 533.584 224.278Z')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M533.584 224.278C532.853 222.767 531.874 221.299 531.106 220.29C530.958 220.097 530.68 220.069 530.493 220.225V220.225C530.312 220.376 530.285 220.644 530.428 220.831C531.167 221.801 532.11 223.216 532.807 224.658C533.198 225.468 533.504 226.27 533.657 226.997C533.77 227.531 533.795 228.001 533.729 228.395C533.689 228.629 533.786 228.88 534.002 228.977V228.977C534.23 229.08 534.501 228.972 534.555 228.728C534.686 228.138 534.645 227.485 534.507 226.83C534.332 226.003 533.993 225.126 533.584 224.278Z', fill='#843914')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M533.584 224.278C532.853 222.767 531.874 221.299 531.106 220.29C530.958 220.097 530.68 220.069 530.493 220.225V220.225C530.312 220.376 530.285 220.644 530.428 220.831C531.167 221.801 532.11 223.216 532.807 224.658C533.198 225.468 533.504 226.27 533.657 226.997C533.77 227.531 533.795 228.001 533.729 228.395C533.689 228.629 533.786 228.88 534.002 228.977V228.977C534.23 229.08 534.501 228.972 534.555 228.728C534.686 228.138 534.645 227.485 534.507 226.83C534.332 226.003 533.993 225.126 533.584 224.278Z', stroke='#FFD166', stroke-width='4', mask='url(#path-1439-outside-23)')
            g(id='Vector 18 (Stroke)_12')
              mask#path-1440-outside-24(maskUnits='userSpaceOnUse', x='523.083', y='222.957', width='6.5061', height='14.2093', fill='black')
                rect(fill='white', x='523.083', y='222.957', width='6.5061', height='14.2093')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M525.377 230.147C525.436 228.471 525.749 226.733 526.055 225.499C526.115 225.258 526.362 225.117 526.602 225.183V225.183C526.842 225.248 526.983 225.495 526.923 225.736C526.63 226.922 526.332 228.587 526.276 230.178C526.245 231.077 526.292 231.934 526.452 232.661C526.568 233.186 526.738 233.62 526.962 233.951C527.102 234.157 527.115 234.441 526.946 234.623V234.623C526.777 234.805 526.489 234.817 526.337 234.621C525.958 234.133 525.719 233.515 525.574 232.855C525.391 232.028 525.344 231.089 525.377 230.147Z')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M525.377 230.147C525.436 228.471 525.749 226.733 526.055 225.499C526.115 225.258 526.362 225.117 526.602 225.183V225.183C526.842 225.248 526.983 225.495 526.923 225.736C526.63 226.922 526.332 228.587 526.276 230.178C526.245 231.077 526.292 231.934 526.452 232.661C526.568 233.186 526.738 233.62 526.962 233.951C527.102 234.157 527.115 234.441 526.946 234.623V234.623C526.777 234.805 526.489 234.817 526.337 234.621C525.958 234.133 525.719 233.515 525.574 232.855C525.391 232.028 525.344 231.089 525.377 230.147Z', fill='#843914')
              path(fill-rule='evenodd', clip-rule='evenodd', d='M525.377 230.147C525.436 228.471 525.749 226.733 526.055 225.499C526.115 225.258 526.362 225.117 526.602 225.183V225.183C526.842 225.248 526.983 225.495 526.923 225.736C526.63 226.922 526.332 228.587 526.276 230.178C526.245 231.077 526.292 231.934 526.452 232.661C526.568 233.186 526.738 233.62 526.962 233.951C527.102 234.157 527.115 234.441 526.946 234.623V234.623C526.777 234.805 526.489 234.817 526.337 234.621C525.958 234.133 525.719 233.515 525.574 232.855C525.391 232.028 525.344 231.089 525.377 230.147Z', stroke='#FFD166', stroke-width='4', mask='url(#path-1440-outside-24)')
          path(id='Ellipse 65_4', d='M626.688 196.324C627.959 199.493 628.126 202.649 627.482 205.146C626.837 207.646 625.45 209.311 623.709 210.01C621.967 210.708 619.814 210.464 617.621 209.103C615.429 207.744 613.367 205.348 612.096 202.179C610.825 199.011 610.658 195.855 611.302 193.357C611.947 190.858 613.334 189.193 615.075 188.494C616.817 187.795 618.97 188.04 621.163 189.4C623.355 190.76 625.417 193.156 626.688 196.324Z', stroke='#60AE93', stroke-width='5')
          rect(id='Rectangle 251_4', x='587.403', y='154.032', width='14.9205', height='4.14458', rx='2.07229', transform='rotate(-21.864 587.403 154.032)', fill='#843914')
        g(id='Group 103')
          g#Group_223
            path#Vector_546(d='M519.464 251.603C511.097 251.945 507.706 258.788 506.027 258.975C504.347 259.162 505.187 256.456 504.814 253.501C504.44 250.546 501.112 251.074 499.37 255.056C495.7 263.485 488.982 274.154 488.982 274.154C455.327 316.673 437.255 315.678 433.741 313.874C429.915 311.945 426.182 294.527 426.182 294.527C426.182 294.527 390.101 296.238 390.07 299.566C389.946 308.368 394.767 332.319 413.616 345.04C432.465 357.762 459.402 345.88 469.728 339.379C480.988 332.319 515.607 290.079 515.607 290.079C520.988 283.61 526.835 273.345 530.786 264.854C533.989 257.949 525.871 251.354 519.464 251.603Z', fill='#FFB9A6')
          g#Group_224
            path#Vector_547(d='M428.204 294.683C417.255 295.989 401.081 300.064 390.07 299.566C389.417 299.535 388.701 299.473 388.235 299.006C387.799 298.571 387.706 297.886 387.675 297.264C386.462 280.841 396.789 262.708 408.919 251.572L421.579 258.291L428.204 294.683Z', fill='white')
          g#Group_225
            path#Vector_548(d='M524.067 266.378C523.88 266.378 523.694 266.285 523.569 266.129C523.383 265.849 523.445 265.476 523.725 265.258C525.871 263.734 529.199 258.54 529.293 257.015C529.324 256.673 529.604 256.393 529.946 256.424C530.288 256.456 530.568 256.736 530.537 257.078C530.443 259.099 526.804 264.605 524.471 266.253C524.316 266.347 524.191 266.378 524.067 266.378Z', fill='#FF9C85')
          g#Group_226
            path#Vector_549(d='M520.024 262.863C519.837 262.863 519.651 262.77 519.526 262.614C519.308 262.334 519.371 261.961 519.619 261.743C522.015 259.846 525.125 254.994 525.218 253.501C525.249 253.158 525.529 252.878 525.871 252.91C526.214 252.941 526.494 253.221 526.462 253.563C526.369 255.553 522.979 260.686 520.397 262.739C520.304 262.801 520.148 262.863 520.024 262.863Z', fill='#FF9C85')
          g#Group_227
            path#Vector_550(d='M514.985 260.904C514.798 260.904 514.611 260.81 514.487 260.655C514.269 260.375 514.331 260.002 514.58 259.784C516.975 257.886 520.086 253.034 520.179 251.541C520.21 251.199 520.49 250.95 520.832 250.95C521.174 250.981 521.454 251.261 521.423 251.603C521.33 253.594 517.939 258.726 515.358 260.779C515.264 260.872 515.109 260.904 514.985 260.904Z', fill='#FF9C85')
      rect(id='Rectangle 69', x='574.136', y='329.744', width='270.229', height='16.9591', transform='rotate(103.856 574.136 329.744)', fill='#1C7C85')
