svg(width='2494', height='766', viewBox='0 0 2494 766', preserveAspectRatio='xMidYMax slice' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(id='FOOD TAIPEI', clip-path='url(#clip0)')
    g#mainTableItems
      g(id='æ©„æ¬–æ²¹')
        path#Union_69(opacity='0.8', fill-rule='evenodd', clip-rule='evenodd', d='M1205.7 264.737V273.384H1208.83C1210.02 273.384 1211.16 273.806 1212.07 274.574L1234.08 293.274H1235C1237.76 293.274 1240 295.513 1240 298.274V320.496C1240 323.258 1237.76 325.496 1235 325.496H1233.08V399.339H1235C1237.76 399.339 1240 401.578 1240 404.339V426.561C1240 429.323 1237.76 431.561 1235 431.561H1146.38C1143.62 431.561 1141.38 429.323 1141.38 426.561V404.339C1141.38 401.578 1143.62 399.339 1146.38 399.339H1148.3V325.496H1146.38C1143.62 325.496 1141.38 323.258 1141.38 320.496V298.274C1141.38 295.513 1143.62 293.274 1146.38 293.274H1147.3L1169.31 274.574C1170.22 273.806 1171.36 273.384 1172.55 273.384H1175.68V264.737C1175.68 264.185 1176.13 263.737 1176.68 263.737H1204.7C1205.25 263.737 1205.7 264.185 1205.7 264.737Z', fill='white')
        path#Union_70(opacity='0.9', fill-rule='evenodd', clip-rule='evenodd', d='M1214.59 276.6H1167.03L1147.31 293.274H1146.38C1143.62 293.274 1141.38 295.513 1141.38 298.274V320.496C1141.38 323.258 1143.62 325.496 1146.38 325.496H1148.3V399.339H1146.38C1143.62 399.339 1141.38 401.578 1141.38 404.339V426.561C1141.38 429.323 1143.62 431.561 1146.38 431.561H1235C1237.76 431.561 1240 429.323 1240 426.561V404.339C1240 401.578 1237.76 399.339 1235 399.339H1233.08V325.496H1235C1237.76 325.496 1240 323.258 1240 320.496V298.274C1240 295.513 1237.76 293.274 1235 293.274H1234.08L1214.59 276.6Z', fill='#E7BA1C')
        path(id='Rectangle 191', opacity='0.8', d='M1175.68 272.312H1205.7V264.737C1205.7 264.185 1205.25 263.737 1204.7 263.737H1176.68C1176.13 263.737 1175.68 264.185 1175.68 264.737V272.312Z', fill='#2B851C')
        rect(id='Rectangle 185_10', x='1148.3', y='324.292', width='84.7774', height='74.3965', fill='#2B851C')
        rect(id='Rectangle 186_10', x='1167.33', y='329.483', width='46.7141', height='65.7458', fill='#ECCA71')
        rect(id='Rectangle 187_10', x='1205.5', y='297.712', width='5.9679', height='11.9358', transform='rotate(-14.8246 1205.5 297.712)', fill='white')
        rect(id='Rectangle 188_10', x='1200.5', y='302.123', width='2.98395', height='5.9679', transform='rotate(-14.8246 1200.5 302.123)', fill='white')
        rect(id='Rectangle 192', x='1155.72', y='368.046', width='69.9362', height='23.2221', fill='#2B851C', stroke='white')
        rect(id='Rectangle 193', x='1175.98', y='326.022', width='29.4126', height='13.8412', fill='#303A43')
        rect(id='Rectangle 258', x='1174.25', y='372.736', width='6.92061', height='8.65076', fill='#E6CD4B')
        rect(id='Rectangle 259', x='1182.9', y='372.736', width='6.92061', height='8.65076', fill='#E6CD4B')
        rect(id='Rectangle 260', x='1191.56', y='372.736', width='6.92061', height='8.65076', fill='#E6CD4B')
        rect(id='Rectangle 261', x='1200.21', y='372.736', width='6.92061', height='8.65076', fill='#E6CD4B')
        path(id='Ellipse 69', d='M1189.83 343.324C1188.1 344.189 1187.14 345.054 1183.77 345.054C1180.31 345.054 1179.44 344.189 1177.71 343.324C1179.44 342.459 1180.31 341.594 1183.77 341.594C1187.23 341.594 1188.1 342.459 1189.83 343.324Z', fill='#76A545')
        path(id='Ellipse 74', d='M1203.67 343.324C1201.94 344.189 1200.98 345.054 1197.61 345.054C1194.15 345.054 1193.29 344.189 1191.56 343.324C1193.29 342.459 1194.15 341.594 1197.61 341.594C1201.07 341.594 1201.94 342.459 1203.67 343.324Z', fill='#76A545')
        path(id='Ellipse 70', d='M1189.83 348.514C1188.1 349.379 1187.14 350.244 1183.77 350.244C1180.31 350.244 1179.44 349.379 1177.71 348.514C1179.44 347.649 1180.31 346.784 1183.77 346.784C1187.23 346.784 1188.1 347.649 1189.83 348.514Z', fill='#76A545')
        path(id='Ellipse 75', d='M1203.67 348.514C1201.94 349.379 1200.98 350.244 1197.61 350.244C1194.15 350.244 1193.29 349.379 1191.56 348.514C1193.29 347.649 1194.15 346.784 1197.61 346.784C1201.07 346.784 1201.94 347.649 1203.67 348.514Z', fill='#76A545')
        path(id='Ellipse 71', d='M1189.83 353.705C1188.1 354.57 1187.14 355.435 1183.77 355.435C1180.31 355.435 1179.44 354.57 1177.71 353.705C1179.44 352.839 1180.31 351.974 1183.77 351.974C1187.23 351.974 1188.1 352.839 1189.83 353.705Z', fill='#76A545')
        path(id='Ellipse 76', d='M1203.67 353.705C1201.94 354.57 1200.98 355.435 1197.61 355.435C1194.15 355.435 1193.29 354.57 1191.56 353.705C1193.29 352.839 1194.15 351.974 1197.61 351.974C1201.07 351.974 1201.94 352.839 1203.67 353.705Z', fill='#76A545')
        path(id='Ellipse 72', d='M1189.83 358.895C1188.1 359.76 1187.14 360.625 1183.77 360.625C1180.31 360.625 1179.44 359.76 1177.71 358.895C1179.44 358.03 1180.31 357.165 1183.77 357.165C1187.23 357.165 1188.1 358.03 1189.83 358.895Z', fill='#76A545')
        path(id='Ellipse 77', d='M1203.67 358.895C1201.94 359.76 1200.98 360.625 1197.61 360.625C1194.15 360.625 1193.29 359.76 1191.56 358.895C1193.29 358.03 1194.15 357.165 1197.61 357.165C1201.07 357.165 1201.94 358.03 1203.67 358.895Z', fill='#76A545')
        path(id='Ellipse 73', d='M1189.83 364.086C1188.1 364.951 1187.14 365.816 1183.77 365.816C1180.31 365.816 1179.44 364.951 1177.71 364.086C1179.44 363.221 1180.31 362.355 1183.77 362.355C1187.23 362.355 1188.1 363.221 1189.83 364.086Z', fill='#76A545')
        path(id='Ellipse 78', d='M1203.67 364.086C1201.94 364.951 1200.98 365.816 1197.61 365.816C1194.15 365.816 1193.29 364.951 1191.56 364.086C1193.29 363.221 1194.15 362.355 1197.61 362.355C1201.07 362.355 1201.94 363.221 1203.67 364.086Z', fill='#76A545')
        rect(id='Rectangle 262', x='1189.83', y='341.594', width='1.73015', height='25.9523', fill='#DB4755')
      g(id='æ©„æ¬–æ²¹_2')
        path#Union_71(opacity='0.8', fill-rule='evenodd', clip-rule='evenodd', d='M1155.32 264.737V273.384H1158.45C1159.64 273.384 1160.78 273.806 1161.69 274.574L1183.7 293.274H1184.62C1187.38 293.274 1189.62 295.513 1189.62 298.274V320.496C1189.62 323.258 1187.38 325.496 1184.62 325.496H1182.7V399.339H1184.62C1187.38 399.339 1189.62 401.578 1189.62 404.339V426.561C1189.62 429.323 1187.38 431.561 1184.62 431.561H1096C1093.24 431.561 1091 429.323 1091 426.561V404.339C1091 401.578 1093.24 399.339 1096 399.339H1097.92V325.496H1096C1093.24 325.496 1091 323.258 1091 320.496V298.274C1091 295.513 1093.24 293.274 1096 293.274H1096.92L1118.93 274.574C1119.84 273.806 1120.98 273.384 1122.17 273.384H1125.3V264.737C1125.3 264.185 1125.75 263.737 1126.3 263.737H1154.32C1154.87 263.737 1155.32 264.185 1155.32 264.737Z', fill='white')
        path#Union_72(opacity='0.9', fill-rule='evenodd', clip-rule='evenodd', d='M1164.21 276.6H1116.65L1096.92 293.274H1096C1093.24 293.274 1091 295.513 1091 298.274V320.496C1091 323.258 1093.24 325.496 1096 325.496H1097.92V399.339H1096C1093.24 399.339 1091 401.578 1091 404.339V426.561C1091 429.323 1093.24 431.561 1096 431.561H1184.62C1187.38 431.561 1189.62 429.323 1189.62 426.561V404.339C1189.62 401.578 1187.38 399.339 1184.62 399.339H1182.7V325.496H1184.62C1187.38 325.496 1189.62 323.258 1189.62 320.496V298.274C1189.62 295.513 1187.38 293.274 1184.62 293.274H1183.7L1164.21 276.6Z', fill='#FACE31')
        path(id='Rectangle 191_2', opacity='0.8', d='M1125.3 272.312H1155.32V264.737C1155.32 264.185 1154.87 263.737 1154.32 263.737H1126.3C1125.75 263.737 1125.3 264.185 1125.3 264.737V272.312Z', fill='#2B851C')
        rect(id='Rectangle 185_11', x='1097.92', y='324.292', width='84.7774', height='74.3965', fill='#2B851C')
        rect(id='Rectangle 186_11', x='1116.95', y='329.483', width='46.7141', height='65.7458', fill='#FEDC83')
        rect(id='Rectangle 187_11', x='1155.12', y='297.712', width='5.9679', height='11.9358', transform='rotate(-14.8246 1155.12 297.712)', fill='white')
        rect(id='Rectangle 188_11', x='1150.11', y='302.123', width='2.98395', height='5.9679', transform='rotate(-14.8246 1150.11 302.123)', fill='white')
        rect(id='Rectangle 192_2', x='1105.34', y='368.046', width='69.9362', height='23.2221', fill='#2B851C', stroke='white')
        rect(id='Rectangle 193_2', x='1125.6', y='326.022', width='29.4126', height='13.8412', fill='#303A43')
        rect(id='Rectangle 258_2', x='1123.87', y='372.736', width='6.92061', height='8.65076', fill='#FFC163')
        rect(id='Rectangle 259_2', x='1132.52', y='372.736', width='6.92061', height='8.65076', fill='#FFC163')
        rect(id='Rectangle 260_2', x='1141.17', y='372.736', width='6.92061', height='8.65076', fill='#FFC163')
        rect(id='Rectangle 261_2', x='1149.83', y='372.736', width='6.92061', height='8.65076', fill='#FFC163')
        path(id='Ellipse 69_2', d='M1139.44 343.324C1137.71 344.189 1136.76 345.054 1133.39 345.054C1129.93 345.054 1129.06 344.189 1127.33 343.324C1129.06 342.459 1129.93 341.594 1133.39 341.594C1136.85 341.594 1137.71 342.459 1139.44 343.324Z', fill='#A0D468')
        path(id='Ellipse 74_2', d='M1153.29 343.324C1151.56 344.189 1150.6 345.054 1147.23 345.054C1143.77 345.054 1142.9 344.189 1141.17 343.324C1142.9 342.459 1143.77 341.594 1147.23 341.594C1150.69 341.594 1151.56 342.459 1153.29 343.324Z', fill='#A0D468')
        path(id='Ellipse 70_2', d='M1139.44 348.514C1137.71 349.379 1136.76 350.244 1133.39 350.244C1129.93 350.244 1129.06 349.379 1127.33 348.514C1129.06 347.649 1129.93 346.784 1133.39 346.784C1136.85 346.784 1137.71 347.649 1139.44 348.514Z', fill='#A0D468')
        path(id='Ellipse 75_2', d='M1153.29 348.514C1151.56 349.379 1150.6 350.244 1147.23 350.244C1143.77 350.244 1142.9 349.379 1141.17 348.514C1142.9 347.649 1143.77 346.784 1147.23 346.784C1150.69 346.784 1151.56 347.649 1153.29 348.514Z', fill='#A0D468')
        path(id='Ellipse 71_2', d='M1139.44 353.705C1137.71 354.57 1136.76 355.435 1133.39 355.435C1129.93 355.435 1129.06 354.57 1127.33 353.705C1129.06 352.839 1129.93 351.974 1133.39 351.974C1136.85 351.974 1137.71 352.839 1139.44 353.705Z', fill='#A0D468')
        path(id='Ellipse 76_2', d='M1153.29 353.705C1151.56 354.57 1150.6 355.435 1147.23 355.435C1143.77 355.435 1142.9 354.57 1141.17 353.705C1142.9 352.839 1143.77 351.974 1147.23 351.974C1150.69 351.974 1151.56 352.839 1153.29 353.705Z', fill='#A0D468')
        path(id='Ellipse 72_2', d='M1139.44 358.895C1137.71 359.76 1136.76 360.625 1133.39 360.625C1129.93 360.625 1129.06 359.76 1127.33 358.895C1129.06 358.03 1129.93 357.165 1133.39 357.165C1136.85 357.165 1137.71 358.03 1139.44 358.895Z', fill='#A0D468')
        path(id='Ellipse 77_2', d='M1153.29 358.895C1151.56 359.76 1150.6 360.625 1147.23 360.625C1143.77 360.625 1142.9 359.76 1141.17 358.895C1142.9 358.03 1143.77 357.165 1147.23 357.165C1150.69 357.165 1151.56 358.03 1153.29 358.895Z', fill='#A0D468')
        path(id='Ellipse 73_2', d='M1139.44 364.086C1137.71 364.951 1136.76 365.816 1133.39 365.816C1129.93 365.816 1129.06 364.951 1127.33 364.086C1129.06 363.221 1129.93 362.355 1133.39 362.355C1136.85 362.355 1137.71 363.221 1139.44 364.086Z', fill='#A0D468')
        path(id='Ellipse 78_2', d='M1153.29 364.086C1151.56 364.951 1150.6 365.816 1147.23 365.816C1143.77 365.816 1142.9 364.951 1141.17 364.086C1142.9 363.221 1143.77 362.355 1147.23 362.355C1150.69 362.355 1151.56 363.221 1153.29 364.086Z', fill='#A0D468')
        rect(id='Rectangle 262_2', x='1139.44', y='341.594', width='1.73015', height='25.9523', fill='#DB4755')
      g(id='å¤§è²å…¬')
        path#Vector_1949(d='M927.04 390.304C927.04 390.304 945.589 397.515 951.02 399.618C960.071 403.124 953.98 430.265 946.43 431.028C940.438 431.649 918.009 430.548 918.009 430.548L927.04 390.304Z', fill='#FE5A63')
        path#Vector_1950(d='M872.292 355.9L926.947 390.283C926.947 390.283 934.462 407.207 917.915 430.527L854.229 436.387L872.292 355.9Z', fill='#FFE6E4')
        path#Vector_1951(d='M853.995 436.334C864.47 438.685 877.005 422.573 881.993 400.347C886.98 378.121 882.533 358.198 872.058 355.847C861.583 353.496 849.048 369.608 844.061 391.834C839.073 414.06 843.521 433.983 853.995 436.334Z', fill='#DA4453')
        g#Group_981
          g(id='Mask Group_38')
            path#Vector_1952(d='M855.781 428.379C863.591 430.132 873.167 417.097 877.169 399.264C881.171 381.432 878.083 365.555 870.273 363.802C862.462 362.049 852.886 375.084 848.884 392.917C844.882 410.749 847.97 426.626 855.781 428.379Z', fill='#FE5A63')
            mask#mask40(mask-type='alpha', maskUnits='userSpaceOnUse', x='847', y='363', width='32', height='66')
              path#Vector_1953(d='M855.781 428.379C863.591 430.132 873.167 417.097 877.169 399.264C881.171 381.432 878.083 365.555 870.273 363.802C862.462 362.049 852.886 375.084 848.884 392.917C844.882 410.749 847.97 426.626 855.781 428.379Z', fill='#DA4453')
            g(mask='url(#mask40)')
              path#Vector_1954(d='M863.593 385.896L885.29 385.653L878.17 417.38L859.182 405.55L863.593 385.896Z', fill='#FBC1BD')
          path#Vector_1955(d='M859.416 405.602C862.132 406.212 865.321 402.306 866.539 396.879C867.757 391.452 866.543 386.558 863.827 385.948C861.111 385.339 857.923 389.245 856.705 394.672C855.487 400.099 856.701 404.993 859.416 405.602Z', fill='white')
      g(id='æœ¬æ—¥ç‰¹åƒ¹')
        path(id='Rectangle 233', d='M959.75 317H1055.01L1075.33 431H980.072L959.75 317Z', fill='#1C7C85')
        path(id='Rectangle 232', d='M960.163 317H1055.54L1031.38 431H936L960.163 317Z', fill='#6FAFB7')
        path(id='Rectangle 234', opacity='0.6', d='M968.464 333.635C968.755 332.245 969.98 331.25 971.4 331.25H1036.01C1037.92 331.25 1039.34 333.002 1038.95 334.865L1022.29 414.365C1021.99 415.755 1020.77 416.75 1019.35 416.75H954.736C952.831 416.75 951.409 414.998 951.8 413.135L968.464 333.635Z', stroke='#FFC163', stroke-opacity='0.7', stroke-width='4')
        path(id='Star 1', d='M990.62 353.802C992.116 349.195 998.634 349.195 1000.13 353.802L1002.43 360.875C1003.1 362.935 1005.02 364.33 1007.18 364.33H1014.62C1019.46 364.33 1021.48 370.528 1017.56 373.375L1011.54 377.747C1009.79 379.02 1009.06 381.277 1009.73 383.337L1012.02 390.41C1013.52 395.016 1008.25 398.847 1004.33 396L998.314 391.629C996.561 390.355 994.188 390.355 992.436 391.629L986.419 396C982.501 398.847 977.228 395.016 978.725 390.41L981.023 383.337C981.693 381.277 980.959 379.02 979.207 377.747L973.19 373.375C969.272 370.528 971.285 364.33 976.129 364.33H983.566C985.732 364.33 987.652 362.935 988.322 360.875L990.62 353.802Z', fill='#FFCE54')
      g(id='è¬å®¶é¦™')
        rect(id='Rectangle 152_10', x='1120.57', y='299', width='14.8571', height='18.2857', rx='4', fill='white')
        path(id='Rectangle 172_10', d='M1120.57 303C1120.57 300.791 1122.36 299 1124.57 299H1131.43C1133.64 299 1135.43 300.791 1135.43 303V308.143H1120.57V303Z', fill='#E9573F')
        rect(id='Rectangle 153', x='1108', y='310.428', width='40', height='54.8571', rx='10', fill='#442C2C')
        rect(id='Rectangle 154', x='1108', y='360.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 156', x='1108', y='376.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 158', x='1108', y='392.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 160', x='1108', y='408.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 155', x='1108', y='368.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 157', x='1108', y='384.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 159', x='1108', y='400.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 161', x='1108', y='416.714', width='40', height='14.8571', rx='2', fill='#442C2C')
        g(id='Mask Group_39')
          mask#mask41(mask-type='alpha', maskUnits='userSpaceOnUse', x='1108', y='325', width='40', height='22')
            rect(id='Rectangle 162', x='1108', y='325.286', width='40', height='21.7143', fill='#FFC163')
          g(mask='url(#mask41)')
            rect(id='Rectangle 163', x='1108', y='325.286', width='40', height='21.7143', fill='#E9573F')
            circle(id='Ellipse 37', cx='1128', cy='345.286', r='17.7143', fill='#FFC163')
            circle(id='Ellipse 38', cx='1128', cy='346.428', r='7.42857', fill='#E9573F')
        circle(id='Ellipse 39', cx='1121.14', cy='335', r='2.85714', fill='white')
        circle(id='Ellipse 40', cx='1128', cy='335', r='2.85714', fill='white')
        circle(id='Ellipse 41', cx='1134.86', cy='335', r='2.85714', fill='white')
        rect(id='Rectangle 164', x='1117.14', y='360.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 165', x='1117.14', y='368.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 166', x='1117.14', y='376.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 167', x='1117.14', y='384.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 168', x='1117.14', y='392.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 169', x='1117.14', y='400.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 170', x='1117.14', y='408.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 171', x='1117.14', y='416.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
      g(id='é¾œç”²è¬')
        rect(id='Rectangle 152_11', x='1072.57', y='299', width='14.8571', height='18.2857', rx='4', fill='white')
        path(id='Rectangle 172_11', d='M1072.57 303C1072.57 300.791 1074.36 299 1076.57 299H1083.43C1085.64 299 1087.43 300.791 1087.43 303V308.143H1072.57V303Z', fill='#E9573F')
        rect(id='Rectangle 153_2', x='1060', y='310.428', width='40', height='54.8571', rx='10', fill='#442C2C')
        rect(id='Rectangle 154_2', x='1060', y='360.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 156_2', x='1060', y='376.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 158_2', x='1060', y='392.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 160_2', x='1060', y='408.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 155_2', x='1060', y='368.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 157_2', x='1060', y='384.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 159_2', x='1060', y='400.714', width='40', height='8', rx='2', fill='#442C2C')
        rect(id='Rectangle 161_2', x='1060', y='416.714', width='40', height='14.8571', rx='2', fill='#442C2C')
        g(id='Mask Group_40')
          mask#mask42(mask-type='alpha', maskUnits='userSpaceOnUse', x='1060', y='320', width='40', height='33')
            rect(id='Rectangle 162_2', x='1060', y='320', width='40', height='32.2857', fill='#FFC163')
          g(mask='url(#mask42)')
            rect(id='Rectangle 163_2', x='1060', y='310.654', width='40', height='50.5526', fill='#FFECBE')
            rect(id='Rectangle 173', x='1064', y='322', width='32', height='28', rx='5', fill='#E9573F')
        rect(id='Rectangle 164_2', x='1069.14', y='360.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 165_2', x='1069.14', y='368.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 166_2', x='1069.14', y='376.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 167_2', x='1069.14', y='384.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 168_2', x='1069.14', y='392.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 169_2', x='1069.14', y='400.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 170_2', x='1069.14', y='408.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 171_2', x='1069.14', y='416.714', width='6.85714', height='1.14286', rx='0.571429', fill='white')
        rect(id='Rectangle 174', x='1076', y='321', width='9', height='5', rx='1', fill='white')
        rect(id='Rectangle 179', x='1076', y='343', width='9', height='5', rx='1', fill='white')
        rect(id='Rectangle 175', x='1069', y='329', width='22', height='7', fill='#333333')
        rect(id='Rectangle 176', x='1073', y='338', width='4', height='3', fill='#333333')
        rect(id='Rectangle 177', x='1078', y='338', width='4', height='3', fill='#333333')
        rect(id='Rectangle 178', x='1083', y='338', width='4', height='3', fill='#333333')
