svg(width='2494', height='766', viewBox='0 0 2494 766', preserveAspectRatio='xMidYMax slice' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(id='FOOD TAIPEI', clip-path='url(#clip0)')
    g#ribbon
      path(id='Vector 21', d='M2431.07 151.643L2411.88 108.11L2460.37 109.751L2438.28 151.886C2436.72 154.853 2432.43 154.708 2431.07 151.643Z', fill='#E9573F')
      path(id='Vector 26', d='M2380.58 149.89L2364.05 105.278L2412.35 109.846L2387.75 150.569C2386.02 153.436 2381.74 153.032 2380.58 149.89Z', fill='#3A7CCC')
      path(id='Vector 31', d='M2142.39 29.7087L2162.99 -13.1772L2193.27 24.7305L2146.89 35.3397C2143.63 36.0867 2140.94 32.7285 2142.39 29.7087Z', fill='#3A7CCC')
      path(id='Vector 27', d='M2326.92 140.351L2316.39 93.9561L2363.67 104.822L2333.95 141.966C2331.85 144.581 2327.66 143.618 2326.92 140.351Z', fill='white')
      path(id='Vector 28', d='M2275.55 123.978L2270.83 76.6372L2316.41 93.2604L2282.32 126.447C2279.92 128.784 2275.88 127.312 2275.55 123.978Z', fill='#1C7C85')
      path(id='Vector 29', d='M2225.91 100.422L2229.63 52.9924L2271.55 77.4092L2232.13 104.049C2229.36 105.925 2225.64 103.762 2225.91 100.422Z', fill='#FFAF27')
      path(id='Vector 30', d='M2181.77 69.3385L2192.64 23.0203L2230.38 53.5075L2187.38 73.8673C2184.35 75.3009 2181.01 72.6001 2181.77 69.3385Z', fill='#E9573F')
      path(id='Vector 22', d='M2485.36 149.61L2460.39 109.115L2508.65 104.104L2492.53 148.866C2491.39 152.018 2487.12 152.462 2485.36 149.61Z', fill='#FFAF27')
      path(id='Ellipse 67', d='M2708.88 -61.4489C2705.51 38.3036 2577.4 114.926 2422.75 109.692C2268.1 104.458 2145.47 19.349 2148.84 -80.4036', stroke='#843914', stroke-width='3')
    g#ribbon_2
      path(id='Vector 21_2', d='M1475.8 88.2484L1468.86 41.1816L1515.17 55.6448L1482.67 90.3969C1480.39 92.844 1476.28 91.5627 1475.8 88.2484Z', fill='#E9573F')
      path(id='Vector 32', d='M1738.61 79.0333L1701.35 49.4514L1745.02 28.3187L1745.1 75.8941C1745.1 79.2442 1741.23 81.1163 1738.61 79.0333Z', fill='#E9573F')
      path(id='Vector 26_2', d='M1427.58 73.1445L1423.5 25.7444L1468.85 42.9794L1434.32 75.7046C1431.88 78.009 1427.87 76.4822 1427.58 73.1445Z', fill='#3A7CCC')
      path(id='Vector 27_2', d='M1378.39 49.6946L1380.56 2.1687L1423.26 25.2054L1384.73 53.1166C1382.01 55.082 1378.23 53.0412 1378.39 49.6946Z', fill='white')
      path(id='Vector 28_2', d='M1333.2 20.2613L1341.23 -26.6323L1380.76 1.50189L1339.08 24.4404C1336.14 26.0557 1332.64 23.5633 1333.2 20.2613Z', fill='#FBC1BD')
      path(id='Vector 22_2', d='M1528.67 100.711L1515.36 55.0369L1563.21 63.0256L1535.78 101.898C1533.85 104.635 1529.61 103.927 1528.67 100.711Z', fill='#FFAF27')
      path(id='Vector 23', d='M1581.75 106.655L1563.83 62.5833L1612.25 65.6336L1588.94 107.108C1587.3 110.029 1583.01 109.759 1581.75 106.655Z', fill='#FBC1BD')
      path(id='Vector 24', d='M1634.68 106.834L1610.37 65.9387L1658.7 61.7119L1641.86 106.207C1640.67 109.34 1636.39 109.714 1634.68 106.834Z', fill='white')
      path(id='Vector 25', d='M1688.56 97.9337L1657.32 62.0508L1704.11 49.2397L1695.51 96.0307C1694.9 99.3255 1690.76 100.46 1688.56 97.9337Z', fill='#3A7CCC')
      path(id='Vector 33', d='M1787.76 45.9454L1743.36 28.8672L1778.7 -4.36411L1793.01 41.0091C1794.02 44.2041 1790.89 47.148 1787.76 45.9454Z', fill='#FFAF27')
      path(id='Ellipse 67_2', d='M1800.23 -43.3855C1770.48 51.8859 1626.62 91.7232 1478.91 45.5937C1415.84 25.8934 1362.26 -6.29995 1323.89 -44.1433', stroke='#843914', stroke-width='3')
    g#ribbon_3
      path(id='Vector 21_3', d='M1093.16 102.641L1073.53 59.3066L1122.03 60.4538L1100.37 102.812C1098.84 105.794 1094.54 105.693 1093.16 102.641Z', fill='#E9573F')
      path(id='Vector 32_2', d='M1343.27 21.3883L1299.3 3.2146L1335.46 -29.1303L1348.64 16.5836C1349.57 19.8026 1346.36 22.668 1343.27 21.3883Z', fill='#E9573F')
      path(id='Vector 26_3', d='M1042.65 101.403L1025.67 56.9617L1074.01 61.0374L1049.83 102.009C1048.13 104.894 1043.84 104.533 1042.65 101.403Z', fill='#3A7CCC')
      path(id='Vector 31_2', d='M803.253 -16.3462L823.412 -59.4397L854.075 -21.8422L807.808 -10.7613C804.55 -9.98106 801.834 -13.3118 803.253 -16.3462Z', fill='#3A7CCC')
      path(id='Vector 27_3', d='M988.899 92.4115L977.896 46.1257L1025.29 56.5097L995.939 93.954C993.872 96.5906 989.674 95.6707 988.899 92.4115Z', fill='white')
      path(id='Vector 28_3', d='M937.358 76.5623L932.157 29.272L977.903 45.4301L944.154 78.9625C941.777 81.3237 937.725 79.8923 937.358 76.5623Z', fill='#6FAFB7')
      path(id='Vector 29_2', d='M887.482 53.5131L890.72 6.04785L932.891 30.0364L893.747 57.0764C890.99 58.9805 887.254 56.8554 887.482 53.5131Z', fill='#FFAF27')
      path(id='Vector 30_2', d='M843.036 22.8806L853.429 -23.5459L891.477 6.5554L848.688 27.352C845.675 28.8164 842.304 26.1498 843.036 22.8806Z', fill='#E9573F')
      path(id='Vector 22_3', d='M1147.42 100.056L1122.04 59.8171L1170.25 54.3151L1154.58 99.2391C1153.48 102.403 1149.21 102.89 1147.42 100.056Z', fill='#FFAF27')
      path(id='Vector 23_2', d='M1200.08 91.1509L1170.72 53.72L1218.1 43.3146L1207.12 89.6053C1206.35 92.8649 1202.15 93.7867 1200.08 91.1509Z', fill='#6FAFB7')
      path(id='Vector 24_2', d='M1251.02 76.7424L1216.38 44.1252L1261.68 26.7487L1257.75 74.1613C1257.47 77.4999 1253.46 79.0392 1251.02 76.7424Z', fill='white')
      path(id='Vector 25_2', d='M1300.36 53.3448L1260.44 27.4551L1301.9 2.2498L1306.52 49.6007C1306.84 52.935 1303.17 55.1679 1300.36 53.3448Z', fill='#3A7CCC')
      path(id='Ellipse 67_3', d='M1368.78 -113.269C1366.42 -13.4868 1239.1 64.4362 1084.41 60.7774C929.715 57.1185 806.222 -26.7367 808.582 -126.518', stroke='#843914', stroke-width='3')
  defs
    clippath#clip0
      rect(width='2494', height='766', fill='white')