svg(width='2494', height='766', viewBox='0 0 2494 766', preserveAspectRatio='xMidYMax slice' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(id='FOOD TAIPEI', clip-path='url(#clip0)')
    g#taiwanFishery
      g(id='水產')
        rect(id='Rectangle 407', x='853', y='742', width='509', height='28', fill='#095BBE')
        path(id='Vector 69', d='M1408.5 770L1408 484L1362 742V770H1408.5Z', fill='#095BBE')
        path(id='Rectangle 315', d='M900.658 484L1408 484L1362 742H853L900.658 484Z', fill='#3A7CCC')
        path(id='Rectangle 316', d='M915.544 497L1388.89 497L1347 725H873.658L915.544 497Z', fill='white', fill-opacity='0.9')
        g(id='Group 128')
          path#Vector_1115(d='M1183.03 582.585L1179.74 592.868C1179.28 594.212 1180.06 595.663 1181.4 596.124L1188.11 598.283C1189.45 598.744 1190.91 597.964 1191.37 596.62L1194.66 586.337C1195.12 584.993 1194.34 583.541 1192.99 583.08L1186.29 580.921C1184.94 580.461 1183.49 581.241 1183.03 582.585Z', fill='#FDFCFA')
          path#Vector_1116(d='M1187.59 596.519C1187.59 596.519 1189.25 597.241 1189.84 596.537C1190.43 595.834 1191.43 592.414 1191.43 592.414C1191.43 592.414 1188.32 596.599 1187.59 596.519Z', fill='#EBF2FA')
          path#Vector_1117(d='M1182.48 595.16C1182.48 595.16 1180.01 595.089 1181.65 590.744C1183.3 586.399 1183.57 582.899 1184.48 582.601C1185.4 582.303 1191.06 584.12 1191.06 584.12L1182.48 595.16Z', fill='#EBF2FA')
          path#Vector_1118(d='M1187.36 593.932L1187.95 593.228L1191.23 589.319L1192.12 586.343', fill='#EBF2FA')
        g(id='Group 129')
          path#Vector_1119(d='M1193.8 578.303L1201.97 581.876C1203.06 582.324 1203.53 583.6 1203.08 584.685L1200.76 590.021C1200.31 591.105 1199.04 591.579 1197.95 591.131L1189.78 587.557C1188.7 587.109 1188.22 585.833 1188.67 584.749L1191 579.413C1191.44 578.328 1192.72 577.854 1193.8 578.303Z', fill='#FDFCFA')
          path#Vector_1120(d='M1199.95 588.736C1199.95 588.736 1199.49 590.158 1198.74 590.139C1197.98 590.12 1195.31 588.874 1195.31 588.874C1195.31 588.874 1199.6 589.233 1199.95 588.736Z', fill='#EBF2FA')
          path#Vector_1121(d='M1201.9 584.824C1201.9 584.824 1203.2 583.255 1199.61 581.902C1196.02 580.549 1193.71 578.806 1193.02 579.21C1192.34 579.615 1190.37 584.117 1190.37 584.117L1201.9 584.824Z', fill='#EBF2FA')
          path#Vector_1122(d='M1198.47 587.183L1197.71 587.164L1193.5 587.06L1191.17 585.991', fill='#EBF2FA')
        g(id='Group 126')
          path#Vector_1123(d='M1236.29 645.673L1229.91 637.223C1229.05 636.128 1229.31 634.532 1230.4 633.671L1235.91 629.502C1237 628.641 1238.6 628.893 1239.46 629.988L1245.83 638.438C1246.7 639.533 1246.44 641.129 1245.35 641.99L1239.84 646.159C1238.75 647.02 1237.15 646.768 1236.29 645.673Z', fill='#FDFCFA')
          path#Vector_1124(d='M1236 631.303C1236 631.303 1237.3 630.098 1238.07 630.558C1238.85 631.019 1240.88 633.859 1240.88 633.859C1240.88 633.859 1236.65 630.992 1236 631.303Z', fill='#EBF2FA')
          path#Vector_1125(d='M1231.71 634.216C1231.71 634.216 1229.44 635.081 1232.37 638.569C1235.3 642.058 1236.68 645.209 1237.62 645.189C1238.57 645.168 1243.22 641.654 1243.22 641.654L1231.71 634.216Z', fill='#EBF2FA')
          path#Vector_1126(d='M1236.63 633.77L1237.4 634.231L1241.7 636.789L1243.49 639.252', fill='#EBF2FA')
        g(id='Group 127')
          path#Vector_1127(d='M1230.52 656.477L1229.59 645.933C1229.44 644.549 1230.5 643.329 1231.89 643.178L1238.77 642.561C1240.15 642.41 1241.37 643.469 1241.52 644.854L1242.45 655.398C1242.6 656.783 1241.54 658.003 1240.16 658.153L1233.28 658.771C1231.89 658.921 1230.67 657.862 1230.52 656.477Z', fill='#FDFCFA')
          path#Vector_1128(d='M1237.89 644.136C1237.89 644.136 1239.63 643.803 1240.04 644.603C1240.46 645.403 1240.68 648.889 1240.68 648.889C1240.68 648.889 1238.61 644.217 1237.89 644.136Z', fill='#EBF2FA')
          path#Vector_1129(d='M1232.71 644.331C1232.71 644.331 1230.33 643.867 1230.96 648.377C1231.6 652.887 1231.1 656.292 1231.91 656.774C1232.72 657.257 1238.53 656.741 1238.53 656.741L1232.71 644.331Z', fill='#EBF2FA')
          path#Vector_1130(d='M1237.12 646.561L1237.53 647.361L1239.82 651.807L1240.03 654.845', fill='#EBF2FA')
        g(id='有點失敗的魚')
          g(id='魚')
            path(id='Vector 34', d='M912.488 640.716L914.1 665.929L890.832 661.038L902.86 638.692L912.488 640.716Z', fill='#6FAFB7')
            path(id='Ellipse 101', d='M906.032 645.144C895.783 642.99 884.331 606.655 892.755 566.573C901.18 526.492 926.292 497.843 936.541 499.997C946.79 502.151 958.242 538.486 949.817 578.567C941.392 618.649 916.281 647.298 906.032 645.144Z', fill='#6FAFB7')
            path(id='Ellipse 102', d='M899.105 638.192C895.605 632.829 884.331 606.655 892.755 566.573C901.18 526.492 925.84 498.615 931.412 507.885C936.899 525.814 934.42 533.479 925.995 573.56C917.57 613.641 909.319 621.25 899.105 638.192Z', fill='white', fill-opacity='0.75')
            g(id='魚眼')
              circle(id='Ellipse 102_2', cx='934.99', cy='528.016', r='5.09492', transform='rotate(101.87 934.99 528.016)', fill='white')
              circle(id='Ellipse 103', cx='934.99', cy='528.016', r='3.39661', transform='rotate(101.87 934.99 528.016)', fill='#303A43')
            path(id='Vector 35 (Stroke)', fill-rule='evenodd', clip-rule='evenodd', d='M926.999 545.39C931.534 546.331 936.159 545.866 938.993 543.708L939.336 544.159C936.315 546.459 931.494 546.901 926.884 545.944C922.267 544.986 917.768 542.607 915.386 539.145L915.852 538.824C918.124 542.125 922.469 544.45 926.999 545.39Z', fill='black')
          g(id='魚_2')
            path(id='Vector 34_2', d='M963.901 640.716L965.513 665.929L942.245 661.038L954.273 638.692L963.901 640.716Z', fill='#6FAFB7')
            path(id='Ellipse 101_2', d='M957.445 645.144C947.196 642.99 935.744 606.655 944.169 566.573C952.594 526.492 977.705 497.843 987.954 499.997C998.203 502.151 1009.66 538.486 1001.23 578.567C992.806 618.649 967.694 647.298 957.445 645.144Z', fill='#6FAFB7')
            path(id='Ellipse 102_3', d='M950.518 638.192C947.018 632.829 935.744 606.655 944.169 566.573C952.594 526.492 977.253 498.615 982.825 507.885C988.312 525.814 985.833 533.479 977.408 573.56C968.984 613.641 960.732 621.25 950.518 638.192Z', fill='white', fill-opacity='0.75')
            g(id='魚眼_2')
              circle(id='Ellipse 102_4', cx='986.403', cy='528.016', r='5.09492', transform='rotate(101.87 986.403 528.016)', fill='white')
              circle(id='Ellipse 103_2', cx='986.403', cy='528.016', r='3.39661', transform='rotate(101.87 986.403 528.016)', fill='#303A43')
            path(id='Vector 35 (Stroke)_2', fill-rule='evenodd', clip-rule='evenodd', d='M978.412 545.39C982.947 546.331 987.572 545.866 990.406 543.708L990.749 544.159C987.729 546.459 982.908 546.901 978.297 545.944C973.681 544.986 969.181 542.607 966.799 539.145L967.266 538.824C969.537 542.125 973.882 544.45 978.412 545.39Z', fill='black')
          g(id='魚_3')
            path(id='Vector 34_3', d='M1015.31 640.716L1016.93 665.929L993.659 661.038L1005.69 638.692L1015.31 640.716Z', fill='#6FAFB7')
            path(id='Ellipse 101_3', d='M1008.86 645.144C998.609 642.99 987.157 606.655 995.582 566.573C1004.01 526.492 1029.12 497.843 1039.37 499.997C1049.62 502.151 1061.07 538.486 1052.64 578.567C1044.22 618.649 1019.11 647.298 1008.86 645.144Z', fill='#6FAFB7')
            path(id='Ellipse 102_5', d='M1001.93 638.192C998.431 632.829 987.157 606.655 995.582 566.573C1004.01 526.492 1028.67 498.615 1034.24 507.885C1039.73 525.814 1037.25 533.479 1028.82 573.56C1020.4 613.641 1012.15 621.25 1001.93 638.192Z', fill='white', fill-opacity='0.75')
            g(id='魚眼_3')
              circle(id='Ellipse 102_6', cx='1037.82', cy='528.016', r='5.09492', transform='rotate(101.87 1037.82 528.016)', fill='white')
              circle(id='Ellipse 103_3', cx='1037.82', cy='528.016', r='3.39661', transform='rotate(101.87 1037.82 528.016)', fill='#303A43')
            path(id='Vector 35 (Stroke)_3', fill-rule='evenodd', clip-rule='evenodd', d='M1029.83 545.39C1034.36 546.331 1038.99 545.866 1041.82 543.708L1042.16 544.159C1039.14 546.459 1034.32 546.901 1029.71 545.944C1025.09 544.986 1020.59 542.607 1018.21 539.145L1018.68 538.824C1020.95 542.125 1025.3 544.45 1029.83 545.39Z', fill='black')
          g(id='魚_4')
            path(id='Vector 34_4', d='M1066.73 640.716L1068.34 665.929L1045.07 661.038L1057.1 638.692L1066.73 640.716Z', fill='#6FAFB7')
            path(id='Ellipse 101_4', d='M1060.27 645.144C1050.02 642.99 1038.57 606.655 1047 566.573C1055.42 526.492 1080.53 497.843 1090.78 499.997C1101.03 502.151 1112.48 538.486 1104.06 578.567C1095.63 618.649 1070.52 647.298 1060.27 645.144Z', fill='#6FAFB7')
            path(id='Ellipse 102_7', d='M1053.34 638.192C1049.84 632.829 1038.57 606.655 1047 566.573C1055.42 526.492 1080.08 498.615 1085.65 507.885C1091.14 525.814 1088.66 533.479 1080.24 573.56C1071.81 613.641 1063.56 621.25 1053.34 638.192Z', fill='white', fill-opacity='0.75')
            g(id='魚眼_4')
              circle(id='Ellipse 102_8', cx='1089.23', cy='528.016', r='5.09492', transform='rotate(101.87 1089.23 528.016)', fill='white')
              circle(id='Ellipse 103_4', cx='1089.23', cy='528.016', r='3.39661', transform='rotate(101.87 1089.23 528.016)', fill='#303A43')
            path(id='Vector 35 (Stroke)_4', fill-rule='evenodd', clip-rule='evenodd', d='M1081.24 545.39C1085.77 546.331 1090.4 545.866 1093.23 543.708L1093.58 544.159C1090.56 546.459 1085.73 546.901 1081.12 545.944C1076.51 544.986 1072.01 542.607 1069.63 539.145L1070.09 538.824C1072.36 542.125 1076.71 544.45 1081.24 545.39Z', fill='black')
          g(id='魚_5')
            path(id='Vector 34_5', d='M1118.14 640.716L1119.75 665.929L1096.49 661.038L1108.51 638.692L1118.14 640.716Z', fill='#6FAFB7')
            path(id='Ellipse 101_5', d='M1111.69 645.144C1101.44 642.99 1089.98 606.655 1098.41 566.573C1106.83 526.492 1131.95 497.843 1142.19 499.997C1152.44 502.151 1163.9 538.486 1155.47 578.567C1147.05 618.649 1121.93 647.298 1111.69 645.144Z', fill='#6FAFB7')
            path(id='Ellipse 102_9', d='M1104.76 638.192C1101.26 632.829 1089.98 606.655 1098.41 566.573C1106.83 526.492 1131.49 498.615 1137.07 507.885C1142.55 525.814 1140.07 533.479 1131.65 573.56C1123.22 613.641 1114.97 621.25 1104.76 638.192Z', fill='white', fill-opacity='0.75')
            g(id='魚眼_5')
              circle(id='Ellipse 102_10', cx='1140.64', cy='528.016', r='5.09492', transform='rotate(101.87 1140.64 528.016)', fill='white')
              circle(id='Ellipse 103_5', cx='1140.64', cy='528.016', r='3.39661', transform='rotate(101.87 1140.64 528.016)', fill='#303A43')
            path(id='Vector 35 (Stroke)_5', fill-rule='evenodd', clip-rule='evenodd', d='M1132.65 545.39C1137.19 546.331 1141.81 545.866 1144.65 543.708L1144.99 544.159C1141.97 546.459 1137.15 546.901 1132.54 545.944C1127.92 544.986 1123.42 542.607 1121.04 539.145L1121.51 538.824C1123.78 542.125 1128.12 544.45 1132.65 545.39Z', fill='black')
      g(id='Group 120')
        path#Vector_1131(d='M1288.67 519.528L1298.16 514.828C1299.39 514.184 1300.92 514.727 1301.56 515.962L1304.64 522.146C1305.28 523.381 1304.74 524.903 1303.5 525.547L1294.02 530.247C1292.78 530.891 1291.26 530.348 1290.62 529.113L1287.54 522.929C1286.9 521.694 1287.44 520.172 1288.67 519.528Z', fill='#FDFCFA')
        path#Vector_1132(d='M1302.85 521.904C1302.85 521.904 1303.79 523.403 1303.2 524.078C1302.6 524.753 1299.44 526.226 1299.44 526.226C1299.44 526.226 1303.04 522.601 1302.85 521.904Z', fill='#EBF2FA')
        path#Vector_1133(d='M1300.78 517.144C1300.78 517.144 1300.35 514.762 1296.38 516.993C1292.41 519.225 1289.06 520.001 1288.9 520.931C1288.75 521.862 1291.34 527.085 1291.34 527.085L1300.78 517.144Z', fill='#EBF2FA')
        path#Vector_1134(d='M1300.31 522.062L1299.71 522.737L1296.41 526.485L1293.65 527.791', fill='#EBF2FA')
      g(id='Group 124')
        path#Vector_1135(d='M1274.58 515.776L1271.03 525.971C1270.53 527.302 1271.27 528.774 1272.61 529.269L1279.26 531.6C1280.59 532.095 1282.06 531.353 1282.55 530.022L1286.11 519.827C1286.6 518.495 1285.86 517.024 1284.53 516.529L1277.88 514.197C1276.55 513.702 1275.08 514.444 1274.58 515.776Z', fill='#FDFCFA')
        path#Vector_1136(d='M1278.78 529.823C1278.78 529.823 1280.42 530.588 1281.03 529.9C1281.64 529.211 1282.73 525.819 1282.73 525.819C1282.73 525.819 1279.51 529.922 1278.78 529.823Z', fill='#EBF2FA')
        path#Vector_1137(d='M1273.7 528.333C1273.7 528.333 1271.24 528.198 1272.99 523.897C1274.75 519.596 1275.11 516.104 1276.03 515.83C1276.95 515.556 1282.57 517.518 1282.57 517.518L1273.7 528.333Z', fill='#EBF2FA')
        path#Vector_1138(d='M1278.62 527.231L1279.23 526.543L1282.6 522.719L1283.58 519.768', fill='#EBF2FA')
      g(id='Group 121')
        path#Vector_1139(d='M1285.46 511.774L1293.54 515.557C1294.61 516.033 1295.05 517.321 1294.58 518.393L1292.12 523.667C1291.64 524.74 1290.35 525.181 1289.28 524.705L1281.2 520.921C1280.13 520.445 1279.69 519.158 1280.17 518.085L1282.63 512.811C1283.1 511.738 1284.39 511.298 1285.46 511.774Z', fill='#FDFCFA')
        path#Vector_1140(d='M1291.34 522.363C1291.34 522.363 1290.85 523.772 1290.09 523.734C1289.33 523.695 1286.7 522.381 1286.7 522.381C1286.7 522.381 1290.98 522.851 1291.34 522.363Z', fill='#EBF2FA')
        path#Vector_1141(d='M1293.39 518.502C1293.39 518.502 1294.73 516.967 1291.18 515.522C1287.62 514.076 1285.35 512.274 1284.66 512.661C1283.97 513.048 1281.88 517.497 1281.88 517.497L1293.39 518.502Z', fill='#EBF2FA')
        path#Vector_1142(d='M1289.9 520.771L1289.14 520.733L1284.94 520.52L1282.63 519.391', fill='#EBF2FA')
      g(id='Group 125')
        path#Vector_1143(d='M1266.23 517.699L1274.31 521.482C1275.38 521.959 1275.82 523.246 1275.34 524.319L1272.88 529.593C1272.41 530.665 1271.12 531.106 1270.05 530.63L1261.97 526.847C1260.9 526.371 1260.46 525.083 1260.93 524.011L1263.4 518.737C1263.87 517.664 1265.16 517.223 1266.23 517.699Z', fill='#FDFCFA')
        path#Vector_1144(d='M1272.11 528.288C1272.11 528.288 1271.61 529.697 1270.86 529.659C1270.1 529.621 1267.47 528.306 1267.47 528.306C1267.47 528.306 1271.74 528.776 1272.11 528.288Z', fill='#EBF2FA')
        path#Vector_1145(d='M1274.16 524.427C1274.16 524.427 1275.5 522.893 1271.95 521.447C1268.39 520.002 1266.12 518.2 1265.43 518.586C1264.73 518.973 1262.65 523.423 1262.65 523.423L1274.16 524.427Z', fill='#EBF2FA')
        path#Vector_1146(d='M1270.67 526.697L1269.91 526.659L1265.7 526.446L1263.4 525.317', fill='#EBF2FA')
      g(id='Group 130')
        g(id='Group 126_2')
          path#Vector_1147(d='M1284.91 566.223L1288.16 556.15C1288.56 554.816 1290.01 554.104 1291.35 554.505L1297.92 556.615C1299.26 557.015 1299.97 558.466 1299.57 559.8L1296.32 569.874C1295.92 571.208 1294.47 571.919 1293.13 571.518L1286.56 569.408C1285.22 569.008 1284.51 567.557 1284.91 566.223Z', fill='#FDFCFA')
          path#Vector_1148(d='M1296.5 557.725C1296.5 557.725 1298.24 558.096 1298.3 558.993C1298.37 559.891 1297.22 563.187 1297.22 563.187C1297.22 563.187 1297.13 558.079 1296.5 557.725Z', fill='#EBF2FA')
          path#Vector_1149(d='M1291.65 555.886C1291.65 555.886 1289.64 554.533 1288.47 558.934C1287.3 563.335 1285.52 566.278 1286.08 567.038C1286.64 567.798 1292.19 569.585 1292.19 569.585L1291.65 555.886Z', fill='#EBF2FA')
          path#Vector_1150(d='M1294.84 559.656L1294.91 560.553L1295.29 565.539L1294.3 568.422', fill='#EBF2FA')
        g(id='Group 127_2')
          path#Vector_1151(d='M1272.39 573.7L1277.21 583.361C1277.82 584.644 1279.39 585.139 1280.68 584.531L1286.99 581.394C1288.27 580.786 1288.77 579.214 1288.16 577.93L1283.34 568.27C1282.73 566.986 1281.15 566.491 1279.87 567.099L1273.56 570.236C1272.28 570.845 1271.78 572.416 1272.39 573.7Z', fill='#FDFCFA')
          path#Vector_1152(d='M1285.38 580.492C1285.38 580.492 1287.08 579.853 1287.01 578.937C1286.94 578.022 1285.27 574.875 1285.27 574.875C1285.27 574.875 1285.96 580.039 1285.38 580.492Z', fill='#EBF2FA')
          path#Vector_1153(d='M1280.77 583.091C1280.77 583.091 1278.96 584.763 1277.1 580.505C1275.24 576.246 1272.99 573.552 1273.44 572.7C1273.89 571.848 1279.21 569.195 1279.21 569.195L1280.77 583.091Z', fill='#EBF2FA')
          path#Vector_1154(d='M1283.42 578.8L1283.35 577.884L1282.96 572.799L1281.53 570.043', fill='#EBF2FA')
        g(id='Group 128_2')
          path#Vector_1155(d='M1277.12 563.113L1285.46 559.967C1286.55 559.531 1287.78 560.114 1288.22 561.203L1290.28 566.646C1290.71 567.735 1290.13 568.965 1289.04 569.401L1280.7 572.547C1279.61 572.983 1278.38 572.4 1277.94 571.311L1275.88 565.868C1275.44 564.779 1276.03 563.549 1277.12 563.113Z', fill='#FDFCFA')
          path#Vector_1156(d='M1288.8 566.292C1288.8 566.292 1289.47 567.629 1288.91 568.145C1288.35 568.66 1285.58 569.629 1285.58 569.629C1285.58 569.629 1288.9 566.892 1288.8 566.292Z', fill='#EBF2FA')
          path#Vector_1157(d='M1287.47 562.129C1287.47 562.129 1287.3 560.096 1283.79 561.634C1280.27 563.171 1277.4 563.541 1277.19 564.308C1276.98 565.075 1278.72 569.671 1278.72 569.671L1287.47 562.129Z', fill='#EBF2FA')
          path#Vector_1158(d='M1286.66 566.212L1286.1 566.728L1283.01 569.593L1280.6 570.456', fill='#EBF2FA')
        g(id='Group 129_2')
          path#Vector_1159(d='M1267.94 581.025L1276.29 577.88C1277.38 577.443 1278.61 578.026 1279.04 579.115L1281.1 584.558C1281.54 585.647 1280.96 586.877 1279.87 587.313L1271.52 590.459C1270.43 590.895 1269.2 590.312 1268.77 589.223L1266.71 583.78C1266.27 582.691 1266.85 581.461 1267.94 581.025Z', fill='#FDFCFA')
          path#Vector_1160(d='M1279.63 584.204C1279.63 584.204 1280.29 585.541 1279.74 586.057C1279.18 586.572 1276.4 587.541 1276.4 587.541C1276.4 587.541 1279.72 584.804 1279.63 584.204Z', fill='#EBF2FA')
          path#Vector_1161(d='M1278.29 580.041C1278.29 580.041 1278.13 578.008 1274.61 579.546C1271.1 581.083 1268.22 581.453 1268.02 582.22C1267.81 582.987 1269.54 587.583 1269.54 587.583L1278.29 580.041Z', fill='#EBF2FA')
          path#Vector_1162(d='M1277.48 584.124L1276.93 584.64L1273.84 587.505L1271.42 588.368', fill='#EBF2FA')
      g(id='Group 131')
        g(id='Group 126_3')
          path#Vector_1163(d='M1281.34 695.315L1286.24 680.139C1286.84 678.129 1289.02 677.057 1291.03 677.661L1300.94 680.84C1302.95 681.443 1304.03 683.628 1303.42 685.638L1298.53 700.815C1297.92 702.825 1295.74 703.896 1293.73 703.293L1283.82 700.114C1281.81 699.511 1280.74 697.325 1281.34 695.315Z', fill='#FDFCFA')
          path#Vector_1164(d='M1298.8 682.513C1298.8 682.513 1301.42 683.071 1301.52 684.423C1301.62 685.775 1299.88 690.741 1299.88 690.741C1299.88 690.741 1299.75 683.045 1298.8 682.513Z', fill='#EBF2FA')
          path#Vector_1165(d='M1291.49 679.741C1291.49 679.741 1288.47 677.704 1286.7 684.334C1284.94 690.964 1282.25 695.398 1283.09 696.543C1283.94 697.688 1292.3 700.379 1292.3 700.379L1291.49 679.741Z', fill='#EBF2FA')
          path#Vector_1166(d='M1296.31 685.421L1296.41 686.773L1296.98 694.285L1295.49 698.627', fill='#EBF2FA')
        g(id='Group 127_3')
          path#Vector_1167(d='M1262.48 706.58L1269.74 721.134C1270.66 723.068 1273.03 723.814 1274.96 722.897L1284.47 718.171C1286.4 717.254 1287.15 714.886 1286.23 712.952L1278.97 698.398C1278.05 696.464 1275.68 695.718 1273.75 696.635L1264.24 701.361C1262.31 702.278 1261.56 704.646 1262.48 706.58Z', fill='#FDFCFA')
          path#Vector_1168(d='M1282.05 716.812C1282.05 716.812 1284.6 715.849 1284.5 714.47C1284.39 713.091 1281.88 708.349 1281.88 708.349C1281.88 708.349 1282.93 716.13 1282.05 716.812Z', fill='#EBF2FA')
          path#Vector_1169(d='M1275.11 720.728C1275.11 720.728 1272.37 723.247 1269.57 716.831C1266.77 710.416 1263.39 706.357 1264.06 705.073C1264.73 703.789 1272.75 699.792 1272.75 699.792L1275.11 720.728Z', fill='#EBF2FA')
          path#Vector_1170(d='M1279.09 714.262L1278.98 712.883L1278.4 705.221L1276.24 701.07', fill='#EBF2FA')
        g(id='Group 128_3')
          path#Vector_1171(d='M1269.6 690.629L1282.17 685.891C1283.81 685.234 1285.66 686.111 1286.32 687.752L1289.42 695.952C1290.08 697.593 1289.2 699.446 1287.56 700.103L1274.99 704.842C1273.35 705.499 1271.5 704.621 1270.84 702.98L1267.73 694.781C1267.08 693.139 1267.95 691.286 1269.6 690.629Z', fill='#FDFCFA')
          path#Vector_1172(d='M1287.2 695.42C1287.2 695.42 1288.2 697.433 1287.36 698.21C1286.53 698.987 1282.34 700.447 1282.34 700.447C1282.34 700.447 1287.35 696.323 1287.2 695.42Z', fill='#EBF2FA')
          path#Vector_1173(d='M1285.19 689.147C1285.19 689.147 1284.94 686.084 1279.65 688.401C1274.35 690.717 1270.02 691.274 1269.71 692.43C1269.4 693.585 1272.01 700.509 1272.01 700.509L1285.19 689.147Z', fill='#EBF2FA')
          path#Vector_1174(d='M1283.97 695.299L1283.13 696.076L1278.48 700.392L1274.84 701.693', fill='#EBF2FA')
        g(id='Group 129_3')
          path#Vector_1175(d='M1255.77 717.615L1268.35 712.876C1269.99 712.219 1271.84 713.097 1272.5 714.738L1275.6 722.937C1276.26 724.579 1275.38 726.432 1273.74 727.089L1261.17 731.828C1259.53 732.485 1257.68 731.607 1257.02 729.966L1253.91 721.766C1253.26 720.125 1254.13 718.272 1255.77 717.615Z', fill='#FDFCFA')
          path#Vector_1176(d='M1273.38 722.405C1273.38 722.405 1274.38 724.419 1273.54 725.196C1272.71 725.973 1268.52 727.433 1268.52 727.433C1268.52 727.433 1273.52 723.309 1273.38 722.405Z', fill='#EBF2FA')
          path#Vector_1177(d='M1271.37 716.133C1271.37 716.133 1271.12 713.07 1265.83 715.386C1260.53 717.703 1256.2 718.259 1255.89 719.415C1255.57 720.571 1258.19 727.495 1258.19 727.495L1271.37 716.133Z', fill='#EBF2FA')
          path#Vector_1178(d='M1270.15 722.284L1269.31 723.061L1264.66 727.378L1261.02 728.679', fill='#EBF2FA')
      g#Group_546
        path#Vector_1179(d='M1135.48 652.388C1135.48 652.388 1112.27 696.594 1110.68 713.302C1109.08 730.011 1102.65 731.385 1102.65 731.385C1102.65 731.385 1108.91 732.561 1116.89 712.15C1124.87 691.74 1138.65 668.267 1138.65 668.267L1140.68 650.632L1135.48 652.388Z', fill='#E8546B')
        path#Vector_1180(d='M1147.71 654.264C1147.71 654.264 1141.75 703.833 1133.59 718.5C1125.43 733.167 1129.94 737.944 1129.94 737.944C1129.94 737.944 1124.12 735.363 1129.12 714.027C1134.13 692.691 1136.09 665.542 1136.09 665.542L1144.42 649.868L1147.71 654.264Z', fill='#E8546B')
        g#Group_547
          path#Vector_1181(d='M1140.56 647.317C1140.56 647.317 1147.25 666.7 1155.69 681.374C1164.14 696.049 1144.17 718.418 1144.17 718.418C1144.17 718.418 1131.37 736.269 1155.83 740.357C1155.83 740.357 1132.43 731.343 1150.42 716.844C1168.42 702.344 1169.22 680.619 1159.74 666.825C1150.25 653.031 1156.34 641.624 1157.17 634.506', fill='#FFB9A6')
          g#Group_548
            path#Vector_1182(d='M1192.81 485.492C1191.75 483.187 1189.12 482.37 1186.99 483.682L1150.67 505.544C1148.49 506.842 1148.12 509.425 1149.84 511.309L1170.45 533.768C1172.17 535.652 1175.54 536.7 1178.02 536.123L1207.74 529.317C1210.22 528.74 1211.38 526.401 1210.32 524.096L1192.81 485.492Z', fill='#FFB9A6')
          path#Vector_1183(d='M1185.87 570.759L1188.8 517.065L1179.46 518.065L1172.34 511.947L1144.34 557.841C1144.34 557.841 1128.09 582.765 1134 606.529L1150.37 611.62L1166.73 616.71C1185.12 600.5 1185.87 570.759 1185.87 570.759Z', fill='#FFB9A6')
          path#Vector_1184(d='M1164.79 527.72C1164.79 527.72 1170.72 534.141 1174.53 535.471C1178.32 536.844 1186.33 534.417 1186.33 534.417', stroke='#FE5A63', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round')
          path#Vector_1185(d='M1164.67 623.2C1166.03 618.806 1162.01 615.24 1162.01 615.24L1150.37 611.62L1138.77 608.013C1138.77 608.013 1133.43 608.665 1132.06 613.06C1130.7 617.454 1133.44 622.357 1131.81 626.669C1130.18 630.982 1127 645.848 1127 645.848L1138.6 649.455L1150.2 653.062C1150.2 653.062 1155.95 639.043 1157.11 634.537C1158.26 630.074 1163.3 627.595 1164.67 623.2Z', fill='#FFB9A6')
          path#Vector_1186(d='M1131.41 642.304L1133.22 623.831C1133.22 623.831 1100.41 682.589 1084.16 694.548C1067.91 706.508 1074.2 719.162 1074.2 719.162C1074.2 719.162 1069.26 704.18 1089.73 695.462C1101.96 690.253 1114.36 673.531 1122.31 660.92C1122.31 660.92 1132.3 647.494 1136.58 648.828L1137.97 644.39L1131.4 642.348L1131.41 642.304Z', fill='#FFB9A6')
          path#Vector_1187(d='M1138.75 642.802L1137.84 624.256C1137.84 624.256 1113.95 687.187 1099.59 701.42C1085.24 715.608 1093.34 727.234 1093.34 727.234C1093.22 727.295 1081.7 716.193 1105.23 701.488C1116.54 694.45 1126.4 676.168 1132.42 662.522C1132.42 662.522 1140.32 647.773 1144.76 648.479L1145.47 643.88L1138.75 642.802Z', fill='#FFB9A6')
          path#Vector_1188(d='M1181.76 567.457C1182.68 567.742 1183.66 567.226 1183.95 566.304C1184.23 565.382 1183.72 564.403 1182.8 564.117C1181.88 563.831 1180.91 564.347 1180.62 565.269C1180.33 566.192 1180.85 567.171 1181.76 567.457Z', fill='#FDFCFA')
          path#Vector_1189(d='M1178 570.622C1178.65 570.825 1179.34 570.458 1179.55 569.803C1179.75 569.148 1179.39 568.452 1178.73 568.249C1178.08 568.046 1177.39 568.413 1177.18 569.068C1176.98 569.723 1177.34 570.419 1178 570.622Z', fill='#FDFCFA')
          path#Vector_1190(d='M1178.91 580.496C1179.83 580.782 1180.8 580.266 1181.09 579.344C1181.38 578.421 1180.87 577.442 1179.95 577.157C1179.03 576.871 1178.05 577.387 1177.76 578.309C1177.48 579.231 1177.99 580.211 1178.91 580.496Z', fill='#FDFCFA')
          path#Vector_1191(d='M1180.03 574.725C1180.54 574.883 1181.08 574.598 1181.24 574.088C1181.4 573.578 1181.11 573.037 1180.61 572.879C1180.1 572.721 1179.56 573.007 1179.4 573.516C1179.24 574.026 1179.52 574.567 1180.03 574.725Z', fill='#FDFCFA')
          path#Vector_1192(d='M1173.97 595.443C1174.6 595.639 1175.27 595.286 1175.47 594.655C1175.66 594.024 1175.31 593.354 1174.68 593.158C1174.05 592.963 1173.39 593.316 1173.19 593.947C1172.99 594.578 1173.34 595.248 1173.97 595.443Z', fill='#FDFCFA')
          path#Vector_1193(d='M1177.34 593.407C1177.8 593.55 1178.29 593.292 1178.43 592.83C1178.58 592.369 1178.32 591.88 1177.86 591.737C1177.4 591.594 1176.91 591.852 1176.77 592.313C1176.63 592.774 1176.88 593.264 1177.34 593.407Z', fill='#FDFCFA')
          path#Vector_1194(d='M1178.18 587.307C1178.81 587.502 1179.48 587.149 1179.68 586.518C1179.87 585.887 1179.52 585.217 1178.89 585.022C1178.26 584.826 1177.6 585.179 1177.4 585.81C1177.2 586.441 1177.55 587.111 1178.18 587.307Z', fill='#FDFCFA')
          path#Vector_1195(d='M1176.86 590.027C1177.22 590.14 1177.6 589.936 1177.72 589.572C1177.83 589.208 1177.63 588.821 1177.27 588.709C1176.9 588.596 1176.52 588.8 1176.4 589.164C1176.29 589.528 1176.49 589.914 1176.86 590.027Z', fill='#FDFCFA')
          path#Vector_1196(d='M1129.01 639.388C1132.32 640.418 1135.84 638.557 1136.88 635.232C1137.91 631.908 1136.07 628.377 1132.75 627.347C1129.44 626.318 1125.92 628.178 1124.89 631.503C1123.85 634.828 1125.7 638.358 1129.01 639.388Z', fill='#FDFCFA')
          path#Vector_1197(d='M1129.56 637.63C1131.9 638.359 1134.39 637.042 1135.13 634.688C1135.86 632.334 1134.55 629.834 1132.21 629.105C1129.86 628.376 1127.37 629.693 1126.64 632.047C1125.9 634.402 1127.21 636.901 1129.56 637.63Z', fill='#2D3640')
          path#Vector_1198(d='M1154.63 647.743C1157.95 648.773 1161.47 646.912 1162.5 643.588C1163.54 640.263 1161.69 636.733 1158.38 635.703C1155.07 634.673 1151.54 636.533 1150.51 639.858C1149.48 643.183 1151.32 646.713 1154.63 647.743Z', fill='#FDFCFA')
          path#Vector_1199(d='M1155.18 645.985C1157.53 646.715 1160.02 645.397 1160.75 643.043C1161.48 640.689 1160.18 638.19 1157.83 637.46C1155.49 636.731 1152.99 638.049 1152.26 640.403C1151.53 642.757 1152.84 645.256 1155.18 645.985Z', fill='#2D3640')
          path#Vector_1200(d='M1138.78 607.969L1161.98 615.183', stroke='#FE5A63', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round')
          path#Vector_1201(d='M1138.61 649.411C1138.61 649.411 1129.43 679.711 1137.2 697.791C1144.97 715.87 1122.64 729.458 1122.64 729.458C1122.64 729.458 1136.4 728.916 1142.27 712.814C1148.18 696.726 1140.53 663.163 1147.86 654.552L1142.5 644.933L1138.61 649.411Z', fill='#FFB9A6')
      g#Group_549
        path#Vector_1202(d='M1211.17 685.743C1211.17 685.743 1198.99 734.16 1201.36 750.777C1203.73 767.394 1197.81 770.238 1197.81 770.238C1197.81 770.238 1204.17 769.912 1207.13 748.199C1210.1 726.486 1217.99 700.434 1217.99 700.434L1215.82 682.816L1211.17 685.743Z', fill='#E8546B')
        path#Vector_1203(d='M1223.5 684.697C1223.5 684.697 1229.34 734.28 1224.85 750.452C1220.36 766.625 1225.87 770.21 1225.87 770.21C1225.87 770.21 1219.61 769.066 1219.46 747.152C1219.32 725.238 1214.86 698.387 1214.86 698.387L1219.28 681.195L1223.5 684.697Z', fill='#E8546B')
        g#Group_550
          path#Vector_1204(d='M1214.92 679.622C1214.92 679.622 1225.98 696.893 1237.63 709.176C1249.28 721.458 1235.12 747.889 1235.12 747.889C1235.12 747.889 1226.87 768.245 1251.6 766.479C1251.6 766.479 1226.74 763.21 1240.83 744.892C1254.92 726.573 1250.6 705.265 1238.15 694.083C1225.69 682.901 1228.93 670.383 1228.06 663.271', fill='#FFB9A6')
          g#Group_551
            path#Vector_1205(d='M1227.73 510.054C1226.16 508.062 1223.42 507.884 1221.65 509.661L1191.48 539.436C1189.66 541.209 1189.91 543.807 1192.02 545.235L1217.33 562.229C1219.44 563.657 1222.96 563.885 1225.24 562.741L1252.53 549.151C1254.81 548.007 1255.39 545.462 1253.82 543.469L1227.73 510.054Z', fill='#FFB9A6')
          path#Vector_1206(d='M1241 594.566L1231.24 541.686L1222.4 544.849L1214.05 540.573L1197.6 591.758C1197.6 591.758 1187.65 619.798 1198.97 641.513L1216.08 642.62L1233.18 643.727C1247.25 623.655 1241 594.566 1241 594.566Z', fill='#FFB9A6')
          path#Vector_1207(d='M1210.41 557.677C1210.41 557.677 1217.68 562.529 1221.69 562.927C1225.71 563.371 1232.92 559.134 1232.92 559.134', stroke='#FE5A63', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round')
          path#Vector_1208(d='M1232.7 650.521C1232.99 645.928 1228.24 643.407 1228.24 643.407L1216.08 642.62L1203.96 641.836C1203.96 641.836 1198.92 643.723 1198.62 648.316C1198.33 652.908 1202.15 657.029 1201.58 661.604C1201 666.178 1201.4 681.376 1201.4 681.376L1213.52 682.16L1225.64 682.944C1225.64 682.944 1227.94 667.967 1228.01 663.314C1228.08 658.707 1232.4 655.113 1232.7 650.521Z', fill='#FFB9A6')
          path#Vector_1209(d='M1204.86 676.895L1202.28 658.513C1202.28 658.513 1184.17 723.332 1171.18 738.771C1158.2 754.209 1167.28 765.035 1167.28 765.035C1167.28 765.035 1158.96 751.63 1176.81 738.351C1187.48 730.418 1195.61 711.252 1200.38 697.127C1200.38 697.127 1206.93 681.733 1211.41 682.024L1211.72 677.385L1204.85 676.941L1204.86 676.895Z', fill='#FFB9A6')
          path#Vector_1210(d='M1212.1 675.658L1206.87 657.842C1206.87 657.842 1198.42 724.623 1187.8 741.829C1177.18 758.989 1187.78 768.39 1187.78 768.39C1187.68 768.476 1173.87 760.389 1193.3 740.571C1202.64 731.076 1207.93 710.989 1210.58 696.312C1210.58 696.312 1214.8 680.121 1219.28 679.765L1218.89 675.129L1212.1 675.658Z', fill='#FFB9A6')
          path#Vector_1211(d='M1236.23 592.321C1237.19 592.383 1238.02 591.652 1238.08 590.688C1238.15 589.724 1237.42 588.893 1236.46 588.831C1235.5 588.769 1234.67 589.5 1234.61 590.463C1234.55 591.427 1235.27 592.259 1236.23 592.321Z', fill='#FDFCFA')
          path#Vector_1212(d='M1233.31 596.282C1234 596.327 1234.58 595.807 1234.63 595.122C1234.67 594.438 1234.16 593.847 1233.47 593.803C1232.79 593.758 1232.2 594.278 1232.16 594.963C1232.11 595.647 1232.63 596.238 1233.31 596.282Z', fill='#FDFCFA')
          path#Vector_1213(d='M1236.52 605.667C1237.48 605.729 1238.31 604.998 1238.37 604.034C1238.43 603.07 1237.7 602.239 1236.74 602.176C1235.78 602.114 1234.96 602.845 1234.89 603.809C1234.83 604.773 1235.56 605.604 1236.52 605.667Z', fill='#FDFCFA')
          path#Vector_1214(d='M1236.26 599.793C1236.79 599.827 1237.24 599.423 1237.28 598.891C1237.31 598.358 1236.91 597.898 1236.38 597.864C1235.85 597.83 1235.39 598.234 1235.36 598.766C1235.32 599.299 1235.73 599.759 1236.26 599.793Z', fill='#FDFCFA')
          path#Vector_1215(d='M1235.23 621.355C1235.88 621.397 1236.45 620.897 1236.49 620.238C1236.54 619.578 1236.04 619.009 1235.38 618.967C1234.73 618.924 1234.16 619.424 1234.12 620.084C1234.07 620.743 1234.57 621.312 1235.23 621.355Z', fill='#FDFCFA')
          path#Vector_1216(d='M1238.03 618.584C1238.51 618.615 1238.92 618.25 1238.95 617.768C1238.98 617.286 1238.62 616.87 1238.14 616.839C1237.66 616.808 1237.24 617.174 1237.21 617.656C1237.18 618.137 1237.55 618.553 1238.03 618.584Z', fill='#FDFCFA')
          path#Vector_1217(d='M1237.41 612.457C1238.07 612.5 1238.63 612 1238.68 611.34C1238.72 610.681 1238.22 610.112 1237.57 610.069C1236.91 610.027 1236.34 610.527 1236.3 611.186C1236.26 611.846 1236.75 612.415 1237.41 612.457Z', fill='#FDFCFA')
          path#Vector_1218(d='M1236.76 615.413C1237.14 615.437 1237.47 615.149 1237.49 614.768C1237.52 614.388 1237.23 614.06 1236.85 614.035C1236.47 614.011 1236.14 614.299 1236.12 614.68C1236.09 615.06 1236.38 615.388 1236.76 615.413Z', fill='#FDFCFA')
          path#Vector_1219(d='M1201.84 674.625C1205.3 674.849 1208.28 672.214 1208.51 668.739C1208.73 665.264 1206.11 662.266 1202.65 662.042C1199.19 661.818 1196.2 664.453 1195.98 667.928C1195.75 671.403 1198.37 674.401 1201.84 674.625Z', fill='#FDFCFA')
          path#Vector_1220(d='M1202.15 669.752C1202.93 669.803 1203.6 669.208 1203.66 668.425C1203.71 667.641 1203.11 666.965 1202.33 666.914C1201.55 666.864 1200.88 667.458 1200.83 668.242C1200.78 669.026 1201.37 669.702 1202.15 669.752Z', fill='#2D3640')
          path#Vector_1221(d='M1228.71 676.732C1232.17 676.956 1235.15 674.321 1235.38 670.846C1235.6 667.372 1232.98 664.373 1229.52 664.149C1226.06 663.925 1223.07 666.561 1222.85 670.035C1222.62 673.51 1225.24 676.508 1228.71 676.732Z', fill='#FDFCFA')
          path#Vector_1222(d='M1228.95 672.893C1230.3 672.981 1231.47 671.953 1231.55 670.599C1231.64 669.244 1230.62 668.076 1229.27 667.988C1227.92 667.901 1226.76 668.928 1226.67 670.283C1226.58 671.637 1227.6 672.806 1228.95 672.893Z', fill='#2D3640')
          path#Vector_1223(d='M1203.96 641.79L1228.2 643.358', stroke='#FE5A63', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round')
          path#Vector_1224(d='M1213.52 682.114C1213.52 682.114 1211.71 713.724 1223.5 729.474C1235.3 745.225 1216.79 763.673 1216.79 763.673C1216.79 763.673 1230.03 759.918 1231.96 742.888C1233.93 725.861 1218.61 695.033 1223.72 684.941L1216.25 676.849L1213.52 682.114Z', fill='#FFB9A6')
      g#Group_552
        g#Group_553
          path#Vector_1225(d='M897.09 669.953L896.478 673.039C896.478 673.039 904.648 691.723 922.989 692.012L928.842 673.704L922.296 670.149L919.051 662.696L917.997 666.778L914.306 660.698L913.252 665.755L911.145 662.815L909.264 659.489L908.924 663.671L904.576 663.094L897.09 669.953Z', fill='#E8546B')
        g#Group_554
          path#Vector_1226(d='M887.748 650.37C887.748 650.37 888.809 663.84 891.268 665.744C893.752 667.713 897.065 669.888 897.065 669.888L904.576 663.095L901.503 647.324L896.439 651.9L887.748 650.37Z', fill='#E8546B')
        g#Group_555
          path#Vector_1227(d='M890.588 650.927C890.588 650.927 887.487 626.315 900.453 623.948L911.046 630.221L911.999 637.956L903.393 660.024L890.588 650.927Z', fill='#E8546B')
        g#Group_556
          path#Vector_1228(d='M900.453 623.948C900.453 623.948 912.563 604.356 928.314 613.894C928.314 613.894 912.059 614.152 911.984 626.034L911.046 630.221L900.453 623.948Z', fill='#E8546B')
        g#Group_557
          path#Vector_1229(d='M912.064 637.93C912.064 637.93 929.717 616.954 929.667 615.848C929.616 614.743 920.365 620.33 920.365 620.33L918.565 619.748L917.732 621.87L914.471 623.726L910.105 627.582L909.475 635.102L912.064 637.93Z', fill='#E8546B')
        g#Group_558
          path#Vector_1230(d='M897.215 670.28C897.085 670.33 896.929 670.315 896.879 670.184C896.763 670.079 896.753 669.858 896.924 669.717L903.093 664.115C903.199 664 903.42 663.99 903.561 664.16C903.677 664.266 903.687 664.487 903.516 664.628L897.346 670.229C897.321 670.164 897.281 670.255 897.215 670.28Z', fill='#FFB9A6')
        g#Group_559
          path#Vector_1231(d='M901.914 655.793C901.783 655.843 901.693 655.803 901.577 655.697L898.711 653.125L890.558 651.239C890.402 651.224 890.261 651.053 890.316 650.807C890.331 650.651 890.502 650.51 890.749 650.565L899.017 652.557L901.999 655.235C902.115 655.34 902.125 655.561 902.019 655.677C901.954 655.702 901.914 655.793 901.914 655.793Z', fill='#FFB9A6')
        g#Group_560
          path#Vector_1232(d='M910.329 634.398C910.133 634.473 909.952 634.393 909.876 634.197L907.738 628.644L900.267 624.244C900.086 624.164 900.076 623.943 900.157 623.762C900.237 623.581 900.458 623.571 900.639 623.651L908.316 628.196L910.555 634.011C910.605 634.141 910.525 634.322 910.329 634.398Z', fill='#FFB9A6')
        g#Group_561
          path#Vector_1233(d='M898.072 627.115C898.433 626.976 898.613 626.571 898.474 626.21C898.335 625.849 897.93 625.67 897.569 625.808C897.208 625.947 897.028 626.353 897.167 626.713C897.306 627.074 897.711 627.254 898.072 627.115Z', fill='#FFB9A6')
        g#Group_562
          path#Vector_1234(d='M896.947 629.649C897.308 629.51 897.488 629.105 897.349 628.744C897.21 628.383 896.805 628.203 896.444 628.342C896.083 628.481 895.903 628.886 896.042 629.247C896.181 629.608 896.586 629.788 896.947 629.649Z', fill='#FFB9A6')
        g#Group_563
          path#Vector_1235(d='M904.434 623.765C904.795 623.626 904.974 623.221 904.835 622.86C904.697 622.499 904.291 622.319 903.931 622.458C903.57 622.597 903.39 623.002 903.529 623.363C903.668 623.724 904.073 623.904 904.434 623.765Z', fill='#FFB9A6')
        g#Group_564
          path#Vector_1236(d='M895.118 630.353C895.479 630.214 895.659 629.809 895.52 629.448C895.381 629.087 894.976 628.908 894.615 629.047C894.254 629.185 894.074 629.591 894.213 629.951C894.352 630.312 894.757 630.492 895.118 630.353Z', fill='#FFB9A6')
        g#Group_565
          path#Vector_1237(d='M890.404 655.124C890.764 654.985 890.944 654.58 890.805 654.219C890.666 653.858 890.261 653.678 889.901 653.817C889.54 653.956 889.36 654.361 889.499 654.722C889.638 655.083 890.043 655.263 890.404 655.124Z', fill='#FFB9A6')
        g#Group_566
          path#Vector_1238(d='M890.345 658.672C890.706 658.533 890.886 658.128 890.747 657.768C890.608 657.407 890.203 657.227 889.842 657.366C889.481 657.505 889.301 657.91 889.44 658.271C889.579 658.632 889.984 658.811 890.345 658.672Z', fill='#FFB9A6')
        g#Group_567
          path#Vector_1239(d='M911.936 630.778C910.161 629.286 911.049 626.919 911.753 625.823L912.28 626.22C912.24 626.31 910.608 628.889 912.358 630.316L911.936 630.778Z', fill='#FFB9A6')
        g#Group_568
          path#Vector_1240(d='M1000.82 627.831L1003.55 629.855C1003.55 629.855 1010.46 650.525 996.157 663.835L978.466 653.544L981.046 646.024L978.319 637.772L982.069 640.304L980.709 632.876L985.113 636.131L984.67 632.251L983.733 628.26L987.021 631.345L990.071 627.77L1000.82 627.831Z', fill='#E8546B')
        g#Group_569
          path#Vector_1241(d='M994.243 605.684C994.243 605.684 1003.05 617.069 1002.45 620.377C1001.92 623.659 1000.82 627.831 1000.82 627.831L990.005 627.795L981.173 613.042L988.532 613.059L994.243 605.684Z', fill='#E8546B')
        g#Group_570
          path#Vector_1242(d='M992.314 608.077C992.314 608.077 977.136 586.391 965.197 593.764L961.252 606.311L966.04 613.094L988.722 624.464L992.314 608.077Z', fill='#E8546B')
        g#Group_571
          path#Vector_1243(d='M965.222 593.829C965.222 593.829 941.597 587.023 935.92 605.788C935.92 605.788 948.978 594.308 957.501 603.779L961.212 606.401L965.222 593.829Z', fill='#E8546B')
        g#Group_572
          path#Vector_1244(d='M966.065 613.159C966.065 613.159 937.072 609.171 936.278 608.276C935.483 607.382 946.887 605.241 946.887 605.241L947.937 603.486L950.133 604.516L953.953 603.72L960.22 603.632L966.103 609.168L966.065 613.159Z', fill='#E8546B')
        g#Group_573
          path#Vector_1245(d='M1002.7 659.59C1001.5 659.003 1000.26 659.481 999.287 660.079C999.146 659.909 999.005 659.738 998.865 659.567C999.221 658.154 999.331 656.687 998.129 656.099C997.109 655.592 995.948 655.889 995.018 656.397C994.812 656.251 994.581 656.04 994.309 655.92C994.6 654.533 994.645 653.09 993.469 652.568C992.021 651.925 990.594 652.7 989.569 653.545C989.478 653.504 989.323 653.489 989.232 653.449C989.342 651.981 989.115 650.418 987.793 650.102C986.2 649.666 984.818 650.948 983.999 651.938C983.753 651.883 983.441 651.853 983.195 651.798C983.345 650.24 983.158 648.586 981.771 648.295C980.268 647.899 978.967 649 978.123 649.925C977.841 648.609 977.247 647.262 975.986 647.298C973.749 647.334 972.674 649.998 972.323 651.034C965.819 651.288 958.768 652.653 951.843 655.319C944.723 658.062 938.512 661.804 933.477 666.068C932.703 665.616 929.863 664.084 928.139 665.648C927.205 666.533 927.643 667.865 928.317 669.031C927.045 668.845 925.366 668.966 924.518 670.269C923.709 671.48 924.795 672.937 926.042 674.033C925.896 674.239 925.816 674.42 925.645 674.56C924.348 674.31 922.283 674.205 921.288 675.713C920.479 676.925 921.54 678.317 922.697 679.372L922.657 679.462C921.305 679.458 919.48 679.785 918.797 681.323C918.235 682.59 919.442 683.776 920.744 684.625C920.729 684.781 920.649 684.962 920.634 685.117C919.513 685.324 918.206 685.827 917.774 687.044C917.262 688.441 918.625 689.642 920.033 690.375C919.992 690.465 920.043 690.596 920.003 690.687C918.766 690.788 917.238 691.301 916.726 692.698C915.757 695.247 921.247 697.034 921.247 697.034C926.807 711.472 949.602 716.122 972.075 707.467C994.614 698.788 1008.34 680.075 1002.78 665.637C1002.73 665.506 1002.68 665.376 1002.63 665.245C1003.19 663.978 1004.65 660.565 1002.7 659.59Z', fill='#E8546B')
        g#Group_574
          path#Vector_1246(d='M936.883 664.856C937.274 664.608 937.021 663.506 936.317 662.396C935.613 661.286 934.724 660.588 934.332 660.837C933.941 661.085 934.194 662.186 934.898 663.296C935.602 664.406 936.491 665.105 936.883 664.856Z', fill='#E8546B')
        g#Group_575
          path#Vector_1247(d='M965.182 651.762C965.152 650.447 964.751 649.391 964.288 649.401C963.824 649.412 963.472 650.486 963.502 651.8C963.532 653.114 963.933 654.171 964.397 654.16C964.86 654.15 965.212 653.076 965.182 651.762Z', fill='#E8546B')
        g#Group_576
          path#Vector_1248(d='M934.728 662.886C936.099 662.358 936.782 660.819 936.254 659.447C935.726 658.076 934.187 657.393 932.816 657.921C931.444 658.449 930.761 659.988 931.289 661.359C931.817 662.731 933.356 663.414 934.728 662.886Z', fill='#07090B')
        g#Group_577
          path#Vector_1249(d='M965.658 650.674C966.957 650.174 967.605 648.716 967.105 647.417C966.604 646.118 965.146 645.471 963.847 645.971C962.548 646.471 961.901 647.929 962.401 649.228C962.901 650.527 964.359 651.175 965.658 650.674Z', fill='#07090B')
        g#Group_578
          path#Vector_1250(d='M945.086 661.148L944.407 661.334C941.583 651.469 932.365 650.518 932.3 650.543L932.335 649.854C932.491 649.869 942.151 650.8 945.086 661.148Z', fill='#E8546B')
        g#Group_579
          path#Vector_1251(d='M958.282 656.066C953.584 646.397 960.125 639.227 960.165 639.137L960.653 639.624C960.613 639.715 954.388 646.538 958.91 655.749L958.282 656.066Z', fill='#E8546B')
        g#Group_580
          path#Vector_1252(d='M1000.95 628.158C1000.88 628.183 1000.88 628.183 1000.82 628.208L991.951 628.172C991.73 628.182 991.589 628.011 991.604 627.855C991.594 627.634 991.764 627.493 991.92 627.508L1000.79 627.545C1001.01 627.535 1001.15 627.705 1001.13 627.861C1001.18 627.992 1001.08 628.107 1000.95 628.158Z', fill='#FFB9A6')
        g#Group_581
          path#Vector_1253(d='M986.921 619.981C986.856 620.006 986.79 620.031 986.765 619.966C986.609 619.951 986.469 619.78 986.458 619.559L986.904 615.261L992.123 607.775C992.203 607.594 992.424 607.584 992.605 607.665C992.786 607.745 992.797 607.966 992.716 608.147L987.562 615.608L987.107 619.684C987.092 619.84 986.986 619.956 986.921 619.981Z', fill='#FFB9A6')
        g#Group_582
          path#Vector_1254(d='M964.882 609.114C964.686 609.189 964.505 609.109 964.429 608.913L962.039 602.706L964.86 593.668C964.941 593.487 965.111 593.347 965.292 593.427C965.473 593.507 965.614 593.678 965.534 593.859L962.793 602.716L965.083 608.661C965.158 608.857 965.078 609.038 964.882 609.114Z', fill='#FFB9A6')
        g#Group_583
          path#Vector_1255(d='M969.359 594.637C969.756 594.484 969.954 594.038 969.801 593.641C969.648 593.244 969.202 593.046 968.806 593.199C968.409 593.352 968.211 593.798 968.364 594.195C968.517 594.592 968.962 594.789 969.359 594.637Z', fill='#FFB9A6')
        g#Group_584
          path#Vector_1256(d='M972.074 595.842C972.471 595.689 972.668 595.243 972.516 594.846C972.363 594.449 971.917 594.252 971.52 594.404C971.123 594.557 970.926 595.003 971.078 595.4C971.231 595.797 971.677 595.994 972.074 595.842Z', fill='#FFB9A6')
        g#Group_585
          path#Vector_1257(d='M974.034 595.087C974.431 594.934 974.628 594.489 974.476 594.092C974.323 593.695 973.877 593.497 973.48 593.65C973.083 593.803 972.885 594.248 973.038 594.645C973.191 595.042 973.637 595.24 974.034 595.087Z', fill='#FFB9A6')
        g#Group_586
          path#Vector_1258(d='M995.497 611.277C995.894 611.124 996.092 610.679 995.939 610.282C995.786 609.885 995.341 609.687 994.944 609.84C994.547 609.993 994.349 610.438 994.502 610.835C994.655 611.232 995.1 611.43 995.497 611.277Z', fill='#FFB9A6')
        g#Group_587
          path#Vector_1259(d='M998.127 614.015C998.524 613.863 998.721 613.417 998.569 613.02C998.416 612.623 997.97 612.425 997.573 612.578C997.176 612.731 996.979 613.177 997.131 613.574C997.284 613.97 997.73 614.168 998.127 614.015Z', fill='#FFB9A6')
        g#Group_588
          path#Vector_1260(d='M935.017 658.849C935.039 658.424 934.649 658.059 934.147 658.034C933.645 658.009 933.221 658.333 933.199 658.758C933.178 659.182 933.568 659.547 934.07 659.572C934.572 659.597 934.996 659.274 935.017 658.849Z', fill='white')
        g#Group_589
          path#Vector_1261(d='M965.658 650.675C967.029 650.147 967.713 648.607 967.185 647.236C966.657 645.865 965.117 645.182 963.746 645.71C962.375 646.238 961.692 647.777 962.22 649.148C962.748 650.519 964.287 651.203 965.658 650.675Z', fill='#07090B')
        g#Group_590
          path#Vector_1262(d='M966.009 646.643C966.031 646.219 965.641 645.854 965.139 645.829C964.637 645.804 964.213 646.127 964.191 646.552C964.17 646.977 964.56 647.342 965.062 647.367C965.564 647.392 965.988 647.068 966.009 646.643Z', fill='white')
        g#Group_591
          path#Vector_1263(d='M908.22 686.972L924.427 670.228L926.935 670.313L920.807 691.802', fill='#E8546B')
        g#Group_592
          g#Group_593
            path#Vector_1264(d='M981.691 648.476C982.857 648.777 982.953 650.391 982.833 651.637L982.803 651.949L983.115 651.979C983.361 652.034 983.673 652.064 983.919 652.119L984.165 652.175L984.311 651.968C985.13 650.978 986.366 649.902 987.778 650.258C988.698 650.504 989.075 651.484 988.936 653.263L988.88 653.51L989.67 653.806L989.84 653.665C990.76 652.936 992.122 652.186 993.388 652.749C994.203 653.11 994.424 654.075 994.078 655.709L994.023 655.955L994.229 656.101C994.41 656.181 994.551 656.352 994.732 656.432L995.054 656.683L995.25 656.608C996.31 656.05 997.235 655.919 997.984 656.305C998.823 656.732 998.98 657.722 998.503 659.406L998.422 659.587L998.563 659.758C998.679 659.864 998.729 659.994 998.82 660.034L999.051 660.245L999.935 659.23C999.739 659.305 999.543 659.381 999.372 659.521C999.347 659.456 999.282 659.481 999.257 659.416C999.899 656.993 999.105 656.099 998.265 655.672C997.335 655.205 996.229 655.256 995.038 655.864C994.923 655.759 994.832 655.719 994.717 655.613C995.188 653.331 994.394 652.437 993.579 652.075C992.403 651.553 991.021 651.86 989.629 652.921C989.698 650.569 988.773 649.725 987.878 649.544C986.22 649.133 984.763 650.219 983.838 651.325C983.748 651.285 983.592 651.27 983.527 651.295C983.676 648.762 982.686 647.943 981.831 647.672C981.248 647.522 980.741 647.567 980.127 647.728L979.686 648.724C980.339 648.472 981.017 648.286 981.691 648.476Z', fill='#FFB9A6')
          g#Group_594
            path#Vector_1265(d='M918.55 691.396C919.008 691.22 919.49 691.109 919.932 691.089L920.219 691.053L920.203 690.234L920.022 690.154C918.796 689.501 917.484 688.431 917.915 687.214C918.252 686.335 919.156 685.761 920.563 685.519L920.785 685.509L920.84 685.263C920.855 685.107 920.935 684.926 920.95 684.77L921.005 684.524L920.799 684.378C919.703 683.675 918.547 682.62 919.029 681.534C919.631 680.177 921.325 679.9 922.587 679.864L922.848 679.764L923.049 679.311L922.843 679.165C921.827 678.281 920.791 676.955 921.454 675.949C922.303 674.647 924.122 674.697 925.419 674.947L925.666 675.003L925.957 674.59C926.062 674.475 926.103 674.384 926.208 674.269L926.419 674.037L926.188 673.826C925.288 673.048 924.443 672.023 924.533 671.088L923.874 670.741C923.644 671.505 923.875 672.691 925.494 674.168L925.454 674.259C923.378 673.933 921.825 674.381 921.017 675.593C920.539 676.301 920.329 677.508 921.983 679.271C920.616 679.423 919.129 679.846 918.486 681.293C918.124 682.108 918.185 683.435 920.312 684.866C920.312 684.866 920.312 684.866 920.337 684.931C918.864 685.198 917.814 685.978 917.398 687.039C917.061 687.918 917.162 689.155 919.354 690.561C918.585 690.707 917.932 690.959 917.394 691.316L918.274 691.652C918.354 691.471 918.42 691.446 918.55 691.396Z', fill='#FFB9A6')
        g#Group_595
          path#Vector_1266(d='M961.016 607.452L960.302 607.351C960.658 604.964 957.471 604.091 957.446 604.025L957.637 603.352C958.984 603.733 961.372 605.064 961.016 607.452Z', fill='#FFB9A6')
        g#Group_596
          path#Vector_1267(d='M882.077 658.631L877.274 687.262L891.511 695.207L922.25 692.822L922.942 700.657L894.962 702.805L876 693.303L872.091 685.881L882.077 658.631Z', fill='#E8546B')
        g#Group_597
          path#Vector_1268(d='M888.05 724.596L894.797 715.622L898.1 717.575L907.26 712.922L935.933 708.482L931.642 701.432L890.346 708.934L884.494 718.089C884.494 718.089 879.098 735.245 897.186 743.058C897.186 743.058 885.697 733.679 888.05 724.596Z', fill='#E8546B')
        g#Group_598
          path#Vector_1269(d='M909.771 717.882L937.994 708.964L950.585 711.467L916.353 724.65L913.936 725.58L904.187 742.538L919.435 751.744L899.82 744.444L909.771 717.882Z', fill='#E8546B')
        g#Group_599
          path#Vector_1270(d='M998.598 610.758L1022.62 627.163L1018.42 642.957L995.499 663.489L1000.62 669.392L1021.55 650.681L1027.84 630.403L1025.18 622.503L998.598 610.758Z', fill='#E8546B')
        g#Group_600
          path#Vector_1271(d='M1042.09 660.775L1030.93 659.448L1030.03 663.168L1020.3 666.539L997.246 684.196L995.087 676.25L1029.04 651.623L1039.75 653.725C1039.75 653.725 1055.87 661.694 1049.03 680.158C1049.09 680.133 1050.3 665.341 1042.09 660.775Z', fill='#E8546B')
        g#Group_601
          path#Vector_1272(d='M1033.14 676.3L1003.7 678.936L992.995 686.208L1029.62 685.082L1032.3 685.025L1047.8 696.835L1037.29 711.235L1052.54 696.884L1033.14 676.3Z', fill='#E8546B')
        g#Group_602
          path#Vector_1273(d='M950.711 711.793L950.646 711.819C931.15 714.375 921.257 697.255 921.116 697.084C921.041 696.888 921.056 696.732 921.252 696.657C921.447 696.581 921.603 696.596 921.679 696.792C921.754 696.988 931.497 713.716 950.55 711.18C950.771 711.17 950.887 711.276 950.897 711.497C950.947 711.627 950.842 711.743 950.711 711.793Z', fill='#FFB9A6')
        g#Group_603
          path#Vector_1274(d='M990.366 696.523C990.235 696.573 990.079 696.558 989.939 696.387C989.798 696.216 989.878 696.035 989.984 695.92C1005.82 685.021 1001.76 666.105 1001.75 665.884C1001.67 665.688 1001.84 665.547 1001.97 665.496C1002.17 665.421 1002.31 665.592 1002.36 665.722C1002.44 665.918 1006.52 685.277 990.341 696.457C990.366 696.523 990.366 696.523 990.366 696.523Z', fill='#FFB9A6')
      g#Group_604
        path#Vector_1275(d='M1106.34 631.679C1106.34 631.679 1121.07 623.411 1109.77 622.356C1098.47 621.301 1101.33 612.474 1101.33 612.474', stroke='white', stroke-miterlimit='10', stroke-linecap='round')
        g#Group_605
          path#Vector_1276(d='M1105.63 629.921L1107.51 633.005C1109.28 636.742 1110.79 643.27 1104.03 649.295L1078.61 664.816L1070.43 651.416L1105.63 629.921Z', fill='#1C7C85')
          path#Vector_1277(d='M1099.95 663.902C1100.98 665.828 1103 670.802 1099.12 674.85L1079.18 687.026L1074.27 679.584L1099.95 663.902Z', fill='#1C7C85')
          path#Vector_1278(d='M1073.95 679.78L1074.27 679.585L1079.18 687.026L1075.95 688.782C1073.39 689.978 1070.64 690.491 1067.89 690.416L1070.17 680.044C1071.4 680.387 1072.8 680.408 1073.95 679.78Z', fill='#6FAFB7')
          path#Vector_1279(d='M1056.06 685.155L1067.26 678.026C1067.96 679.057 1069 679.807 1070.2 680.097L1067.94 690.383C1063.54 690.225 1059.27 688.378 1056.06 685.155Z', fill='#1C7C85')
          path#Vector_1280(d='M1053.65 682.032C1051.24 678.097 1050.56 673.625 1051.43 669.441L1066.49 674.26C1066.26 675.426 1066.45 676.696 1067.13 677.813C1067.16 677.866 1067.23 677.973 1067.26 678.026L1056.06 685.155C1055.15 684.253 1054.33 683.149 1053.65 682.032Z', fill='#6FAFB7')
          path#Vector_1281(d='M1061.12 657.098L1070.48 651.384L1078.7 664.837L1068.59 671.006C1068.44 671.103 1068.25 671.286 1068.1 671.384L1059.78 657.771C1060.21 657.512 1060.67 657.305 1061.12 657.098Z', fill='#6FAFB7')
          path#Vector_1282(d='M1057.88 659.079C1058.43 658.669 1058.93 658.291 1059.46 657.966C1059.57 657.901 1059.68 657.836 1059.78 657.771L1068.1 671.384C1067.24 672.128 1066.71 673.179 1066.49 674.26L1051.43 669.44C1052.21 665.459 1054.44 661.692 1057.88 659.079Z', fill='#1C7C85')
        path#Vector_1283(d='M1100.91 677.775L1084.55 673.457C1084.55 673.457 1084.66 681.78 1088.15 682.939C1091.63 684.098 1097.47 685.057 1100.91 677.775Z', fill='#6FAFB7')
        path#Vector_1284(d='M1104.15 639.218C1102.89 639.989 1101.24 639.591 1100.47 638.328C1099.7 637.065 1100.1 635.416 1101.36 634.645C1102.62 633.874 1104.27 634.273 1105.04 635.535C1105.82 636.798 1105.42 638.447 1104.15 639.218Z', fill='white')
        path#Vector_1285(d='M1103.67 638.421C1102.84 638.923 1101.77 638.663 1101.27 637.841C1100.77 637.019 1101.03 635.945 1101.85 635.443C1102.67 634.941 1103.74 635.201 1104.25 636.023C1104.75 636.845 1104.49 637.919 1103.67 638.421Z', fill='#07090B')
        path#Vector_1286(d='M1101.68 649.634C1101.68 649.634 1108.44 649.817 1109.24 652.685C1109.24 652.685 1107.78 650.292 1099.55 651.521', fill='#1C7C85')
        path#Vector_1287(d='M1096.36 652.881C1096.36 652.881 1103.12 653.064 1103.92 655.932C1103.92 655.932 1102.46 653.539 1094.23 654.768', fill='#1C7C85')
        path#Vector_1288(d='M1091.05 656.128C1091.05 656.128 1097.8 656.311 1098.6 659.179C1098.6 659.179 1097.14 656.786 1088.91 658.015', fill='#1C7C85')
      g#Group_606
        g#Group_607
          g#Group_608
            g#Group_609
              path#Vector_1289(d='M1040.84 720.406C1050.97 720.406 1059.19 712.188 1059.19 702.05C1059.19 691.912 1050.97 683.693 1040.84 683.693C1030.7 683.693 1022.48 691.912 1022.48 702.05C1022.48 712.188 1030.7 720.406 1040.84 720.406Z', fill='#2D3640')
            g#Group_610
              path#Vector_1290(d='M1043.57 686.67L1048.03 654.496L1045.8 686.67', fill='#2D3640')
            g#Group_611
              path#Vector_1291(d='M1038.43 692.4L1028.83 661.392L1040.46 691.457', fill='#2D3640')
            g#Group_612
              path#Vector_1292(d='M1033.12 694.31L1019.18 664.989L1035.01 693.07', fill='#2D3640')
            g#Group_613
              path#Vector_1293(d='M1025.78 695.402L1005.21 670.273L1027.29 693.74', fill='#2D3640')
            g#Group_614
              path#Vector_1294(d='M1027.64 699.073L1001.47 679.848L1028.71 697.113', fill='#2D3640')
            g#Group_615
              path#Vector_1295(d='M1042.85 692.946L1055.72 663.129L1045 693.541', fill='#2D3640')
            g#Group_616
              path#Vector_1296(d='M1046.24 694.012L1051.83 662.037L1048.48 694.112', fill='#2D3640')
            g#Group_617
              path#Vector_1297(d='M1046.77 690.837L1066.71 665.212L1048.7 691.953', fill='#2D3640')
            g#Group_618
              path#Vector_1298(d='M1050.54 692.747L1063.96 663.178L1052.67 693.392', fill='#2D3640')
            g#Group_619
              path#Vector_1299(d='M1046.77 700.784L1066.71 675.135L1048.7 701.901', fill='#2D3640')
            g#Group_620
              path#Vector_1300(d='M1050.54 702.67L1063.96 673.125L1052.67 703.315', fill='#2D3640')
            g#Group_621
              path#Vector_1301(d='M1043.57 717.851L1048.03 750L1045.8 717.851', fill='#2D3640')
            g#Group_622
              path#Vector_1302(d='M1038.43 712.096L1028.83 743.104L1040.46 713.039', fill='#2D3640')
            g#Group_623
              path#Vector_1303(d='M1033.12 710.186L1019.18 739.507L1035.01 711.426', fill='#2D3640')
            g#Group_624
              path#Vector_1304(d='M1025.78 709.119L1005.21 734.223L1027.29 710.757', fill='#2D3640')
            g#Group_625
              path#Vector_1305(d='M1042.85 711.575L1055.72 741.367L1045 710.98', fill='#2D3640')
            g#Group_626
              path#Vector_1306(d='M1046.24 710.484L1051.83 742.459L1048.48 710.409', fill='#2D3640')
            g#Group_627
              path#Vector_1307(d='M1046.77 713.659L1066.71 739.284L1048.7 712.543', fill='#2D3640')
            g#Group_628
              path#Vector_1308(d='M1050.54 711.749L1063.96 741.318L1052.67 711.129', fill='#2D3640')
            g#Group_629
              path#Vector_1309(d='M1034.24 712.791L1018.11 740.971L1036.02 714.155', fill='#2D3640')
            g#Group_630
              path#Vector_1310(d='M1033.69 705.101L1007.12 723.755L1034.71 707.085', fill='#2D3640')
            g#Group_631
              path#Vector_1311(d='M1030.67 700.338L1001.69 715.023L1031.39 702.471', fill='#2D3640')
            g#Group_632
              path#Vector_1312(d='M1025.93 696.071L993.457 696.245L1025.63 698.279', fill='#2D3640')
            g#Group_633
              path#Vector_1313(d='M1029.77 694.236L1017.64 664.121L1031.71 693.119', fill='#2D3640')
            g#Group_634
              path#Vector_1314(d='M1030.44 698.304L1011.24 672.133L1032.06 696.741', fill='#2D3640')
            g#Group_635
              path#Vector_1315(d='M1025.68 707.333L998.542 725.144L1026.65 709.343', fill='#2D3640')
            g#Group_636
              path#Vector_1316(d='M1034.44 705.87L1003.5 715.743L1034.81 708.053', fill='#2D3640')
            g#Group_637
              path#Vector_1317(d='M1032.95 700.437L1000.92 705.771L1033.02 702.67', fill='#2D3640')
            g#Group_638
              path#Vector_1318(d='M1029.72 694.905L998.666 685.405L1028.78 696.939', fill='#2D3640')
            g#Group_639
              path#Vector_1319(d='M1040.51 686.471L1041.23 654L1042.72 686.198', fill='#2D3640')
            g#Group_640
              path#Vector_1320(d='M1039.52 690.465L1032.18 658.837L1041.61 689.646', fill='#2D3640')
            g#Group_641
              path#Vector_1321(d='M1040.19 687.067L1015.41 666.081L1038.5 688.555', fill='#2D3640')
            g#Group_642
              path#Vector_1322(d='M1058.37 703.091L1090.45 697.957L1059.04 705.225', fill='#2D3640')
            g#Group_643
              path#Vector_1323(d='M1051.4 699.842L1078.24 681.584L1052.89 701.504', fill='#2D3640')
            g#Group_644
              path#Vector_1324(d='M1048.03 695.327L1071.99 673.423L1049.74 696.766', fill='#2D3640')
            g#Group_645
              path#Vector_1325(d='M1052.17 704.233L1084.45 707.805L1052.25 706.465', fill='#2D3640')
            g#Group_646
              path#Vector_1326(d='M1052.12 707.78L1084.35 703.761L1052.72 709.963', fill='#2D3640')
            g#Group_647
              path#Vector_1327(d='M1055.32 707.358L1085.66 718.943L1054.83 709.541', fill='#2D3640')
            g#Group_648
              path#Vector_1328(d='M1054.6 711.526L1086.8 715.718L1054.63 713.758', fill='#2D3640')
            g#Group_649
              path#Vector_1329(d='M1045.82 710.26L1076.16 721.845L1045.33 712.443', fill='#2D3640')
            g#Group_650
              path#Vector_1330(d='M1045.1 714.428L1077.3 718.62L1045.13 716.661', fill='#2D3640')
            g#Group_651
              path#Vector_1331(d='M1047.11 692.102L1072.37 671.712L1048.75 693.64', fill='#2D3640')
            g#Group_652
              path#Vector_1332(d='M1043.42 693.938L1062.84 667.916L1045.38 695.029', fill='#2D3640')
            g#Group_653
              path#Vector_1333(d='M1057.68 700.09L1088.94 691.309L1058.57 702.149', fill='#2D3640')
            g#Group_654
              path#Vector_1334(d='M1053.56 700.313L1081.67 684.065L1054.95 702.074', fill='#2D3640')
            g#Group_655
              path#Vector_1335(d='M1057.01 699.966L1069.84 670.124L1055.1 698.8', fill='#2D3640')
            g#Group_656
              path#Vector_1336(d='M1055.15 699.073L1081.3 679.848L1054.08 697.113', fill='#2D3640')
            g#Group_657
              path#Vector_1337(d='M1057.01 709.119L1077.57 734.223L1055.47 710.757', fill='#2D3640')
            g#Group_658
              path#Vector_1338(d='M1049.1 705.101L1075.66 723.755L1048.06 707.085', fill='#2D3640')
            g#Group_659
              path#Vector_1339(d='M1052.12 700.338L1081.07 715.023L1051.38 702.471', fill='#2D3640')
            g#Group_660
              path#Vector_1340(d='M1056.86 696.071L1089.31 696.245L1057.16 698.279', fill='#2D3640')
            g#Group_661
              path#Vector_1341(d='M1055.15 699.073L1081.3 679.848L1054.08 697.113', fill='#2D3640')
            g#Group_662
              path#Vector_1342(d='M1052.12 700.338L1081.07 715.023L1051.38 702.471', fill='#2D3640')
            g#Group_663
              path#Vector_1343(d='M1056.86 696.071L1089.31 696.245L1057.16 698.279', fill='#2D3640')
            g#Group_664
              path#Vector_1344(d='M1051.58 712.691L1078.74 730.502L1050.64 714.701', fill='#2D3640')
            g#Group_665
              path#Vector_1345(d='M1048.6 705.572L1080.75 710.186L1048.6 707.805', fill='#2D3640')
            g#Group_666
              path#Vector_1346(d='M1046.22 709.343L1067.65 733.727L1044.76 711.029', fill='#2D3640')
            g#Group_667
              path#Vector_1347(d='M1043.79 711.947L1070.31 730.676L1042.77 713.932', fill='#2D3640')
            g#Group_668
              path#Vector_1348(d='M1046.44 713.783L1061.05 742.781L1044.61 715.048', fill='#2D3640')
            g#Group_669
              path#Vector_1349(d='M1043.09 716.363L1064.06 741.144L1041.61 718.025', fill='#2D3640')
            g#Group_670
              path#Vector_1350(d='M1037.46 709.516L1052.07 738.515L1035.63 710.806', fill='#2D3640')
            g#Group_671
              path#Vector_1351(d='M1034.14 712.121L1055.1 736.902L1032.65 713.783', fill='#2D3640')
            g#Group_672
              path#Vector_1352(d='M1053.09 709.988L1082.09 724.549L1052.37 712.121', fill='#2D3640')
            g#Group_673
              path#Vector_1353(d='M1049.89 707.408L1081.62 714.304L1049.72 709.615', fill='#2D3640')
            g#Group_674
              path#Vector_1354(d='M1051.9 707.532L1084.17 710.955L1052.42 705.349', fill='#2D3640')
            g#Group_675
              path#Vector_1355(d='M1046.49 716.189L1044.78 748.611L1044.26 716.388', fill='#2D3640')
            g#Group_676
              path#Vector_1356(d='M1043.37 707.904L1050.41 739.581L1041.26 708.673', fill='#2D3640')
            g#Group_677
              path#Vector_1357(d='M1048.8 706.44L1060.31 736.803L1046.84 707.507', fill='#2D3640')
            g#Group_678
              path#Vector_1358(d='M1055.17 706.465L1079.04 728.468L1053.91 708.301', fill='#2D3640')
            g#Group_679
              path#Vector_1359(d='M1051.9 707.532L1084.17 710.955L1052.42 705.349', fill='#2D3640')
            g#Group_680
              path#Vector_1360(d='M1048.8 706.44L1060.31 736.803L1046.84 707.507', fill='#2D3640')
            g#Group_681
              path#Vector_1361(d='M1055.17 706.465L1079.04 728.468L1053.91 708.301', fill='#2D3640')
            g#Group_682
              path#Vector_1362(d='M1048.43 692.474L1078.91 681.336L1049.47 694.459', fill='#2D3640')
            g#Group_683
              path#Vector_1363(d='M1040.94 690.639L1063.83 667.594L1042.72 691.978', fill='#2D3640')
            g#Group_684
              path#Vector_1364(d='M1042.55 694.781L1074.92 692.177L1043.02 696.964', fill='#2D3640')
            g#Group_685
              path#Vector_1365(d='M1043.17 698.279L1074.05 688.208L1044.16 700.288', fill='#2D3640')
            g#Group_686
              path#Vector_1366(d='M1046.22 697.262L1078.22 702.868L1046.14 699.495', fill='#2D3640')
            g#Group_687
              path#Vector_1367(d='M1046.32 701.479L1078.72 699.47L1046.77 703.662', fill='#2D3640')
            g#Group_688
              path#Vector_1368(d='M1069.44 707.631L1040.64 704.605C1040.49 704.679 1040.34 704.754 1040.14 704.828C1038.33 705.523 1037.29 704.233 1037.29 704.233L1037.12 704.009L1040.59 704.381C1041.13 704.109 1041.28 703.861 1041.33 703.736C1041.38 703.612 1041.33 703.538 1041.33 703.513L1041.53 703.389C1041.53 703.414 1041.63 703.563 1041.56 703.786C1041.48 704.009 1041.28 704.208 1040.99 704.431L1065.84 707.036L1037.41 702.074L1037.46 701.826L1069.44 707.408V707.631ZM1037.74 704.307C1038.11 704.605 1038.9 705.051 1040.07 704.605C1040.09 704.605 1040.12 704.58 1040.14 704.58L1037.74 704.307Z', fill='#2D3640')
            g#Group_689
              path#Vector_1369(d='M1037.54 706.143L1069.93 704.133L1037.98 708.326', fill='#2D3640')
            g#Group_690
              path#Vector_1370(d='M1047.16 689.671L1076.19 675.11L1048.43 691.507', fill='#2D3640')
            g#Group_691
              path#Vector_1371(d='M1043.17 690.688L1067.68 669.38L1044.85 692.152', fill='#2D3640')
            g#Group_692
              path#Vector_1372(d='M1044.48 689.15L1066.51 665.312L1043.07 687.414', fill='#2D3640')
            g#Group_693
              path#Vector_1373(d='M1039.67 696.22L1069.31 709.492L1039.05 698.378', fill='#2D3640')
            g#Group_694
              path#Vector_1374(d='M1041.75 690.986L1072.96 699.892L1041.43 693.194', fill='#2D3640')
            g#Group_695
              path#Vector_1375(d='M1045.57 685.876L1077.5 679.898L1046.29 687.985', fill='#2D3640')
            g#Group_696
              path#Vector_1376(d='M1044.48 689.15L1066.51 665.312L1043.07 687.414', fill='#2D3640')
            g#Group_697
              path#Vector_1377(d='M1041.75 690.986L1072.96 699.892L1041.43 693.194', fill='#2D3640')
            g#Group_698
              path#Vector_1378(d='M1045.57 685.876L1077.5 679.898L1046.29 687.985', fill='#2D3640')
            g#Group_699
              path#Vector_1379(d='M1039.3 696.791L1071.72 695.203L1039.7 698.974', fill='#2D3640')
            g#Group_700
              path#Vector_1380(d='M1044.53 700.264L1075.79 709.045L1044.23 702.496', fill='#2D3640')
            g#Group_701
              path#Vector_1381(d='M1040.91 698.329L1073.36 699.073L1041.16 700.536', fill='#2D3640')
            g#Group_702
              path#Vector_1382(d='M1042.9 698.081L1075.24 695.302L1043.02 695.848', fill='#2D3640')
            g#Group_703
              path#Vector_1383(d='M1042.9 698.081L1075.24 695.302L1043.02 695.848', fill='#2D3640')
            g#Group_704
              path#Vector_1384(d='M1031.81 713.113L1018.34 742.633L1029.65 712.468', fill='#2D3640')
            g#Group_705
              path#Vector_1385(d='M1038.36 709.07L1038.7 741.541L1036.15 709.392', fill='#2D3640')
            g#Group_706
              path#Vector_1386(d='M1034.29 707.309L1013.43 732.189L1032.38 706.118', fill='#2D3640')
            g#Group_707
              path#Vector_1387(d='M1031.34 705.274L1016.85 734.347L1029.23 704.58', fill='#2D3640')
            g#Group_708
              path#Vector_1388(d='M1029.92 708.177L1003.5 727.054L1028.38 706.564', fill='#2D3640')
            g#Group_709
              path#Vector_1389(d='M1026.87 705.274L1005.56 729.783L1024.99 704.059', fill='#2D3640')
            g#Group_710
              path#Vector_1390(d='M1032.77 698.676L1006.33 717.529L1031.24 697.039', fill='#2D3640')
            g#Group_711
              path#Vector_1391(d='M1029.7 695.774L1008.39 720.257L1027.84 694.533', fill='#2D3640')
            g#Group_712
              path#Vector_1392(d='M1034.68 714.18L1024.71 745.064L1032.48 713.783', fill='#2D3640')
            g#Group_713
              path#Vector_1393(d='M1036.77 710.608L1034.76 743.029L1034.54 710.781', fill='#2D3640')
            g#Group_714
              path#Vector_1394(d='M1036.94 712.617L1038.48 745.039L1039.17 712.815', fill='#2D3640')
            g#Group_715
              path#Vector_1395(d='M1027.54 708.599L995.243 711.848L1027.02 706.44', fill='#2D3640')
            g#Group_716
              path#Vector_1396(d='M1035.28 704.232L1005.02 716.04L1034.19 702.298', fill='#2D3640')
            g#Group_717
              path#Vector_1397(d='M1037.54 709.392L1009.31 725.392L1036.2 707.606', fill='#2D3640')
            g#Group_718
              path#Vector_1398(d='M1038.5 715.718L1020.37 742.633L1036.5 714.726', fill='#2D3640')
            g#Group_719
              path#Vector_1399(d='M1036.94 712.617L1038.48 745.039L1039.17 712.815', fill='#2D3640')
            g#Group_720
              path#Vector_1400(d='M1037.54 709.392L1009.31 725.392L1036.2 707.606', fill='#2D3640')
            g#Group_721
              path#Vector_1401(d='M1038.5 715.718L1020.37 742.633L1036.5 714.726', fill='#2D3640')
            g#Group_722
              path#Vector_1402(d='M1024.44 696.245L991.968 696.369L1024.12 694.037', fill='#2D3640')
            g#Group_723
              path#Vector_1403(d='M1030.84 700.536L1001.49 714.428L1029.62 698.651', fill='#2D3640')
            g#Group_724
              path#Vector_1404(d='M1030.74 696.071L999.41 687.563L1031.04 693.864', fill='#2D3640')
            g#Group_725
              path#Vector_1405(d='M1031.34 692.574L998.889 691.557L1031.11 690.341', fill='#2D3640')
            g#Group_726
              path#Vector_1406(d='M1028.11 692.499L999.931 676.375L1028.95 690.416', fill='#2D3640')
            g#Group_727
              path#Vector_1407(d='M1029.48 688.505L998.319 679.402L1029.8 686.298', fill='#2D3640')
            g#Group_728
              path#Vector_1408(d='M1037.96 691.085L1009.75 674.986L1038.78 689.026', fill='#2D3640')
            g#Group_729
              path#Vector_1409(d='M1039.3 687.091L1008.14 677.988L1039.62 684.884', fill='#2D3640')
            g#Group_730
              path#Vector_1410(d='M1024.66 699.321L992.44 703.191L1024.09 697.163', fill='#2D3640')
            g#Group_731
              path#Vector_1411(d='M1028.76 699.718L998.492 711.476L1027.69 697.783', fill='#2D3640')
            g#Group_732
              path#Vector_1412(d='M1027.02 700.71L998.219 715.693L1027.76 702.818', fill='#2D3640')
            g#Group_733
              path#Vector_1413(d='M1026.75 690.515L1010.28 662.533L1028.48 689.125', fill='#2D3640')
            g#Group_734
              path#Vector_1414(d='M1033.94 695.699L1010.57 673.15L1035.25 693.888', fill='#2D3640')
            g#Group_735
              path#Vector_1415(d='M1030.22 699.916L1003.85 680.964L1031.26 697.957', fill='#2D3640')
            g#Group_736
              path#Vector_1416(d='M1024.86 703.439L992.812 698.229L1024.91 701.181', fill='#2D3640')
            g#Group_737
              path#Vector_1417(d='M1027.02 700.71L998.219 715.693L1027.76 702.818', fill='#2D3640')
            g#Group_738
              path#Vector_1418(d='M1030.22 699.916L1003.85 680.964L1031.26 697.957', fill='#2D3640')
            g#Group_739
              path#Vector_1419(d='M1024.86 703.439L992.812 698.229L1024.91 701.181', fill='#2D3640')
            g#Group_740
              path#Vector_1420(d='M1038.23 686.744L1024.74 657.2L1040.12 685.529', fill='#2D3640')
            g#Group_741
              path#Vector_1421(d='M1036.99 694.335L1012.23 673.349L1038.18 692.45', fill='#2D3640')
            g#Group_742
              path#Vector_1422(d='M1041.01 692.425L1035.85 660.35L1043.14 691.755', fill='#2D3640')
            g#Group_743
              path#Vector_1423(d='M1044.46 691.507L1031.98 661.541L1046.37 690.366', fill='#2D3640')
            g#Group_744
              path#Vector_1424(d='M1043.19 688.555L1046.24 656.233L1045.43 688.456', fill='#2D3640')
            g#Group_745
              path#Vector_1425(d='M1047.39 688.133L1042.82 655.984L1049.52 687.513', fill='#2D3640')
            g#Group_746
              path#Vector_1426(d='M1048.53 696.915L1051.58 664.592L1050.76 696.816', fill='#2D3640')
            g#Group_747
              path#Vector_1427(d='M1052.72 696.518L1048.15 664.369L1054.85 695.898', fill='#2D3640')
            g#Group_748
              path#Vector_1428(d='M1035.55 688.208L1018.73 660.45L1037.29 686.794', fill='#2D3640')
            g#Group_749
              path#Vector_1429(d='M1036.87 692.102L1013.67 669.38L1038.21 690.316', fill='#2D3640')
            g#Group_750
              path#Vector_1430(d='M1035.23 690.936L1009.73 670.868L1033.62 692.474', fill='#2D3640')
            g#Group_751
              path#Vector_1431(d='M1044.41 686.471L1063.14 659.929L1046.42 687.488', fill='#2D3640')
            g#Group_752
              path#Vector_1432(d='M1042.67 695.153L1053.56 664.567L1044.86 695.6', fill='#2D3640')
            g#Group_753
              path#Vector_1433(d='M1037.29 693.516L1043.69 661.69L1039.52 693.64', fill='#2D3640')
            g#Group_754
              path#Vector_1434(d='M1031.88 690.093L1023.4 658.738L1033.94 689.225', fill='#2D3640')
            g#Group_755
              path#Vector_1435(d='M1035.23 690.936L1009.73 670.868L1033.62 692.474', fill='#2D3640')
            g#Group_756
              path#Vector_1436(d='M1037.29 693.516L1043.69 661.69L1039.52 693.64', fill='#2D3640')
            g#Group_757
              path#Vector_1437(d='M1031.88 690.093L1023.4 658.738L1033.94 689.225', fill='#2D3640')
            g#Group_758
              path#Vector_1438(d='M1037.51 707.383L1029.48 738.837L1039.57 708.226', fill='#2D3640')
            g#Group_759
              path#Vector_1439(d='M1040.86 708.598L1025.73 737.299L1042.67 709.888', fill='#2D3640')
            g#Group_760
              path#Vector_1440(d='M1039.35 711.426L1039.45 743.898L1041.56 711.724', fill='#2D3640')
            g#Group_761
              path#Vector_1441(d='M1043.47 712.22L1036.02 743.823L1045.57 713.039', fill='#2D3640')
          g#Group_762
            path#Vector_1442(d='M1031.93 700.71C1035.64 700.71 1038.65 697.7 1038.65 693.988C1038.65 690.275 1035.64 687.265 1031.93 687.265C1028.22 687.265 1025.21 690.275 1025.21 693.988C1025.21 697.7 1028.22 700.71 1031.93 700.71Z', fill='white')
          g#Group_763
            path#Vector_1443(d='M1031.93 698.651C1034.51 698.651 1036.59 696.563 1036.59 693.988C1036.59 691.412 1034.51 689.324 1031.93 689.324C1029.36 689.324 1027.27 691.412 1027.27 693.988C1027.27 696.563 1029.36 698.651 1031.93 698.651Z', fill='#2D3640')
          g#Group_764
            path#Vector_1444(d='M1046.84 702.794C1050.55 702.794 1053.56 699.784 1053.56 696.071C1053.56 692.359 1050.55 689.349 1046.84 689.349C1043.13 689.349 1040.12 692.359 1040.12 696.071C1040.12 699.784 1043.13 702.794 1046.84 702.794Z', fill='white')
          g#Group_765
            path#Vector_1445(d='M1046.77 700.735C1049.34 700.735 1051.43 698.647 1051.43 696.071C1051.43 693.496 1049.34 691.408 1046.77 691.408C1044.19 691.408 1042.1 693.496 1042.1 696.071C1042.1 698.647 1044.19 700.735 1046.77 700.735Z', fill='#2D3640')
          g#Group_766
            path#Vector_1446(d='M1038.66 704C1038.42 704 1038.16 703.973 1037.86 703.947C1034.42 703.523 1034.66 701.374 1034.66 701.348C1034.69 701.136 1034.93 700.976 1035.17 701.003C1035.4 701.029 1035.58 701.215 1035.55 701.454C1035.55 701.533 1035.43 702.86 1037.98 703.178C1038.9 703.284 1039.64 703.178 1040.11 702.833C1040.68 702.462 1040.74 701.905 1040.77 701.878C1040.8 701.666 1041 701.507 1041.27 701.533C1041.51 701.56 1041.68 701.746 1041.65 701.958C1041.65 701.984 1041.54 702.86 1040.71 703.443C1040.17 703.814 1039.49 704 1038.66 704Z', fill='#FFB9A6')
      g#Group_767
        g#Group_768
          path#Vector_1447(d='M1281.36 684.3C1281.36 684.3 1276.16 704.5 1292.76 693.9L1295.66 697L1281.16 704.5L1271.96 700.5L1281.36 684.3Z', fill='#FDFCFA')
        g#Group_769
          g#Group_770
            path#Vector_1448(d='M1264.36 670.8C1248.36 676.6 1246.7 702.6 1247 715.6L1249 734.5C1249 734.5 1250.5 744.5 1251.86 715.6C1253.22 686.7 1303.06 667.8 1303.06 667.8V651.3C1291.36 649.6 1283.26 664 1264.36 670.8Z', fill='#E6566D')
          g#Group_771
            path#Vector_1449(d='M1264.36 670.8C1283.16 664 1291.36 649.6 1302.96 651.3V637.5C1240.76 641 1234 682.5 1240.66 715.6C1242.37 724.112 1249.99 737.467 1249.5 736C1249 734.5 1247.06 715.6 1247.06 715.6C1246.76 702.6 1248.36 676.6 1264.36 670.8Z', fill='#FDFCFA')
        g#Group_772
          path#Vector_1450(d='M1303.06 660.6C1303.06 660.6 1265.86 660.8 1267.56 694C1269.16 727.2 1307.46 691 1297.46 691C1287.46 691 1291.66 695.4 1291.66 695.4C1291.66 695.4 1275.36 710.3 1279.06 695.6C1282.76 680.9 1307.36 688.4 1307.36 688.4', fill='#E6566D')
        g#Group_773
          path#Vector_1451(d='M1295.4 648.114C1298.05 647.352 1299.95 645.874 1299.65 644.812C1299.35 643.751 1296.95 643.508 1294.29 644.269C1291.64 645.031 1289.73 646.51 1290.04 647.571C1290.34 648.633 1292.74 648.876 1295.4 648.114Z', fill='#FDB9A8')
        g#Group_774
          path#Vector_1452(d='M1282.25 654.41C1284.72 653.176 1286.33 651.375 1285.83 650.387C1285.34 649.399 1282.94 649.597 1280.47 650.831C1278 652.064 1276.39 653.865 1276.89 654.853C1277.38 655.841 1279.78 655.643 1282.25 654.41Z', fill='#FDB9A8')
        g#Group_775
          path#Vector_1453(d='M1270.86 662.188C1273.34 660.954 1274.94 659.153 1274.45 658.165C1273.95 657.177 1271.55 657.376 1269.08 658.609C1266.61 659.842 1265 661.643 1265.5 662.631C1265.99 663.619 1268.39 663.421 1270.86 662.188Z', fill='#FDB9A8')
        g#Group_776
          path#Vector_1454(d='M1270.96 678L1270.16 677.7C1270.26 677.5 1279.96 656.3 1303.06 659.2L1302.96 660C1280.46 657.1 1271.06 677.8 1270.96 678Z', fill='#FDB9A8')
        g#Group_777
          path#Vector_1455(d='M1289.26 639.6C1289.26 639.6 1288.66 637.4 1289.96 637.1C1291.26 636.8 1295.66 636 1295.66 636L1296.66 638.1L1292.56 639.6H1289.26Z', fill='#FDB9A8')
      g#Group_778
        path#Vector_1456(d='M1233.32 513.799C1233.32 513.799 1213.87 509.636 1226.21 504.513C1238.55 499.389 1232.26 490.461 1232.26 490.461', stroke='white', stroke-miterlimit='10', stroke-linecap='round')
        g#Group_779
          path#Vector_1457(d='M1233.5 511.576L1232.46 515.7C1231.77 520.518 1232.35 528.381 1242.05 532.801L1276.04 541.398L1280.57 523.482L1233.5 511.576Z', fill='#1C7C85')
          path#Vector_1458(d='M1251.72 547.804C1251.23 550.328 1250.7 556.623 1256.47 559.823L1283.13 566.568L1286.06 556.491L1251.72 547.804Z', fill='#1C7C85')
          path#Vector_1459(d='M1286.49 556.599L1286.06 556.491L1283.13 566.568L1287.38 567.416C1290.67 567.87 1293.95 567.487 1297.01 566.447L1290.83 555.58C1289.57 556.394 1288 556.906 1286.49 556.599Z', fill='#6FAFB7')
          path#Vector_1460(d='M1308.47 556.412L1293.4 552.296C1292.97 553.7 1292.06 554.907 1290.81 555.651L1296.94 566.429C1301.83 564.717 1305.99 561.154 1308.47 556.412Z', fill='#1C7C85')
          path#Vector_1461(d='M1310.1 552.059C1311.43 546.798 1310.65 541.531 1308.21 537.131L1292.95 547.795C1293.62 549.025 1293.85 550.519 1293.47 552.012C1293.45 552.083 1293.42 552.225 1293.4 552.297L1308.47 556.412C1309.19 555.08 1309.72 553.552 1310.1 552.059Z', fill='#6FAFB7')
          path#Vector_1462(d='M1293.01 526.63L1280.5 523.464L1275.95 541.451L1289.46 544.869C1289.67 544.923 1289.93 545.066 1290.15 545.119L1294.75 526.919C1294.18 526.775 1293.6 526.703 1293.01 526.63Z', fill='#6FAFB7')
          path#Vector_1463(d='M1297.35 527.727C1296.58 527.458 1295.89 527.207 1295.18 527.027C1295.04 526.991 1294.89 526.955 1294.75 526.919L1290.15 545.12C1291.37 545.657 1292.33 546.655 1292.95 547.795L1308.21 537.131C1305.94 532.927 1302.13 529.466 1297.35 527.727Z', fill='#1C7C85')
        path#Vector_1464(d='M1255.48 563.734L1272.38 553.18C1272.38 553.18 1275.14 562.579 1271.63 565.095C1268.12 567.611 1261.89 570.724 1255.48 563.734Z', fill='#6FAFB7')
        path#Vector_1465(d='M1238.4 521.515C1240.09 521.942 1241.81 520.919 1242.23 519.231C1242.66 517.543 1241.64 515.828 1239.95 515.401C1238.26 514.973 1236.55 515.996 1236.12 517.684C1235.69 519.373 1236.71 521.088 1238.4 521.515Z', fill='white')
        path#Vector_1466(d='M1238.67 520.448C1239.77 520.726 1240.89 520.061 1241.17 518.961C1241.45 517.862 1240.78 516.745 1239.68 516.467C1238.58 516.189 1237.46 516.855 1237.19 517.954C1236.91 519.053 1237.57 520.17 1238.67 520.448Z', fill='#07090B')
        path#Vector_1467(d='M1244.81 532.364C1244.81 532.364 1237.28 534.922 1237.38 538.426C1237.38 538.426 1238.19 535.227 1247.87 533.743', fill='#1C7C85')
        path#Vector_1468(d='M1251.92 534.163C1251.92 534.163 1244.39 536.721 1244.49 540.225C1244.49 540.225 1245.3 537.026 1254.98 535.541', fill='#1C7C85')
        path#Vector_1469(d='M1259.03 535.961C1259.03 535.961 1251.5 538.519 1251.6 542.023C1251.6 542.023 1252.41 538.824 1262.09 537.339', fill='#1C7C85')
      g#Group_780
        path#Vector_1470(d='M1232.66 587.535C1232.66 587.535 1213.03 590.714 1222.66 581.461C1232.3 572.208 1223.2 566.171 1223.2 566.171', stroke='white', stroke-miterlimit='10', stroke-linecap='round')
        g#Group_781
          path#Vector_1471(d='M1232.02 585.396L1232.55 589.617C1233.65 594.357 1237.05 601.473 1247.69 602.071L1282.48 597.748L1280.2 579.409L1232.02 585.396Z', fill='#1C7C85')
          path#Vector_1472(d='M1262.15 612.542C1262.61 615.071 1264.4 621.13 1270.94 622.017L1298.23 618.625L1297.3 608.173L1262.15 612.542Z', fill='#1C7C85')
          path#Vector_1473(d='M1297.73 608.119L1297.3 608.173L1298.23 618.625L1302.49 617.873C1305.72 617.102 1308.63 615.558 1311.11 613.476L1301.41 605.592C1300.53 606.811 1299.25 607.856 1297.73 608.119Z', fill='#6FAFB7')
          path#Vector_1474(d='M1318.15 599.965L1302.61 601.6C1302.72 603.065 1302.31 604.52 1301.42 605.665L1311.04 613.486C1314.98 610.114 1317.56 605.286 1318.15 599.965Z', fill='#1C7C85')
          path#Vector_1475(d='M1318.09 595.317C1317.42 589.931 1314.78 585.309 1310.9 582.095L1300.56 597.569C1301.63 598.471 1302.39 599.781 1302.58 601.309C1302.59 601.382 1302.6 601.527 1302.61 601.6L1318.15 599.965C1318.33 598.464 1318.28 596.845 1318.09 595.317Z', fill='#6FAFB7')
          path#Vector_1476(d='M1292.93 577.826L1280.13 579.418L1282.41 597.83L1296.24 596.111C1296.46 596.084 1296.76 596.12 1296.98 596.093L1294.66 577.463C1294.08 577.536 1293.51 577.681 1292.93 577.826Z', fill='#6FAFB7')
          path#Vector_1477(d='M1297.37 577.274C1296.56 577.301 1295.83 577.318 1295.1 577.409C1294.95 577.427 1294.81 577.445 1294.66 577.463L1296.98 596.093C1298.31 596.149 1299.57 596.732 1300.56 597.569L1310.9 582.095C1307.27 579 1302.46 577.159 1297.37 577.274Z', fill='#1C7C85')
        path#Vector_1478(d='M1271.43 626.02L1283.34 610.055C1283.34 610.055 1289.33 617.809 1286.97 621.428C1284.61 625.046 1279.94 630.21 1271.43 626.02Z', fill='#6FAFB7')
        path#Vector_1479(d='M1240.19 592.879C1241.92 592.665 1243.15 591.089 1242.93 589.361C1242.72 587.633 1241.14 586.406 1239.42 586.621C1237.69 586.836 1236.46 588.411 1236.68 590.139C1236.89 591.867 1238.47 593.094 1240.19 592.879Z', fill='white')
        path#Vector_1480(d='M1240.06 591.788C1241.18 591.648 1241.98 590.622 1241.84 589.497C1241.7 588.371 1240.68 587.572 1239.55 587.712C1238.43 587.852 1237.63 588.878 1237.77 590.003C1237.91 591.129 1238.93 591.928 1240.06 591.788Z', fill='#07090B')
        path#Vector_1481(d='M1250.1 600.663C1250.1 600.663 1244.01 605.78 1245.38 609.01C1245.38 609.01 1244.97 605.735 1253.45 600.839', fill='#1C7C85')
        path#Vector_1482(d='M1257.38 599.759C1257.38 599.759 1251.29 604.876 1252.65 608.106C1252.65 608.106 1252.25 604.831 1260.73 599.934', fill='#1C7C85')
        path#Vector_1483(d='M1264.66 598.854C1264.66 598.854 1258.57 603.971 1259.93 607.201C1259.93 607.201 1259.52 603.926 1268 599.029', fill='#1C7C85')
      g(id='Group 117')
        path#Vector_1484(d='M1165.06 675.3L1155.26 671.3C1153.96 670.8 1153.36 669.3 1153.86 668L1156.46 661.6C1156.96 660.3 1158.46 659.7 1159.76 660.2L1169.56 664.2C1170.86 664.7 1171.46 666.2 1170.96 667.5L1168.36 673.9C1167.86 675.2 1166.36 675.8 1165.06 675.3Z', fill='#FDFCFA')
        path#Vector_1485(d='M1157.46 663.1C1157.46 663.1 1157.96 661.4 1158.86 661.4C1159.76 661.4 1162.96 662.8 1162.96 662.8C1162.96 662.8 1157.86 662.5 1157.46 663.1Z', fill='#EBF2FA')
        path#Vector_1486(d='M1155.26 667.8C1155.26 667.8 1153.76 669.7 1158.06 671.2C1162.36 672.7 1165.16 674.7 1165.96 674.2C1166.76 673.7 1168.96 668.3 1168.96 668.3L1155.26 667.8Z', fill='#EBF2FA')
        path#Vector_1487(d='M1159.26 664.9H1160.16H1165.16L1167.96 666.1', fill='#EBF2FA')
      g(id='Group 118')
        path#Vector_1488(d='M1165.63 687.533L1159.44 678.948C1158.6 677.835 1158.89 676.245 1160 675.408L1165.6 671.357C1166.71 670.519 1168.3 670.805 1169.14 671.918L1175.33 680.502C1176.17 681.615 1175.88 683.205 1174.77 684.043L1169.17 688.094C1168.06 688.931 1166.47 688.645 1165.63 687.533Z', fill='#FDFCFA')
        path#Vector_1489(d='M1165.65 673.159C1165.65 673.159 1166.97 671.982 1167.74 672.459C1168.5 672.936 1170.47 675.818 1170.47 675.818C1170.47 675.818 1166.31 672.862 1165.65 673.159Z', fill='#EBF2FA')
        path#Vector_1490(d='M1161.29 675.98C1161.29 675.98 1159.01 676.797 1161.87 680.347C1164.72 683.897 1166.03 687.077 1166.98 687.077C1167.92 687.076 1172.65 683.662 1172.65 683.662L1161.29 675.98Z', fill='#EBF2FA')
        path#Vector_1491(d='M1166.22 675.639L1166.99 676.116L1171.23 678.765L1172.97 681.266', fill='#EBF2FA')
      g(id='Group 119')
        path#Vector_1492(d='M1072.4 642.982L1066.21 634.398C1065.37 633.285 1065.65 631.695 1066.77 630.857L1072.36 626.807C1073.48 625.969 1075.07 626.255 1075.9 627.368L1082.1 635.952C1082.93 637.065 1082.65 638.655 1081.54 639.492L1075.94 643.543C1074.83 644.381 1073.24 644.095 1072.4 642.982Z', fill='#FDFCFA')
        path#Vector_1493(d='M1072.42 628.609C1072.42 628.609 1073.74 627.432 1074.5 627.908C1075.27 628.385 1077.24 631.268 1077.24 631.268C1077.24 631.268 1073.07 628.312 1072.42 628.609Z', fill='#EBF2FA')
        path#Vector_1494(d='M1068.06 631.429C1068.06 631.429 1065.78 632.246 1068.63 635.796C1071.49 639.347 1072.8 642.526 1073.75 642.526C1074.69 642.526 1079.42 639.111 1079.42 639.111L1068.06 631.429Z', fill='#EBF2FA')
        path#Vector_1495(d='M1072.99 631.089L1073.75 631.566L1077.99 634.215L1079.73 636.716', fill='#EBF2FA')
      g(id='Group 122')
        path#Vector_1496(d='M968.399 718.982L962.207 710.398C961.369 709.285 961.655 707.695 962.768 706.857L968.363 702.807C969.476 701.969 971.066 702.255 971.904 703.368L978.096 711.952C978.934 713.065 978.648 714.655 977.535 715.492L971.94 719.543C970.827 720.381 969.237 720.095 968.399 718.982Z', fill='#FDFCFA')
        path#Vector_1497(d='M968.417 704.609C968.417 704.609 969.742 703.432 970.505 703.908C971.268 704.385 973.241 707.268 973.241 707.268C973.241 707.268 969.074 704.312 968.417 704.609Z', fill='#EBF2FA')
        path#Vector_1498(d='M964.061 707.429C964.061 707.429 961.782 708.246 964.634 711.796C967.487 715.347 968.802 718.526 969.745 718.526C970.689 718.526 975.415 715.111 975.415 715.111L964.061 707.429Z', fill='#EBF2FA')
        path#Vector_1499(d='M968.99 707.089L969.753 707.566L973.994 710.215L975.733 712.716', fill='#EBF2FA')
      g(id='Group 123')
        path#Vector_1500(d='M981.129 719.116L972.409 713.117C971.245 712.351 970.979 710.758 971.745 709.595L975.651 703.897C976.417 702.733 978.01 702.467 979.173 703.233L987.894 709.232C989.058 709.998 989.324 711.592 988.558 712.755L984.652 718.453C983.886 719.616 982.293 719.882 981.129 719.116Z', fill='#FDFCFA')
        path#Vector_1501(d='M976.308 705.576C976.308 705.576 977.159 704.021 978.038 704.214C978.918 704.406 981.745 706.456 981.745 706.456C981.745 706.456 976.827 705.075 976.308 705.576Z', fill='#EBF2FA')
        path#Vector_1502(d='M973.156 709.698C973.156 709.698 971.285 711.234 975.166 713.617C979.046 716 981.355 718.552 982.243 718.234C983.132 717.916 986.433 713.11 986.433 713.11L973.156 709.698Z', fill='#EBF2FA')
        path#Vector_1503(d='M977.682 707.718L978.562 707.91L983.446 708.977L985.926 710.747', fill='#EBF2FA')
      g(id='Group 120_2')
        path#Vector_1504(d='M1040.4 617.982L1034.21 609.398C1033.37 608.285 1033.65 606.695 1034.77 605.857L1040.36 601.807C1041.48 600.969 1043.07 601.255 1043.9 602.368L1050.1 610.952C1050.93 612.065 1050.65 613.655 1049.54 614.492L1043.94 618.543C1042.83 619.381 1041.24 619.095 1040.4 617.982Z', fill='#FDFCFA')
        path#Vector_1505(d='M1040.42 603.609C1040.42 603.609 1041.74 602.432 1042.5 602.908C1043.27 603.385 1045.24 606.268 1045.24 606.268C1045.24 606.268 1041.07 603.312 1040.42 603.609Z', fill='#EBF2FA')
        path#Vector_1506(d='M1036.06 606.429C1036.06 606.429 1033.78 607.246 1036.63 610.796C1039.49 614.347 1040.8 617.526 1041.75 617.526C1042.69 617.526 1047.42 614.111 1047.42 614.111L1036.06 606.429Z', fill='#EBF2FA')
        path#Vector_1507(d='M1040.99 606.089L1041.75 606.566L1045.99 609.215L1047.73 611.716', fill='#EBF2FA')
      g(id='Group 124_2')
        path#Vector_1508(d='M1039.01 632.499L1049.65 634.334C1051.04 634.604 1052.37 633.631 1052.64 632.236L1053.85 625.294C1054.12 623.899 1053.15 622.569 1051.75 622.299L1041.11 620.464C1039.72 620.194 1038.39 621.167 1038.12 622.562L1036.91 629.504C1036.64 630.899 1037.61 632.229 1039.01 632.499Z', fill='#FDFCFA')
        path#Vector_1509(d='M1052.18 626.051C1052.18 626.051 1052.66 624.31 1051.88 623.824C1051.11 623.337 1047.58 622.819 1047.58 622.819C1047.58 622.819 1052.16 625.316 1052.18 626.051Z', fill='#EBF2FA')
        path#Vector_1510(d='M1051.54 631.306C1051.54 631.306 1051.81 633.76 1047.28 632.734C1042.75 631.708 1039.25 631.925 1038.82 631.06C1038.4 630.196 1039.42 624.335 1039.42 624.335L1051.54 631.306Z', fill='#EBF2FA')
        path#Vector_1511(d='M1049.65 626.635L1048.87 626.149L1044.54 623.447L1041.47 622.972', fill='#EBF2FA')
      g(id='Group 121_2')
        path#Vector_1512(d='M1033.28 622.421L1035.68 613.835C1035.98 612.699 1037.18 612.053 1038.31 612.346L1043.92 613.908C1045.05 614.202 1045.7 615.4 1045.41 616.536L1043 625.123C1042.71 626.259 1041.51 626.905 1040.37 626.611L1034.76 625.049C1033.63 624.755 1032.98 623.558 1033.28 622.421Z', fill='#FDFCFA')
        path#Vector_1513(d='M1042.76 614.889C1042.76 614.889 1044.23 615.145 1044.32 615.898C1044.4 616.651 1043.54 619.464 1043.54 619.464C1043.54 619.464 1043.3 615.167 1042.76 614.889Z', fill='#EBF2FA')
        path#Vector_1514(d='M1038.61 613.499C1038.61 613.499 1036.88 612.426 1036.04 616.169C1035.19 619.912 1033.79 622.448 1034.28 623.069C1034.78 623.691 1039.51 625.014 1039.51 625.014L1038.61 613.499Z', fill='#EBF2FA')
        path#Vector_1515(d='M1041.42 616.569L1041.51 617.322L1041.99 621.507L1041.25 623.966', fill='#EBF2FA')
      g(id='Group 125_2')
        path#Vector_1516(d='M1042.28 640.421L1044.68 631.835C1044.98 630.699 1046.18 630.053 1047.31 630.346L1052.92 631.908C1054.05 632.202 1054.7 633.4 1054.41 634.536L1052 643.123C1051.71 644.259 1050.51 644.905 1049.37 644.611L1043.76 643.049C1042.63 642.755 1041.98 641.558 1042.28 640.421Z', fill='#FDFCFA')
        path#Vector_1517(d='M1051.76 632.889C1051.76 632.889 1053.23 633.145 1053.32 633.898C1053.4 634.651 1052.54 637.464 1052.54 637.464C1052.54 637.464 1052.3 633.167 1051.76 632.889Z', fill='#EBF2FA')
        path#Vector_1518(d='M1047.61 631.499C1047.61 631.499 1045.88 630.426 1045.04 634.169C1044.19 637.912 1042.79 640.448 1043.28 641.069C1043.78 641.691 1048.51 643.014 1048.51 643.014L1047.61 631.499Z', fill='#EBF2FA')
        path#Vector_1519(d='M1050.42 634.569L1050.51 635.322L1050.99 639.507L1050.25 641.966', fill='#EBF2FA')
