svg(width='2494', height='766', viewBox='0 0 2494 766', preserveAspectRatio='xMidYMax slice' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(id='FOOD TAIPEI', clip-path='url(#clip0)')
    g#window
      rect(id='Rectangle 61', x='658', y='-2', width='224', height='129', fill='#FFF3D0')
      rect(id='Rectangle 62', x='670', y='-2', width='200', height='117', fill='#CCE2E1')
      g#Frame(clip-path='url(#clip1)')
        path#Vector(d='M670.034 57.0957C670.034 57.0957 685.034 54.7531 691.414 73.2347C691.414 73.2347 703.828 70.3713 710.724 80.3496C717.621 90.3279 729.69 93.4516 729.69 93.4516L744.862 96.7487H670.034L670.034 57.0957Z', fill='white')
      path#Vector_2(d='M869 5.0792C869 5.0792 843.907 2.60759 836.029 25.2782C836.029 25.2782 820.613 21.7839 812.135 33.9715C803.657 46.159 788.755 49.9091 788.755 49.9091L770 54H869V5.0792Z', fill='white')
    g#window_2
      rect(id='Rectangle 61_2', x='2345', y='-3', width='224', height='129', fill='#FFF3D0')
      rect(id='Rectangle 62_2', x='2357', y='-3', width='200', height='117', fill='#CCE2E1')
      g#Frame_2(clip-path='url(#clip2)')
        path#Vector_3(d='M2357.03 16.0957C2357.03 16.0957 2372.03 13.7531 2378.41 32.2347C2378.41 32.2347 2390.83 29.3713 2397.72 39.3496C2404.62 49.3279 2416.69 52.4516 2416.69 52.4516L2431.86 55.7487H2357.03L2357.03 16.0957Z', fill='white')
      path#Vector_4(d='M2536 48.0792C2536 48.0792 2510.91 45.6076 2503.03 68.2782C2503.03 68.2782 2487.61 64.7839 2479.13 76.9715C2470.66 89.159 2455.76 92.9091 2455.76 92.9091L2437 97H2536V48.0792Z', fill='white')
  defs
    clippath#clip1
      rect(width='80', height='40', fill='white', transform='translate(664 57)')
    clippath#clip2
      rect(width='80', height='40', fill='white', transform='translate(2351 16)')