svg(width='2494', height='766', viewBox='0 0 2494 766', preserveAspectRatio='xMidYMax slice' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(id='FOOD TAIPEI', clip-path='url(#clip0)')
    g#yellowTable
      rect(id='å§å°', x='544', y='435', width='701', height='352', fill='#FFF3D0')
      g(id='å§å°èŠ±ç´‹', opacity='0.6')
        path#Vector_1034(opacity='0.6', d='M543.634 447.107H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
        path#Vector_1035(opacity='0.6', d='M543.634 479.254H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
        path#Vector_1036(opacity='0.6', d='M543.634 507.618H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
        path#Vector_1037(opacity='0.6', d='M543.634 535.982H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
        path#Vector_1038(opacity='0.6', d='M543.634 564.346H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
        path#Vector_1039(opacity='0.6', d='M543.634 592.805H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
        path#Vector_1040(opacity='0.6', d='M543.634 621.169H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
        path#Vector_1041(opacity='0.6', d='M543.634 649.533H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
        path#Vector_1042(opacity='0.6', d='M543.634 677.898H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
        path#Vector_1043(opacity='0.6', d='M543.634 706.262H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
        path#Vector_1044(opacity='0.6', d='M543.634 737.131H1243.8', stroke='#EB9A12', stroke-opacity='0.8', stroke-miterlimit='10')
      rect(id='å§å°_2', x='529', y='435', width='725', height='26', fill='#F9ECBF')
      rect(id='ç²‰è‰²å§å°', x='524', y='431', width='735', height='16', rx='4', fill='#FF8E8E')
