.container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100vh * ($layout-width / $layout-height);
  }
  &__loaded {
    display: block;
  }

  @media (min-aspect-ratio: #{$layout-width}/#{$layout-height}) {
    display: none;
  }
}
.scenery {
  pointer-events: none;
}
.logo {
  height: 18vh;
  left: 24px;
  top: 0;
  position: fixed;
  @include size(padS) {
    max-width: 65vw;
    height: auto;
  }
}
.menu {
  position: fixed;
  height: 80px;
  width: 80px;
  right: 32px;
  top: 32px;
  border-radius: 50%;
  color: #2d3640;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 32px -6px #444444cc;
  cursor: pointer;
  z-index: 2;
  @include size(padS) {
    height: 48px;
    width: 48px;
    right: 16px;
    top: 16px;
  }
  &--active {
    box-shadow: none;
  }
  &__icon {
    position: relative;
    background: currentColor;
    height: 4px;
    width: 28px;
    .menu--active & {
      background: #fff;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: currentColor;
      transform: translateY(-10px);
      content: "";
      transition: transform 0.3s;
      transform-origin: center;
      .menu--active & {
        transform: rotate(45deg);
      }
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: currentColor;
      transform: translateY(10px);
      transform-origin: center;
      content: "";
      transition: transform 0.3s;
      .menu--active & {
        transform: rotate(-45deg);
      }
    }
  }

  &__list {
    height: 100vh;
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 60px;
    position: fixed;
    left: 100%;
    background: #fff;
    transition: transform 0.3s;
    .menu--active + & {
      transform: translateX(-100%);
    }
  }
  &__item {
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    svg {
      position: absolute;
      transition: all 0.3s;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }
    &:hover {
      svg {
        left: -24px;
        opacity: 1;
      }
    }
  }
}

.ribbon {
  @include rect(786.76, -127.03, 617.12, 231.47);
  @include img("../assets/ribbon.png");
  &-1 {
    @include rect(1366, -155, 653, 300);
    @include img("../assets/ribbon-1.png");
  }
  &-2 {
    @include rect(2127.02, -81.14, 617.12, 231.47);
    @include img("../assets/ribbon-2.png");
  }
}
.vegetableBasket {
  @include rect(486, 612, 371, 264);
  @include img("../assets/vegetableBasket.png");
}
.grandma {
  @include rect(1528, 384, 545.1, 390);
  // @include img("../assets/grandma.png");
}

.grandmaBody {
  @include rect(1553, 370, 268, 416, 1528, 384, 545.1, 390);
  @include img("../assets/grandmaBody.png");
}
.grandmaHand {
  @include rect(1730, 526, 347, 143, 1528, 384, 545.1, 390);
  @include img("../assets/grandmaHand.png");
}
.buttonEvents {
  @include rect(1777, 605, 120, 60 /*, 1528, 384, 545.1, 390*/);
  @include img("../assets/buttonEvents.png");
}
.wineCabinet {
  @include rect(2061, 430, 451, 438);
  @include img("../assets/wineCabinet.png");
}
.wine-o {
  @include rect(2100, 554, 51, 187.36, 2061, 430, 451, 438);
  @include img("../assets/wine.png");
  transform: scale(2.3) rotate(25deg);
}
.fruitCabinet {
  @include rect(-129, 607.99, 641.86, 366.72);
  @include img("../assets/fruitCabinet.png");
}
.refrigerator {
  @include rect(1298, 452, 569, 428);
  @include img("../assets/refrigerator.png");
}
.ryan {
  @include rect(2060, 320.03, 410.15, 363.97);
  // @include img("../assets/ryan.png");
}
.ryanBody {
  @include rect(2229.68, 305.03, 240.47, 363.97, 2060, 305.03, 410.15, 363.97);
  @include img("../assets/ryanBody.png");
}
.ryanLeftHand {
  @include rect(2254.17, 414.35, 213.84, 212.56, 2060, 305.03, 410.15, 363.97);
  @include img("../assets/ryanLeftHand.png");
}
.ryanRightHand {
  @include rect(2060, 339.18, 291.92, 182.21, 2060, 305.03, 410.15, 363.97);
  @include img("../assets/ryanRightHand.png");
}
.buttonPSR {
  @include rect(2200, 534, 230, 65 /*, 2060, 305.03, 410.15, 363.97*/);
  @include img("../assets/buttonPSR.png");
}
// .protagonistContainer {
//   display: block;
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: auto;
// }
// .protagonistSvg {
//   display: block;
// }
.richman {
  @include rect(167, 340, 748.07, 550);
  @include size(padS) {
    display: none;
  }
}
.richman-mobile {
  display: none;
  @include size(padS) {
    @include rect(1, 1, 359 * 7, 264 * 7);
    display: block;
    position: fixed;
    left: 50vw;
    top: auto;
    bottom: 0;
    transform: translate(-50%, 12%);
  }
}
.protagonist {
  @include rect(167, 340, 748.07, 550, 167, 340, 748.07, 550);
  @include img("../assets/protagonist.png");
}
.noodles {
  @include rect(711, 590.69, 69.23 * 1.4, 74 * 1.4, 167, 340, 748.07, 550);
  @include img("../assets/noodles.png");
}
.chocolate {
  @include rect(770.05, 563, 104.55 * 1.32, 90.35 * 1.32, 167, 340, 748.07, 550);
  @include img("../assets/chocolate.png");

  transform: rotate(-16deg);
}
.crab {
  @include rect(588, 485.76, 177.41 * 1.4, 141.87 * 1.4, 167, 340, 748.07, 550);
  @include img("../assets/crab.png");
}
.avocado {
  @include rect(744, 500.87, 66.53 * 1.4, 114.51 * 1.4, 167, 340, 748.07, 550);
  @include img("../assets/avocado.png");
}
.wine {
  @include rect(568, 430.83, 51 * 3, 112 * 3, 167, 340, 748.07, 550);
  @include img("../assets/wine.png");
}
.juice {
  @include rect(830.1, 510, 56.91 * 1.55, 120.73 * 1.55, 167, 340, 748.07, 550);
  @include img("../assets/juice.png");
  transform: rotate(-24deg);
}
.tv {
  @include rect(2120, -8, 360, 342);
  @include img("../assets/tv.png");
}
.buttonSVG {
  @include rect(2138, 76, 260, 63 /*, 2120, -8, 360, 342*/);
  @include img("../assets/buttonSVG.png");
}
.mainTableItems {
  @include rect(835.03, 263.74, 404.97, 193.22);
  @include img("../assets/mainTableItemsAll.png");
}
.mainTableItemsStar {
  @include rect(936, 335, 119.54, 144, 835.03, 263.74, 404.97, 193.22);
  @include img("../assets/mainTableItemsStar.png");
}
.mainTableItemsLoudly {
  @include rect(853.09, 358.59, 113.6, 82.49, 835.03, 263.74, 404.97, 193.22);
  @include img("../assets/mainTableItemsLoudly.png");
}
.buttonMNT {
  @include rect(890, 260, 258, 63 /*, 835.03, 263.74, 404.97, 193.22*/);
  @include img("../assets/buttonMNT.png");
}
.supportingRole {
  @include rect(1374, 202, 486.26, 392);
  @include img("../assets/supportingRole.png");
}
.internationalFruit {
  @include rect(1960, 270, 551.1, 358);
  @include img("../assets/internationalFruit.png");
}
.avocado-o {
  @include rect(1975.43, 348, 40.5, 69.71, 1960, 270, 551.1, 358);
  @include img("../assets/avocado.png");

  transform: scale(1.3);
}
.taiwanFishery {
  @include rect(847, 472, 561.5, 303.69);
  @include img("../assets/taiwanFishery.png");
}
.crab-o {
  @include rect(847, 612.48, 177.41, 141.87, 847, 472, 561.5, 303.69);
  @include img("../assets/crab.png");
  transform: scale(1.3);
}
.fishEye {
  background-color: #fff;
  border-radius: 50%;
  &::after {
    content: "";
    position: absolute;
    background-color: #303a43;
    top: 17%;
    bottom: 17%;
    left: 17%;
    right: 17%;
    border-radius: 50%;
  }
  &-1 {
    @include rect(936, 524, 10, 10, 847, 472, 561.5, 303.69);
  }
  &-2 {
    @include rect(987, 524, 10, 10, 847, 472, 561.5, 303.69);
  }
  &-3 {
    @include rect(1038, 524, 10, 10, 847, 472, 561.5, 303.69);
  }
  &-4 {
    @include rect(1090, 524, 10, 10, 847, 472, 561.5, 303.69);
  }
  &-5 {
    @include rect(1141, 524, 10, 10, 847, 472, 561.5, 303.69);
  }
  &-6 {
    transform: rotate(4deg);
    @include rect(1127, 625, 12, 12, 847, 472, 561.5, 303.69);
  }
  &-7 {
    transform: rotate(4deg);
    @include rect(1152, 634, 12, 12, 847, 472, 561.5, 303.69);
  }
  &-8 {
    @include rect(1196, 658, 12, 12, 847, 472, 561.5, 303.69);
  }
  &-9 {
    @include rect(1224, 659, 12, 12, 847, 472, 561.5, 303.69);
  }
  &-10 {
    transform: rotate(17deg);
    @include rect(1028, 690, 13, 13, 847, 472, 561.5, 303.69);
  }
  &-11 {
    transform: rotate(17deg);
    @include rect(1042, 693, 13, 13, 847, 472, 561.5, 303.69);
  }
}
.poster {
  @include rect(1267, 83, 145, 160.93);
  @include img("../assets/poster.png");
}
.buttonPC {
  @include rect(1388, 140, 216, 59 /*, 1267, 83, 145, 160.93*/);
  @include img("../assets/buttonPC.png");
}
.yellowTable {
  @include rect(524, 431, 735, 356);
  @include img("../assets/yellowTable.png");
}
.hao {
  @include rect(606.15, 92, 209.79, 409.3);
  @include img("../assets/hao.png");
}
.haoHandContainer {
  @include rect(590, 317, 187.75, 120.47, 606.15, 92, 209.79, 409.3);
}
.haoHand {
  @include rect(590, 317, 151.84, 120.47, 590, 317, 187.75, 120.47);
  @include img("../assets/haoHand.png");
}
.milkTea {
  @include rect(712, 324, 65.75, 112.84, 590, 317, 187.75, 120.47);
  @include img("../assets/milkTea.png");
}
.pearl {
  background: #562424;
  border-radius: 50%;
  &-1 {
    @include rect(744.15, 396.09, 6.33, 6.33, 712, 324, 65.75, 112.84);
  }
  &-2 {
    @include rect(731.48, 395.11, 6.33, 6.33, 712, 324, 65.75, 112.84);
  }
  &-3 {
    @include rect(753.89, 403.88, 6.33, 6.33, 712, 324, 65.75, 112.84);
  }
  &-4 {
    @include rect(748.53, 415.08, 6.33, 6.33, 712, 324, 65.75, 112.84);
  }
  &-5 {
    @include rect(737.81, 406.8, 6.33, 6.33, 712, 324, 65.75, 112.84);
  }
  &-6 {
    @include rect(729.05, 415.08, 6.33, 6.33, 712, 324, 65.75, 112.84);
  }
}
.buttonExhibitor {
  @include rect(535, 327.5, 138, 64.5 /*, 606.15, 92, 209.79, 409.3*/);
  @include img("../assets/buttonExhibitor.png");
}
.worldCabinet {
  @include rect(1769, 30, 334, 536);
  @include img("../assets/worldCabinet.png");
}
.juice-o {
  @include rect(1830, 245.9, 25.44, 54.24, 1769, 30, 334, 536);
  @include img("../assets/juice.png");
  transform: scale(1.8) rotate(-24deg);
}
.candyTableContainer {
  @include rect(1059, 156, 802, 411);
}
.candyTable {
  @include rect(1059, 156, 802, 411, 1059, 156, 802, 411);
  @include img("../assets/candyTable.png");
}
.chocolate-o {
  @include rect(1545, 155, 79.45, 68.65, 1059, 156, 802, 411);
  @include img("../assets/chocolate.png");
  transform: scale(1.3) rotate(-16deg);
}
.ladder {
  @include rect(385, 138, 260.35, 454.9);
  // @include img("../assets/ladder.png");
}
.ladderBody {
  @include rect(385, 175, 260.35, 417.9, 385, 138, 260.35, 454.9);
  @include img("../assets/ladderBody.png");
}
.ladderLeftHand {
  @include rect(428.2, 181.5, 119.35, 97.71, 385, 138, 260.35, 454.9);
  @include img("../assets/ladderLeftHand.png");
}
.ladderRightHand {
  @include rect(390.07, 251.6, 141.44, 99.08, 385, 138, 260.35, 454.9);
  @include img("../assets/ladderRightHand.png");
}
.ladderCarton {
  @include rect(458, 138.81, /* 163.3*/ 244.95, /*94.5*/ 141.75, 385, 138, 260.35, 454.9);
  @include img("../assets/ladderCarton.png");
}
.buttonFactSheet {
  @include rect(461, 152, 155, 59 /*, 385, 138, 260.35, 454.9*/);
  @include img("../assets/buttonFactSheet.png");
}
.cabinet {
  @include rect(700, 72, 344.76, 436.19);
  @include img("../assets/cabinet.png");
  &-1 {
    @include rect(10, 157, 345, 364);
    @include img("../assets/cabinet-1.png");
  }
}
.noodles-o {
  @include rect(940.08, 118, 42.62, 45.8, 700, 72, 344.76, 436.19);
  @include img("../assets/noodles.png");
  transform: rotate(50deg) scale(1.44);
}

.carton {
  @include rect(516, 213, 197, 282);
  @include img("../assets/carton.png");
}
.elsa {
  @include rect(10, 192.76, 314.09, 461.28);
  @include img("../assets/elsa.png");
}
.buttonVisitor {
  @include rect(149, 337, 119, 56 /*, 10, 192.76, 314.09, 461.28*/);
  @include img("../assets/buttonVisitor.png");
}
.orangeCabinet {
  @include rect(-28, 157, 580, 411);
  @include img("../assets/orangeCabinet.png");
}
.window {
  @include rect(2345, -3, 224, 129);
  @include img("../assets/window.png");
  &-1 {
    @include rect(658, -2, 224, 129);
    @include img("../assets/window-1.png");
  }
}
.background {
  @include rect(0, -5, 2496, 771);
  @include img("../assets/background.png");
  background-size: cover;
}
.windowContent {
  background: #cce2e1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 4.5%;
  right: 4.5%;
  bottom: 11%;
}
.windowClouds {
  @include rect(20, 125, 1496, 971);
  @include img("../assets/windowClouds.png");
  &-1 {
    @include rect(1080, 445, 1196, 821);
    @include img("../assets/windowClouds.png");
  }
}

.ratioError {
  display: none;
  @media (min-aspect-ratio: #{$layout-width}/#{$layout-height}) {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 120vh;
    width: 120vw;
    left: -10vw;
    top: -10vh;
    background: #fff;
    transition: all 0.6s;
  }
  &__logo {
    width: 50vw;
    height: 24vh;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__text {
    color: #bdbdbd;
    font-size: 24px;
  }
}

.loadingAsset {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 33;
  align-items: center;
  justify-content: center;
  height: 120vh;
  width: 120vw;
  left: -10vw;
  top: -10vh;
  background: #fff;
  transition: all 0.6s;
  cursor: none;
  transition: opacity 0.3s;

  @include size(padM){
    svg{
      width:100%;
    }
  }

  &__loaded {
    opacity: 0;
    pointer-events: none;
  }

  &__logo {
    width: 50vw;
    height: 24vh;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__text {
    color: #bdbdbd;
    font-size: 24px;
  }

  &__cursor {
    position: absolute;
    transition: opacity 0.3;

    &__star {
      fill: #ddd;
      transform: scale(0.6);
      transition: all 0.3s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform-origin: center center;

      .loadingAsset__clickable & {
        fill: #ffce54;
        transform: scale(1);
      }
    }
    &__go {
      opacity: 0;
      transition: opacity 0.3s;

      .loadingAsset__clickable & {
        opacity: 1;
      }
    }

    .loadingAsset__clickable & {
      opacity: 1;
    }
  }
}
