@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fillBlock {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
    transform: translate3D(0, 0, 0);
  }
  100% {
    width: 30%;
    transform: translate3D(110%, 0, 0);
  }
}

/*
* 色塊帶入文字 
*/

//animation
.fillBlockAppear {
  animation-name: leftToRight;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  & &_text {
    animation-name: rightToLeft;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  &::after {
    animation-name: fillBlock;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}
//init
.fillBlockAppearInit {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transform: translateX(-100%);
  .fillBlockAppear_text {
    transform: translateX(100%);
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    top: 0;
    bottom: 0;
    background-color: currentColor;
  }
}
