@mixin size($media) {
  @if $media == desktop {
    @media (max-width: $media-desktop) {
      @content;
    }
  }
  @if $media == desktop-s {
    @media (max-width: $media-desktop-s) {
      @content;
    }
  } @else if $media == pad {
    @media (max-width: $media-pad) {
      @content;
    }
  } @else if $media == padM {
    @media (max-width: $media-pad-middle) {
      @content;
    }
  } @else if $media == padP {
    @media (max-width: $media-pad-portrait) {
      @content;
    }
  } @else if $media == padS {
    @media (max-width: $media-pad-small) {
      // @media (max-aspect-ratio: 360/620) {
      @content;
      // }
    }
  } @else if $media == phone {
    @media (max-width: $media-phone) {
      @content;
    }
  } @else if $media == phonexs {
    @media (max-width: $media-phone-xs) {
      @content;
    }
  }
}
@mixin maxSize($media) {
  @if $media == desktop {
    @media (min-width: #{$media-desktopM}) {
      @content;
    }
  }
  @if $media == desktop-s {
    @media (min-width: $media-desktop-sM) {
      @content;
    }
  } @else if $media == pad {
    @media (min-width: $media-padM) {
      @content;
    }
  } @else if $media == padM {
    @media (min-width: $media-pad-middleM) {
      @content;
    }
  } @else if $media == padP {
    @media (min-width: $media-pad-portraitM) {
      @content;
    }
  } @else if $media == padS {
    @media (min-width: $media-pad-smallM) {
      @content;
    }
  } @else if $media == phone {
    @media (min-width: $media-phoneM) {
      @content;
    }
  } @else if $media == phonexs {
    @media (min-width: $media-phone-xsM) {
      @content;
    }
  }
}
@mixin font($f) {
  font-size: #{$f / $font}rem;
}
@mixin rect(
  $x,
  $y,
  $width,
  $height,
  $parentX: 0,
  $parentY: 0,
  $parentW: $layout-width,
  $parentH: $layout-height
) {
  position: absolute;
  width: $width/$parentW * 100%;
  top: ($y - $parentY) / $parentH * 100%;
  left: ($x - $parentX) / $parentW * 100%;
  &::before {
    content: "";
    display: block;
    padding-top: $height / $width * 100%;
  }
}
@mixin rectM(
  $x,
  $y,
  $width,
  $height,
  $parentX: 0,
  $parentY: 0,
  $parentW: $layout-widthM,
  $parentH: $layout-heightM
) {
  position: absolute;
  width: $width/$parentW * 100%;
  top: ($y - $parentY) / $parentH * 100%;
  left: ($x - $parentX) / $parentW * 100%;
  &::before {
    content: "";
    display: block;
    padding-top: $height / $width * 100%;
  }
}

@mixin img($url) {
  background-image: url($url);
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

//為了解決手機 url bar 高度會讓vh值不斷變動的問題
@function vh($q) {
  @return calc(var(--vh, 1vh) * #{$q});
}
