// *************************************
//
//   Layout
//   -> the layout level variable
//
// *************************************
// -------------------------------------
//   ap-layout
// -------------------------------------

$layout-width: 2494;
$layout-height: 766;

// -------------------------------------
//   media queries
// -------------------------------------

$media-desktop-s: 1280px;
$media-pad: 1024px;
$media-pad-middle: 900px;
$media-pad-portrait: 768px;
$media-pad-small: 600px;
$media-phone: 500px;
$media-phone-xs: 320px;
