extends global/layout

block var
  - classlist='indexCustom';
  - pagetitle='首頁';

block prejs
  //- script(src="js/vendors/scrollreveal/scrollreveal.min.js" type="text/javascript")

block js
  script(src="./js/index/index.js" type="text/javascript")
  script(src="./js/index/menu.js" type="text/javascript")

block content
  .background.backend.scenery
  .window-1.backend.scenery
    .windowContent
      .windowClouds
      .windowClouds-1
  .window.backend.scenery
    .windowContent
      .windowClouds
      .windowClouds-1
  .orangeCabinet.backend.scenery
  .cabinet-1.backend.scenery
  a.elsa.backend
  a.buttonVisitor.backend
  .carton.backend.scenery
  .cabinet.backend.scenery
    .noodles-o
  a.ladder.backend
    .ladderLeftHand.scenery
    .ladderBody.scenery
    .ladderCarton.scenery
    .ladderRightHand.scenery
  a.buttonFactSheet.backend
  .candyTableContainer.backend.scenery
    .chocolate-o
    .candyTable
  .worldCabinet.backend.scenery
    .juice-o
  a.poster.backend
  a.buttonPC.backend
  .supportingRole.middle.scenery
  a.hao.middle
    .haoHandContainer.middle.scenery
      .milkTea
        .pearl.pearl-1
        .pearl.pearl-2
        .pearl.pearl-3
        .pearl.pearl-4
        .pearl.pearl-5
        .pearl.pearl-6
      .haoHand
  a.buttonExhibitor.middle
  .yellowTable.middle.scenery
  .mainTableItems.middle
    .mainTableItemsLoudly.scenery
    a.mainTableItemsStar
  a.buttonMNT.middle
  .internationalFruit.middle.scenery
    .avocado-o
  .taiwanFishery.middle.scenery
    .crab-o
    .fishEye.fishEye-1
    .fishEye.fishEye-2
    .fishEye.fishEye-3
    .fishEye.fishEye-4
    .fishEye.fishEye-5
    .fishEye.fishEye-6
    .fishEye.fishEye-7
    .fishEye.fishEye-8
    .fishEye.fishEye-9
    .fishEye.fishEye-10
    .fishEye.fishEye-11
  .ribbon-2.front.scenery
  .ribbon-1.front.scenery
  .ribbon.front.scenery
  a.tv.middle
  a.buttonSVG.middle
  .refrigerator.front.scenery
  //- include ./svg/richman
  .richman.scenery
    .wine
    .avocado
    .crab
    .juice
    .chocolate
    .noodles
    .protagonist
  a.ryan
    .ryanRightHand.scenery
    .ryanBody.scenery
    .ryanLeftHand.scenery
  .fruitCabinet.front.scenery
  .wineCabinet.scenery
    .wine-o
  a.buttonPSR 
  a.grandma
    .grandmaHand.scenery
    .grandmaBody.scenery
  a.buttonEvents 
  .vegetableBasket.front.scenery


