extends global/layout

block var
  - classlist='indexCustom';
  - pagetitle='首頁';

block prejs
  //- script(src="js/vendors/scrollreveal/scrollreveal.min.js" type="text/javascript")

block js
  script(src="./js/index/index.js" type="text/javascript")

block content
  .background.backend.scenery
  .window-1.backend.scenery
  .window.backend.scenery
  .orangeCabinet.backend.scenery
  .cabinet-1.backend.scenery
  a.elsa.backend
  a.buttonVisitor.backend
  .carton.backend.scenery
  .cabinet.backend.scenery
  a.ladder.backend
    .ladderLeftHand.scenery
    .ladderBody.scenery
    .ladderCarton.scenery
    .ladderRightHand.scenery
  a.buttonFactSheet.backend
  .candyTable.backend.scenery
  .worldCabinet.backend.scenery
  a.poster.backend
  a.buttonPC.backend
  .supportingRole.middle.scenery
  a.hao.middle
    .haoHand.middle.scenery
  a.buttonExhibitor.middle
  .yellowTable.middle.scenery
  a.mainTableItems.middle
  a.buttonMNT.middle
  .internationalFruit.middle.scenery
  .taiwanFishery.middle.scenery
  .ribbon-2.front.scenery
  .ribbon-1.front.scenery
  .ribbon.front.scenery
  a.tv.middle
  a.buttonSVG.middle
  .refrigerator.front.scenery
  //- include ./svg/richman
  //- .protagonist.scenery
  a.ryan
    .ryanRightHand.scenery
    .ryanBody.scenery
    .ryanLeftHand.scenery
  a.buttonPSR 
  .fruitCabinet.front.scenery
  .wineCabinet.scenery
  a.grandma
    .grandmaHand.scenery
    .grandmaBody.scenery
  a.buttonEvents 
  .vegetableBasket.front.scenery


