extends global/layout

block var
  - classlist='indexCustom';
  - pagetitle='首頁';

block prejs
  //- script(src="js/vendors/scrollreveal/scrollreveal.min.js" type="text/javascript")

block js
  script(src="js/index/index.js" type="text/javascript")
  
block content
  div.background.backend.scenery
  div.window-1.backend.scenery
  div.window.backend.scenery
  div.orangeCabinet.backend.scenery
  div.cabinet-1.backend.scenery
  div.elsa.backend.scenery
  div.carton.backend.scenery
  div.cabinet.backend.scenery
  div.ladder.backend.scenery
  div.candyTable.backend.scenery
  div.worldCabinet.backend.scenery
  div.poster.backend.scenery
  div.supportingRole.middle.scenery
  div.hao.middle.scenery
  div.haoHand.middle.scenery
  div.yellowTable.middle.scenery
  div.mainTableItems.middle.scenery
  div.internationalFruit.middle.scenery
  div.taiwanFishery.middle.scenery
  div.tv.middle.scenery
  div.protagonist
  div.refrigerator.front.scenery
  div.ryan.front.scenery
  div.fruitCabinet.front.scenery
  div.wineCabinet.front.scenery
  div.grandma.front.scenery
  div.vegetableBasket.front.scenery
  //- div.ribbon-2.front.scenery
  //- div.ribbon-1.front.scenery
  //- div.ribbon.front.scenery


  //- //- include ./icon/1foodTaipei.pug
  //- //- 背景
  //- include ./icon/background.pug
  //- include ./icon/window.pug
  //- include ./icon/backendCabinet.pug
  //- include ./icon/poster.pug

  //- //- 後景
  //- include ./icon/elsa.pug
  //- include ./icon/carton.pug
  //- include ./icon/ladder.pug
  //- include ./icon/candyTable.pug

  //- //- 中景
  //- include ./icon/hao.pug
  //- include ./icon/internationalFruit.pug
  //- include ./icon/supportingRole.pug
  //- include ./icon/mainTableItems.pug
  //- include ./icon/yellowTable.pug
  //- include ./icon/taiwanFishery.pug
  //- include ./icon/tv.pug

  //- //- 主角
  //- include ./icon/protagonist.pug

  //- //- 前景
  //- include ./icon/ryan.pug
  //- include ./icon/refrigerator.pug
  //- include ./icon/grandma.pug
  //- include ./icon/frontCabinet.pug
  //- include ./icon/vegetableBasket.pug
  //- include ./icon/ribbon.pug
