.menu {
  height: 80px;
  width: 80px;
  right: 32px;
  top: 32px;
  border-radius: 50%;
  color: #2d3640;
  background: #fff;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff, 0 4px 32px -6px #444444cc;
  cursor: pointer;
  transition: box-shadow 0.7s;
  position: absolute;
  pointer-events: auto;
  // box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  .menu--active & {
    box-shadow: 0 0 0 160vw #fff, 0 0 0 120vh #fff, 0 0 0 0 #44444400;
    @include size(padS) {
      box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff, 0 0 0 0 #44444400;
    }
  }
  @include size(padS) {
    height: 48px;
    width: 48px;
    right: 16px;
    top: 5px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff, 0 0 0 0 #44444400;
  }
  svg {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #closeBtn {
    opacity: 0;
    transition: opacity 0.3s;
    .menu--active & {
      opacity: 1;
    }
  }
  #openBtn {
    opacity: 1;
    transition: opacity 0.3s;
    .menu--active & {
      opacity: 0;
    }
  }
  &__container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;

    &.menu--active {
      z-index: 2;
      pointer-events: auto;
      @include size(padS) {
        z-index: 4;
        background: #ffffff00;
      }
    }
    @include size(padS) {
      z-index: 1;
      background: #fff;
      height: 58px;
      width: 100vw;
    }
  }
  &__logo {
    display: none;
    @include size(padS) {
      display: inline;
      margin-top: 11px;
      margin-left: 16px;
    }
    .menu--active & {
      @include size(padS) {
        display: none;
      }
    }
  }
  &__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    font-size: 14px;
    opacity: 0;
    .menu--active & {
      display: none;
    }
    .menu:hover & {
      transition: opacity 0.5s;
      opacity: 1;
    }
    &.open {
      display: none;
      .menu--active & {
        display: block;
      }
    }
    @include size(padS) {
      display: none !important;
    }
  }

  &__list {
    height: 100vh;
    width: 100vw;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    box-shadow: 0 4px 32px -6px #444444cc;

    @include size(padS) {
      width: 100vw;
      background: #fff;
      padding-top: 80px;
      padding-bottom: 24px;
      display: block;
      overflow: hidden;
    }
    .menu--active + & {
      z-index: 3;
      opacity: 1;
      transition: opacity 0.3s;
      transition-delay: 0.2s;
      @include size(padS) {
        pointer-events: auto;
        overflow: auto;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 100vh;
      max-width: 100vw;
    }
    .menuContent {
      display: none;
      @include maxSize(padP) {
        display: block;
      }
      &M {
        display: none;
        @include size(padS) {
          display: block;
          max-height: none;
          top: 0;
          transform: translateX(-50%);
        }
      }
      &PAD {
        display: none;
        @include size(padP) {
          display: block;
        }
        @include size(padS) {
          display: none;
        }
      }
    }
  }
}

.menu--active + * .menuItem {
  pointer-events: auto;
  // &:hover {
  //   transform: scale(1.1);
  // }
}

#scrollDown {
  position: absolute;
  bottom: 120px;
}
