html {
  font-size: 20px;
  background: #303a43;
  height: 100%;
}
body {
  height: 100%;

  /* Hide scrollbar */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera  */
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.scrollElement {
  position: absolute;
  width: 100px;
  top: 0;
  z-index: 0;
  .loaded & {
    height: 11000px;
    @include size(padS) {
      height: 5000px;
    }
  }
}
