html {
  font-size: 20px;
  background: #303a43;
  height: 100%;
}
body {
  height: 100%;
  user-select: none;
  /* Hide scrollbar */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera  */
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.scrollElement {
  position: absolute;
  width: 100px;
  top: 0;
  z-index: -1;
  .loaded & {
    height: 11000px;
    @include size(padS) {
      height: 5000px;
    }
  }
}

.english{
  .E{
    // opacity: 1;
    display:block;
  }
  .C{
    // opacity: 0;
    // pointer-events: none;
    display:none !important;
  }
  .Edown{
    transform: translateY(20px);
  }
}
.chinese{
  .E{
    // opacity: 0;
    // pointer-events: none;
    display:none !important;
  }
  .C{
    // opacity: 1;
    display:block;
  }
}
